#! /usr/bin/env bash

# UFS-Aerosols settings

#================================================================================
# 1. Aerosol settings
#================================================================================
export AERO_INPUTS_DIR="{{ AERO_INPUTS_DIR }}"

#-----------------------------------------------
# Diag Table and Field Table for GOCART aerosols
#-----------------------------------------------
export AERO_DIAG_TABLE="${PARMgfs}/ufs/fv3/diag_table.aero"
export AERO_FIELD_TABLE="${PARMgfs}/ufs/fv3/field_table.aero"

# Aerosol configuration
export AERO_CONFIG_DIR="${PARMgfs}/ufs/gocart"

# Aerosol convective scavenging factors (list of string array elements)
# Element syntax: '<tracer_name>:<factor>'. Use <tracer_name> = * to set default factor for all aerosol tracers
# Scavenging factors are set to 0 (no scavenging) if unset
export fscav_aero="'*:0.3','so2:0.0','msa:0.0','dms:0.0','nh3:0.4','nh4:0.6','bc1:0.6','bc2:0.6','oc1:0.4','oc2:0.4','dust1:0.6','dust2:0.6', 'dust3:0.6','dust4:0.6','dust5:0.6','seas1:0.5','seas2:0.5','seas3:0.5','seas4:0.5','seas5:0.5'"
#
# Number of diagnostic aerosol tracers (default: 0)
export dnats_aero=2

#================================================================================
# 2. Aerosol emissions settings
#================================================================================
# Biomass burning emission dataset. Choose from: gbbepx, qfed, none
export AERO_EMIS_FIRE="qfed"
export AERO_EMIS_FIRE_VERSION="061"
export AERO_EMIS_FIRE_HIST=1 # Use historical fire emissions | 1 = true 0 = false
export FIRE_EMIS_NRT_DIR="" #TODO: set to DCOM for WCOSS2 "${DCOMROOT}/YYYYMMDD/firewx" # Directory containing NRT fire emissions

#===============================================================================
# 3. NEXUS settings
#===============================================================================
# NEXUS aerosol emissions dataset. Choose from: gocart, none

# NEXUS configuration set
export NEXUS_CONFIG="{{ NEXUS_CONFIG | default('gocart') }}" # Options: gocart, none
export NEXUS_CONFIG_DIR="${PARMgfs}/chem/nexus/${NEXUS_CONFIG}" # Directory containing NEXUS configuration files

# NEXUS Inputs
# TODO: when this is merged this will point to AERO_INPUTS_DIR for operations
export NEXUS_INPUT_DIR="/gpfs/f6/bil-fire3/world-shared/Emissions/GEFS_ExtData/nexus"

#--------------------------
# NEXUS Time Step (seconds)
#--------------------------
export NEXUS_TSTEP="{{ NEXUS_TSTEP | default(3600) }}" # Default NEXUS time step in seconds

#------------------
# NEXUS Grid
#------------------
export NEXUS_NX="{{ NEXUS_NX | default(1440) }}"
export NEXUS_NY="{{ NEXUS_NY | default(720) }}"
export NEXUS_XMIN="{{ NEXUS_XMIN | default(-180.0) }}"
export NEXUS_XMAX="{{ NEXUS_XMAX | default(180.0) }}"
export NEXUS_YMIN="{{ NEXUS_YMIN | default(-90.0) }}"
export NEXUS_YMAX="{{ NEXUS_YMAX | default(90.0) }}"
export NEXUS_NZ="{{ NEXUS_NZ | default(1) }}"

#-------------------
# NEXUS Config Files
#-------------------
export NEXUS_GRID_NAME="{{ NEXUS_GRID_NAME | default('HEMCO_sa_Grid.rc') }}"
export NEXUS_TIME_NAME="{{ NEXUS_TIME_NAME | default('HEMCO_sa_Time.rc') }}"
export NEXUS_DIAG_NAME="{{ NEXUS_DIAG_NAME | default('HEMCO_sa_Diag.rc') }}"
export NEXUS_SPEC_NAME="{{ NEXUS_SPEC_NAME | default('HEMCO_sa_Spec.rc') }}"
export NEXUS_CONFIG_NAME="{{ NEXUS_CONFIG_NAME | default('NEXUS_Config.rc') }}"

#------------------
# NEXUS Diagnostics
#------------------
export NEXUS_DIAG_PREFIX="{{ NEXUS_DIAG_PREFIX | default('NEXUS_DIAG') }}"
export NEXUS_DIAG_FREQ="{{ NEXUS_DIAG_FREQ | default('Hourly') }}" # Options: Hourly, Daily, Monthly

#------------------
# NEXUS Logging
#------------------
export NEXUS_LOGFILE="{{ NEXUS_LOGFILE | default('NEXUS.log') }}"

#------------------
# NEXUS Emissions
#------------------
export NEXUS_DO_MEGAN=.false # TODO: Add MEGAN biogenic emissions in the furture
export NEXUS_DO_CEDS2019=.true. # Use CEDS2019 emissions
export NEXUS_DO_CEDS2024=.false. # Use CEDS2024 emissions
export NEXUS_DO_HTAPv2=.true. # Use HTAPv2 emissions
export NEXUS_DO_HTAPv3=.false. # TODO: Currently only uses HTAPv2 for this.
export NEXUS_DO_CAMS=.false. # Use CAMS global emissions
export NEXUS_DO_CAMSTEMPO=.false. # Use CAMS temporal emissions

echo "END: config.aero"
