<?xml version="1.0"?>
<!DOCTYPE workflow
[
	<!--
	PROGRAM
		Auxiliary workflow manager for Global Forecast System
		Variables:
		PSLOT: The name of this auxiliary system (used for offline archiving and verification)
		MAXTRIES: How many times to run a job
		HOME_repo: Where the official repository is located
		EXP_aux: Where the expdir for this auxiliary system lives (can be the same as GFS)
		ECF_OUT_gfs: The GFS ecflow output directory; used as triggers
		DATAROOT_aux: DATAROOT for this auxiliary system
		COM_aux: The auxiliary COM directory (ONLY set this to COM_gfs when going live, not for testing)
	-->
	<!ENTITY PSLOT "{{ PSLOT }}">
	<!ENTITY MAXTRIES "1">
	<!ENTITY HOME_repo "{{ HOMEglobal }}">
	<!ENTITY EXP_aux "{{ EXP_aux }}">
	<!ENTITY ECF_OUT_gfs "{{ ECF_OUT_gfs }}">
	<!ENTITY COM_aux "{{ COM_aux }}">
	<!ENTITY DATAROOT_aux "{{ DATAROOT_aux }}">
	<!ENTITY ARCDIR "{{ ARCDIR }}">
	<!ENTITY ATARDIR "{{ ATARDIR }}">

]>

<workflow realtime="F" scheduler="pbspro" cyclethrottle="1" taskthrottle="25">

	<log verbosity="10"><cyclestr>&EXP_aux;/logs/@Y@m@d@H.log</cyclestr></log>

	<!-- Define the cycles -->
	<cycledef group="gdas">{{ start_date }} {{ end_date }} 06:00:00</cycledef>
	<cycledef group="gfs">{{ start_date }} {{ end_date }} 06:00:00</cycledef>
	<cycledef group="metp">{{ start_date_metp }} {{ end_date_metp }} 24:00:00</cycledef>

<task name="gfs_tracker" cycledefs="gfs" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/tracker.sh</command>

	<jobname><cyclestr>&PSLOT;_gfs_tracker_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev</queue>
	<walltime>00:10:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>6G</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gfs_tracker.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gfs</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>

	<dependency>
		<datadep><cyclestr offset="06:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
	</dependency>

</task>

<task name="gfs_genesis" cycledefs="gfs" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/genesis.sh</command>

	<jobname><cyclestr>&PSLOT;_gfs_genesis_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev</queue>
	<walltime>00:40:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>25G</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gfs_genesis.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gfs</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>

	<dependency>
		<datadep><cyclestr offset="06:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
	</dependency>

</task>

<metatask name="gfs_metp" mode="parallel">

	<var name="metpcase">g2g1 g2o1 pcp1</var>

	<task name="gfs_metp#metpcase#" cycledefs="metp" maxtries="&MAXTRIES;">

		<command>&HOME_repo;/dev/job_cards/rocoto/metp.sh</command>

		<jobname><cyclestr>&PSLOT;_gfs_metp#metpcase#_@H</cyclestr></jobname>
		<account>GFS-DEV</account>
		<queue>dev</queue>
		<walltime>06:00:00</walltime>
		<nodes>1:ppn=1:tpp=1</nodes>
		<memory>80G</memory>
		<native>-l place=vscatter:shared</native>

		<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gfs_metp#metpcase#.log</cyclestr></join>

		<envar><name>RUN_ENVIR</name><value>emc</value></envar>
		<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
		<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
		<envar><name>NET</name><value>gfs</value></envar>
		<envar><name>RUN</name><value>gfs</value></envar>
		<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
		<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
		<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
		<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
		<envar><name>EDATE_GFS</name><value>2030010100</value></envar>
		<envar><name>METPCASE</name><value>#metpcase#</value></envar>
    <envar><name>ARCDIR</name><value>&ARCDIR;</value></envar>
    <envar><name>PSLOT</name><value>&PSLOT;</value></envar>

		<dependency>
			<or>
				<taskdep task="gfs_arch_vrfy"/>
				<and>
					<not><taskvalid task="gfs_arch_vrfy"/></not>
					<taskdep task="gfs_arch_vrfy" cycle_offset="-18:00:00"/>
					<not><cycleexistdep cycle_offset="-6:00:00"/></not>
					<not><cycleexistdep cycle_offset="-12:00:00"/></not>
				</and>
			</or>
		</dependency>

	</task>

</metatask>

<task name="gfs_arch_vrfy" cycledefs="gfs" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/arch_vrfy.sh</command>

	<jobname><cyclestr>&PSLOT;_gfs_arch_vrfy_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev_transfer</queue>
	<walltime>00:30:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>3GB</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gfs_arch_vrfy.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gfs</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
  <envar><name>DATAROOT</name><value>&DATAROOT_aux;/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
  <envar><name>ARCDIR</name><value>&ARCDIR;</value></envar>
  <envar><name>PSLOT</name><value>&PSLOT;</value></envar>

	<dependency>
		<and>
			<taskdep task="gfs_tracker"/>
			<taskdep task="gfs_genesis"/>
		</and>
	</dependency>

</task>

<task name="gfs_arch_logs" cycledefs="gfs" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/arch_ecf_logs.sh</command>

	<jobname><cyclestr>&PSLOT;_gfs_arch_logs_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev_transfer</queue>
	<walltime>00:30:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>3GB</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gfs_arch_logs.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gfs</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>ECF_LOG_DIR</name><value>&ECF_OUT_gfs;</value></envar>
  <envar><name>ATARDIR</name><value>&ATARDIR;</value></envar>

	<dependency>
		<datadep><cyclestr offset="06:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
	</dependency>

</task>

<metatask name="gfs_arch_tars" mode="parallel">

	<var name="tartype">gfsa gfsb gfs_flux gfs_netcdfb gfs_pgrb2b gfs_netcdfa gfswave ocean_6hravg ocean_native gfs_flux_1p00 gfsocean_analysis ice_6hravg ice_native gfs_restarta</var>

	<task name="gfs_arch_tar_#tartype#" cycledefs="gfs" maxtries="&MAXTRIES;">

		<command>&HOME_repo;/dev/job_cards/rocoto/arch_tars.sh</command>

		<jobname><cyclestr>&PSLOT;_gfs_arch_tar_#tartype#_@H</cyclestr></jobname>
		<account>GFS-DEV</account>
		<queue>dev_transfer</queue>
		<walltime>06:00:00</walltime>
		<nodes>1:ppn=1:tpp=1</nodes>
		<memory>3GB</memory>
		<native>-l place=vscatter:shared</native>

		<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gfs_arch_tar_#tartype#.log</cyclestr></join>

		<envar><name>RUN_ENVIR</name><value>emc</value></envar>
		<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
		<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
		<envar><name>NET</name><value>gfs</value></envar>
		<envar><name>RUN</name><value>gfs</value></envar>
		<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
		<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
		<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
		<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gfs.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
		<envar><name>TARBALL_TYPE</name><value>#tartype#</value></envar>
    <envar><name>ATARDIR</name><value>&ATARDIR;</value></envar>
    <envar><name>PSLOT</name><value>&PSLOT;</value></envar>
    <!-- Logs are archived separately for ecflow -->
		<envar><name>ARCH_LOGS</name><value>NO</value></envar>


		<dependency>
			<and>
				<taskdep task="gfs_tracker"/>
				<taskdep task="gfs_genesis"/>
				<metataskdep metatask="gfs_metp"/>
				<taskdep task="gfs_arch_vrfy"/>
			</and>
		</dependency>

	</task>

</metatask>

<task name="gdas_fit2obs" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/fit2obs.sh</command>

	<jobname><cyclestr>&PSLOT;_gdas_fit2obs_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev</queue>
	<walltime>01:20:00</walltime>
	<nodes>1:ppn=3:tpp=1</nodes>
	<memory>400GB</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gdas_fit2obs.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gdas</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>

	<dependency>
		<datadep><cyclestr offset="12:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
	</dependency>

</task>

<task name="gdas_arch_vrfy" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/arch_vrfy.sh</command>

	<jobname><cyclestr>&PSLOT;_gdas_arch_vrfy_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev_transfer</queue>
	<walltime>00:30:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>3GB</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gdas_arch_vrfy.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gdas</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
  <envar><name>ARCDIR</name><value>&ARCDIR;</value></envar>
  <envar><name>PSLOT</name><value>&PSLOT;</value></envar>

	<dependency>
		<and>
			<taskdep task="gdas_fit2obs"/>
		</and>
	</dependency>

</task>

<task name="gdas_arch_logs" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/arch_ecf_logs.sh</command>

	<jobname><cyclestr>&PSLOT;_gdas_arch_logs_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev_transfer</queue>
	<walltime>00:30:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>3GB</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gdas_arch_logs.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>gdas</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>ECF_LOG_DIR</name><value>&ECF_OUT_gfs;</value></envar>
  <envar><name>ATARDIR</name><value>&ATARDIR;</value></envar>
  <envar><name>PSLOT</name><value>&PSLOT;</value></envar>

	<dependency>
		<datadep><cyclestr offset="12:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
	</dependency>

</task>

<metatask name="gdas_arch_tars" mode="parallel">

	<var name="tartype">gdas gdasice gdasocean gdasocean_analysis gdaswave gdas_restarta gdas_restartb gdasice_restart gdasocean_restart gdaswave_restart</var>

	<task name="gdas_arch_tar_#tartype#" cycledefs="gdas" maxtries="&MAXTRIES;">

		<command>&HOME_repo;/dev/job_cards/rocoto/arch_tars.sh</command>

		<jobname><cyclestr>&PSLOT;_gdas_arch_tar_#tartype#_@H</cyclestr></jobname>
		<account>GFS-DEV</account>
		<queue>dev_transfer</queue>
		<walltime>06:00:00</walltime>
		<nodes>1:ppn=1:tpp=1</nodes>
		<memory>3GB</memory>
		<native>-l place=vscatter:shared</native>

		<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/gdas_arch_tar_#tartype#.log</cyclestr></join>

		<envar><name>RUN_ENVIR</name><value>emc</value></envar>
		<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
		<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
		<envar><name>NET</name><value>gfs</value></envar>
		<envar><name>RUN</name><value>gdas</value></envar>
		<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
		<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
		<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
		<envar><name>DATAROOT</name><value>&DATAROOT_aux;/gdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
		<envar><name>TARBALL_TYPE</name><value>#tartype#</value></envar>
    <envar><name>ATARDIR</name><value>&ATARDIR;</value></envar>
    <envar><name>PSLOT</name><value>&PSLOT;</value></envar>
    <!-- Logs are archived separately for ecflow -->
		<envar><name>ARCH_LOGS</name><value>NO</value></envar>
    <!-- The anlstat job does not run in ecflow, so do not archive it -->
    <envar><name>DO_ANLSTAT</name><value>NO</value></envar>

		<dependency>
			<and>
				<taskdep task="gdas_fit2obs"/>
				<taskdep task="gdas_arch_vrfy"/>
			</and>
		</dependency>

	</task>

</metatask>

<task name="enkfgdas_earc_vrfy" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/earc_vrfy.sh</command>

	<jobname><cyclestr>&PSLOT;_enkfgdas_earc_vrfy_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev_transfer</queue>
	<walltime>00:30:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>3GB</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/enkfgdas_earc_vrfy.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>enkfgdas</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/enkfgdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>ENSGRP</name><value>#grp#</value></envar>
  <envar><name>ARCDIR</name><value>&ARCDIR;</value></envar>
  <envar><name>PSLOT</name><value>&PSLOT;</value></envar>

	<dependency>
		<and>
		  <datadep><cyclestr offset="12:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
		</and>
	</dependency>

</task>

<task name="enkfgdas_arch_logs" cycledefs="gdas" maxtries="&MAXTRIES;">

	<command>&HOME_repo;/dev/job_cards/rocoto/arch_ecf_logs.sh</command>

	<jobname><cyclestr>&PSLOT;_enkfgdas_arch_logs_@H</cyclestr></jobname>
	<account>GFS-DEV</account>
	<queue>dev_transfer</queue>
	<walltime>00:30:00</walltime>
	<nodes>1:ppn=1:tpp=1</nodes>
	<memory>3GB</memory>
	<native>-l place=vscatter:shared</native>

	<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/enkfgdas_arch_logs.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
	<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
	<envar><name>NET</name><value>gfs</value></envar>
	<envar><name>RUN</name><value>enkfgdas</value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
	<envar><name>DATAROOT</name><value>&DATAROOT_aux;/enkfgdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>ECF_LOG_DIR</name><value>&ECF_OUT_gfs;</value></envar>
  <envar><name>ATARDIR</name><value>&ATARDIR;</value></envar>
  <envar><name>PSLOT</name><value>&PSLOT;</value></envar>

	<dependency>
		<datadep><cyclestr offset="12:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
	</dependency>

</task>

<metatask name="enkfgdas_earc_tars" mode="parallel">

	<var name="grp">00 01 02 03 04 05 06 07 08</var>

	<task name="enkfgdas_earc_tars_#grp#" cycledefs="gdas" maxtries="&MAXTRIES;">

		<command>&HOME_repo;/dev/job_cards/rocoto/earc_tars.sh</command>

		<jobname><cyclestr>&PSLOT;_enkfgdas_earc_tars_#grp#_@H</cyclestr></jobname>
		<account>GFS-DEV</account>
		<queue>dev_transfer</queue>
		<walltime>06:00:00</walltime>
		<nodes>1:ppn=1:tpp=1</nodes>
		<memory>3GB</memory>
		<native>-l place=vscatter:shared</native>

		<join><cyclestr>&COM_aux;/logs/@Y@m@d@H/enkfgdas_earc_tars_#grp#.log</cyclestr></join>

		<envar><name>RUN_ENVIR</name><value>emc</value></envar>
		<envar><name>HOMEglobal</name><value>&HOME_repo;</value></envar>
		<envar><name>EXPDIR</name><value>&EXP_aux;</value></envar>
		<envar><name>NET</name><value>gfs</value></envar>
		<envar><name>RUN</name><value>enkfgdas</value></envar>
		<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
		<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
		<envar><name>COMROOT</name><value>&COM_aux;</value></envar>
		<envar><name>DATAROOT</name><value>&DATAROOT_aux;/enkfgdas.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
		<envar><name>ENSGRP</name><value>#grp#</value></envar>
    <envar><name>ATARDIR</name><value>&ATARDIR;</value></envar>
    <envar><name>PSLOT</name><value>&PSLOT;</value></envar>
    <!-- Logs are archived separately for ecflow -->
		<envar><name>ARCH_LOGS</name><value>NO</value></envar>

		<dependency>
		  <datadep><cyclestr offset="12:00:00">&ECF_OUT_gfs;/@Y@m@d@H</cyclestr></datadep>
		</dependency>

	</task>

</metatask>

</workflow>
