[submodule "sorc/wxflow"]
  path = sorc/wxflow
  url = https://github.com/NOAA-EMC/wxflow
[submodule "sorc/gsi_utils.fd"]
  path = sorc/gsi_utils.fd
  url = https://github.com/NOAA-EMC/GSI-Utils.git
[submodule "sorc/gsi_monitor.fd"]
  path = sorc/gsi_monitor.fd
  url = https://github.com/NOAA-EMC/GSI-Monitor.git
[submodule "sorc/nexus.fd"]
  path = sorc/nexus.fd
  url = https://github.com/NOAA-OAR-ARL/NEXUS.git
  branch = feature/gcafs
