# Ignore all compiled files
#--------------------------
__pycache__
*.pyc
*.[aox]
*.mod
*.sw[a-p]

# Ignore folders
#-------------------
exec/
build*/
install*/

# Ignore fix directory symlinks
#------------------------------
fix/0readme
fix/fix_*
fix/gdas/

# Ignore parm file symlinks
#--------------------------
parm/config/config.base
parm/config/config.fv3
parm/config/config.resources
parm/gldas
parm/mon
parm/post

# Ignore sorc and logs folders from externals
#--------------------------------------------
sorc/*log
sorc/logs
sorc/fv3gfs.fd
sorc/gfs_post.fd
sorc/gsi.fd
sorc/gsi_monitor.fd
sorc/gsi_utils.fd
sorc/ufs_utils.fd
sorc/verif-global.fd

# Ignore sorc symlinks
#---------------------
sorc/calc_analysis.fd
sorc/calc_increment_ens.fd
sorc/calc_increment_ens_ncio.fd
sorc/emcsfc_ice_blend.fd
sorc/emcsfc_snow2mdl.fd
sorc/filter_topo.fd
sorc/fregrid.fd
sorc/gdas2gldas.fd
sorc/getsfcensmeanp.fd
sorc/getsigensmeanp_smooth.fd
sorc/getsigensstatp.fd
sorc/gfs_ncep_post.fd
sorc/gldas.fd
sorc/gldas2gdas.fd
sorc/gldas_forcing.fd
sorc/gldas_model.fd
sorc/gldas_post.fd
sorc/gldas_rst.fd
sorc/global_chgres.fd
sorc/global_cycle.fd
sorc/global_enkf.fd
sorc/global_gsi.fd
sorc/interp_inc.fd
sorc/make_hgrid.fd
sorc/make_solo_mosaic.fd
sorc/mkgfsnemsioctl.fd
sorc/ncdiag_cat.fd
sorc/nemsio_chgdate.fd
sorc/nemsio_get.fd
sorc/nemsio_read.fd
sorc/nst_tf_chg.fd
sorc/orog.fd
sorc/oznmon_horiz.fd
sorc/oznmon_time.fd
sorc/radmon_angle.fd
sorc/radmon_bcoef.fd
sorc/radmon_bcor.fd
sorc/radmon_time.fd
sorc/recentersigp.fd
sorc/shave.fd

# Ignore scripts from externals
#------------------------------
# jobs symlinks
jobs/JGDAS_ATMOS_GLDAS
jobs/JGLOBAL_ATMOS_NCEPPOST
jobs/JGLOBAL_ATMOS_POST_MANAGER
# scripts symlinks
scripts/exemcsfc_global_sfc_prep.sh
scripts/exgdas_atmos_gldas.sh
scripts/exgdas_atmos_nceppost.sh
scripts/exgfs_atmos_nceppost.sh
scripts/exglobal_atmos_pmgr.sh
# ush symlinks
ush/emcsfc_ice_blend.sh
ush/emcsfc_snow.sh
ush/fix_precip.sh
ush/fv3gfs_chgres.sh
ush/fv3gfs_downstream_nems.sh
ush/fv3gfs_driver_grid.sh
ush/fv3gfs_dwn_nems.sh
ush/fv3gfs_filter_topo.sh
ush/fv3gfs_make_grid.sh
ush/fv3gfs_make_orog.sh
ush/gfs_nceppost.sh
ush/gfs_transfer.sh
ush/gldas_archive.sh
ush/gldas_forcing.sh
ush/gldas_get_data.sh
ush/gldas_liscrd.sh
ush/gldas_post.sh
ush/gldas_process_data.sh
ush/global_chgres.sh
ush/global_chgres_driver.sh
ush/global_cycle.sh
ush/global_cycle_driver.sh
ush/link_crtm_fix.sh
ush/mkwfsgbl.sh
ush/mod_icec.sh
ush/radmon_ck_stdout.sh
ush/radmon_err_rpt.sh
ush/trim_rh.sh
# util symlinks
util/sub_slurm
util/sub_wcoss_c
util/sub_wcoss_d
