# External sub-modules of global-workflow

[FV3GFS]
tag = GFS.v16.3.1
local_path = sorc/fv3gfs.fd
repo_url = https://github.com/ufs-community/ufs-weather-model.git
protocol = git
required = True

[GSI]
tag = gfsda.v16.3.19
local_path = sorc/gsi.fd
repo_url = https://github.com/NOAA-EMC/GSI.git
protocol = git
required = True

[GLDAS]
tag = gldas_gfsv16_release.v.2.1.0
local_path = sorc/gldas.fd
repo_url = https://github.com/NOAA-EMC/GLDAS.git
protocol = git
required = True

[UPP]
tag = upp_v8.3.0
local_path = sorc/gfs_post.fd
repo_url = https://github.com/NOAA-EMC/UPP.git
protocol = git
required = True

[UFS_UTILS]
tag = ops-gfsv16.3.0
local_path = sorc/ufs_utils.fd
repo_url = https://github.com/ufs-community/UFS_UTILS.git
protocol = git
required = True

[EMC_verif-global]
tag = verif_global_v2.10.0
local_path = sorc/verif-global.fd
repo_url = https://github.com/NOAA-EMC/EMC_verif-global.git
protocol = git
required = True

[EMC_gfs_wafs]
tag = gfs_wafs.v6.3.3
local_path = sorc/gfs_wafs.fd
repo_url = https://github.com/NOAA-EMC/EMC_gfs_wafs.git
protocol = git
required = False

[externals_description]
schema_version = 1.0.0
