# Do not change this file unless you know what you're doing.  It sets
# default values for the "settings" section.  You probably want to
# override the settings in the case file instead.

default_settings: &default_settings
  ecf_log_path: !FirstTrue
    - when: !calc doc.settings.four_cycle_mode
      # in four cycle mode ,the log name is the last path component,
      # with the leading "j" removed.
      do: !calc ( '%COM%/output/%ENVIR%/today/' + task_path_list[-1][1:] + '_%CYC%.o%J' )
    - otherwise: !calc ( '%COM%/logs/%PDY%%CYC%/'+ task_path_var + '.log.%J')

  # rocoto_log_path: sets the stdout/stderr log path for batch jobs
  # when using Rocoto.  This is inserted in the <join> tag of the
  # task's <task> tag.
  rocoto_log_path: !calc ("<cyclestr>&LOG_DIR;/@Y@m@d@H/"+task_path_var+".log</cyclestr>")
  rocoto_task_throttle: 16  
  rocoto_cycle_throttle: 2

  max_job_tries: 2
  dev_safeguards: true

  # REALTIME and realtime - an alias that should be removed once we're
  # sure it is consistent among the yaml files:
  realtime: NO
  run_vrfy_jobs: true

  four_cycle_mode: NO
  nco_mode: NO
  use_nco_ecflow_headers: NO
  print_esmf: .false.
  prod_util_module: !calc doc.platform.get("prod_util_module","prod_util")
  ecflow_real_clock: no
  ecflow_virtual_clock: no
  ecflow_hybrid_clock: no

  gfs_cyc: 4
  nems_temp: 'atm'
  nems_temp_cold: 'atm'
  ics_from: opsgfs

  parexp: prnemsrn
  HPSS_PAR_PATH: !expand "/5year/NCEPDEV/emc-global/emc.glopara/WCOSS_C/{parexp}"

  cplflx: .false.
  cplice: !calc cplflx
  cpl: !FirstTrue
    - when: !calc doc.settings.cplflx==".true."
      do: .true.
    - when: !calc doc.settings.cplice==".true."
      do: .true.
    - otherwise: .false.

  cplwav: .false.
  cplwav2atm: .false.
  mom6ic_prepared: .false. # If set True, User need to manually copy mom6ic files into ROTIDR

  DOIAU: NO
  IAUFHRS: 6
  IAU_DELTHRS: 6

  KEEPDATA: NO
  DUMP_SUFFIX: ""
  run_gsi: No
  run_enkf: !calc run_gsi
  chgres_and_convert_ics: Yes

  # awips setting
  NAWIPSGRP: 21

  mkdir_before_running_ecflow: !FirstTrue
    - when: !calc doc.settings.four_cycle_mode
      take: null
    - otherwise: !expand '{doc.places.ROTDIR}/logs/%Y%m%d%H'

  ecflow_module: !calc doc.platform.get("ecflow_module","ecflow") 

  ecflow_totality_limit: yes

  ecflow_rocoto_cdate_workaround: !FirstTrue
    - when: !calc doc.settings.four_cycle_mode
      take: |
        # When sourcing config files, the $PDY must be set:
        datedir=/tmp/date.$$.$RANDOM
        mkdir -p "$datedir"
        pushd "$datedir"
        export cyc="%CYC%"
        export cycle="t%CYC%z"
        setpdy.sh
        . ./PDY
        set -u
        export CDATE="$PDY$cyc"
        set +u
        popd
        rm -rf "$datedir"
    - otherwise: '# date variables will be set by header file.'
