{% if path_exists(ICSDIR ~ "/" ~ COMOUT_ATMOS_ANALYSIS_MEM_list[0] | relpath(ROTDIR)) %}
analysis:
    mkdir:
        {% for mem in range(first_mem, last_mem + 1) %}
        {% set imem = mem - first_mem %}
        {% set COMOUT_ATMOS_ANALYSIS_MEM = COMOUT_ATMOS_ANALYSIS_MEM_list[imem] %}
        - "{{ COMOUT_ATMOS_ANALYSIS_MEM }}"
        {% endfor %}
    copy:
        {% for mem in range(first_mem, last_mem + 1) %}
        {% set imem = mem - first_mem %}
        {% set COMOUT_ATMOS_ANALYSIS_MEM = COMOUT_ATMOS_ANALYSIS_MEM_list[imem] %}
        {% for ftype in ["abias", "abias_air", "abias_int", "abias_pc", "atminc.nc", "atmi009.nc", "atmi003.nc", "radstat", "ratminc.nc", "ratmi009.nc", "ratmi003.nc", "rad_varbc_params.tar"] %}
        {% if path_exists(ICSDIR ~ "/" ~ COMOUT_ATMOS_ANALYSIS_MEM | relpath(ROTDIR) ~ "/" ~ RUN ~ ".t" ~ current_cycle_HH ~ "z." ~ ftype) %}
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_ANALYSIS_MEM | relpath(ROTDIR) }}/{{ RUN }}.t{{ current_cycle_HH }}z.{{ ftype }}", "{{ COMOUT_ATMOS_ANALYSIS_MEM }}"]
        {% endif %}
        {% endfor %}
        %{ if DO_JEDIATMVAR %}
        {% for itile in range(6) %}
        {% for ftype in ["atminc.tile{{ itile+1 }}.nc", "atmi009.tile{{ itile+1 }}.nc", "atmi003.tile{{ itile+1 }}.nc", "radstat", "ratminc.tile{{ itile+1 }}.nc", "ratmi009.tile{{ itile+1 }}.nc", "ratmi003.tile{{ itile+1 }}.nc"] %}
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_ANALYSIS_MEM | relpath(ROTDIR) }}/{{ RUN }}.t{{ current_cycle_HH }}z.{{ ftype }}", "{{ COMOUT_ATMOS_ANALYSIS_MEM }}"]
        {% endfor %}
        {% endif %}
        {% endfor %} # mem loop
{% endif %}
