{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
atmosphere_warm:
    mkdir:
        - "{{ COM_ATMOS_RESTART_PREV }}"
    copy:
        {% for ftype in ["coupler.res", "fv_core.res.nc"] %}
        - ["{{ ICSDIR }}/{{ COM_ATMOS_RESTART_PREV | relpath(ROTDIR) }}/{{ cycle_YMD }}.{{ cycle_HH }}0000.{{ ftype }}", "{{ COM_ATMOS_RESTART_PREV }}"]
        {% endfor %}
        {% for ftype in ["ca_data", "fv_core.res", "fv_srf_wnd.res", "fv_tracer.res", "phy_data sfc_data"] %}
            {% for ntile in range(1, ntiles + 1) %}
        - ["{{ ICSDIR }}/{{ COM_ATMOS_RESTART_PREV | relpath(ROTDIR) }}/{{ cycle_YMD }}.{{ cycle_HH }}0000.{{ ftype }}.tile{{ ntile }}.nc", "{{ COM_ATMOS_RESTART_PREV }}"]
            {% endfor %} # ntile
        {% endfor %} # ftype
