atmosphere_replay:
    mkdir:
        {% set COMOUT_ATMOS_INPUT_MEM = COMOUT_ATMOS_INPUT_MEM_list[0] %}
        - "{{ COMOUT_ATMOS_INPUT_MEM }}"
    copy:
        - ["{{ ANLYDIR }}/GFSPRS.GrbF03", "{{ COMOUT_ATMOS_INPUT_MEM }}"]
        - ["{{ ANLYDIR }}/GFSFLX.GrbF03", "{{ COMOUT_ATMOS_INPUT_MEM }}"]
