atmosphere_warmRT:
    mkdir:
        {% for mem in range(first_mem, last_mem + 1) %}
        {% set COMOUT_ATMOS_RESTART_PREV_MEM = COMOUT_ATMOS_RESTART_PREV_MEM_list[mem] %}
        - "{{ COMOUT_ATMOS_RESTART_PREV_MEM }}"
        {% set COMOUT_ATMOS_ANALYSIS_MEM = COMOUT_ATMOS_ANALYSIS_MEM_list[mem] %}
        - "{{ COMOUT_ATMOS_ANALYSIS_MEM }}"
        {% endfor %} # mem loop
    copy:
        #select restart members files (80) specific to the cycle
        {% set cyc_ranges = ({ "00": [(range(1, 31), 0)],
                               "06": [(range(21, 51), 20)],
                               "12": [(range(41, 71), 40)],
                               "18": [(range(61, 81), 60), (range(1, 11), -20)]}) %}

        {% if current_cycle_HH in cyc_ranges %}
        {% for mem_data in cyc_ranges[current_cycle_HH] %}
        {% set offset = mem_data[1] %}
        {% set mem_range = mem_data[0] %}
        {% for mem in mem_range %}
        {% set imem = mem - offset %}
        {% set retro_path = '/lfs/h2/emc/global/noscrub/anton.fernando/'%}
        {% set restart_mem_path = retro_path ~ 'enkfgdas.' ~ previous_cycle_YMD ~ '/' ~ previous_cycle_HH ~ '/' ~ 'mem%03d' | format(mem)  ~ '/model/atmos/restart/' ~ previous_cycle_YMD ~ '.210000.' %}
        {% set increment_mem_path = retro_path ~ 'enkfgfs.' ~ current_cycle_YMD ~ '/' ~ current_cycle_HH ~ '/' ~ 'mem%03d' | format(mem)  ~ '/analysis/atmos/enkfgfs.t' ~ current_cycle_HH ~ 'z.' %}
        {% set restart_destination_path = COMOUT_ATMOS_RESTART_PREV_MEM_list[imem] %}
        {% set increment_destination_path = COMOUT_ATMOS_ANALYSIS_MEM_list[imem] %}

        # Include increment files
        {% for ftype in ["ratmi003.nc", "ratmi009.nc", "ratminc.nc"] %}
        {% set file = increment_mem_path ~ ftype %}
        - ["{{ file }}", "{{ increment_destination_path }}"]
        {% endfor %}

        {% if path_exists(retro_path) %}
        {% set ntiles = 6 %}
        {% for ftype in ["fv_core.res", "fv_srf_wnd.res", "phy_data", "sfc_data", "coupler.res"] %}
        # Include base file for restart files
        {% set file = restart_mem_path ~ ftype %}
        - ["{{ file }}", "{{ restart_destination_path }}"]

        # Include restart tile files (e.g., .tile1 to .tile7)
        {% for tile in range(1, ntiles + 1) %}
        {% set file = restart_mem_path ~ ftype ~ '.tile' ~ tile %}
        - ["{{ file }}", "{{ restart_destination_path }}"]
        {% endfor %}
        {% endfor %}
        {% endif %}

        {% endfor %}
        {% endfor %}
        {% endif %}
