#WARM
# for ftype in ca_data fv_core.res fv_srf_wnd.res fv_tracer.res phy_data sfc_data; do
#       src="${BASE_CPLIC}/${CPL_ATMIC:-}/${PDY}${cyc}/${MEMDIR}/atmos/${PDY}.${cyc}0000.${ftype}.tile${tt}.nc"
#       if (( tt > 6 )) ; then
#           tgt="${COM_ATMOS_RESTART_PREV}/${PDY}.${cyc}0000.${ftype}.nest0$((tt-5)).tile${tt}.nc"
#       fi
#COLD
# for ftype in gfs_data sfc_data; do
#     for ((tt = 1; tt <= ntiles; tt++)); do
#       src="${BASE_CPLIC}/${CPL_ATMIC:-}/${PDY}${cyc}/${MEMDIR}/atmos/${ftype}.tile${tt}.nc"
#       tgt="${COM_ATMOS_INPUT}/${ftype}.tile${tt}.nc"
# if (( ntiles > 6 )); then
#       ${NLN} "${COM_ATMOS_INPUT}/${ftype}.tile7.nc" "${COM_ATMOS_INPUT}/${ftype}.nest02.tile7.nc"
{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set ntile = 7 %}
fv3_nest:
    mkdir:
        - "{{ COM_ATMOS_RESTART_PREV }}"
    copy:
        #---------------
        # WARM START
        #---------------
        {% if EXP_WARM_START %}
        {% set head = "{{ BASE_CPLIC }}/{{ CPL_ATMIC }}/{{ cycle_YMD }}{{ cycle_HH }}/{{ MEMDIR }}/atmos/{{ cycle_YMD }}.{{ cycle_HH }}0000." %}
        {% set ntile = 7 %}
        {% for ftype in ca_data fv_core.res fv_srf_wnd.res fv_tracer.res phy_data sfc_data %}
        #TODO: figure out how to copy one name to the other in here
        - "{{ head }}{{ ftype }}.nest0{{ ntile-5 }}.tile{{ ntile }}.nc"
        {% endfor %} # ftype
        #--------------- # end warm start
        {% else %}
        #---------------
        # COLD START
        #---------------
        {% set head = "{{ COM_ATMOS_INPUT | relpath(ROTDIR) }}" %}
        - "{{ head }}/gfs_ctrl.nc"
        {% for ftype in gfs_data sfc_data %}
        #TODO: figure out how to copy one name to the other in here
        - "{{ head }}/{{ ftype }}.tile{{ ntile }}.nc"
        {% endfor %} # ftype
        #--------------- # end cold start
        {% endif %}
