# This is the master yaml for the GEFS
#
# Cycle, member, and RUN settings are set before including each
# component yaml based on DO switches
#
# The included yamls are intended to be of the following structure:
# key1:
#     mkdir:
#         - "COM directory to create"
#     copy:
#         - ["source_file", "destination_file"]
#     link:
#         - ["target", "link_name"]
# key2:
#     mkdir:
#         - "COM directory to create"
#     copy:
#         - ["source_file", "destination_file"]
#     link:
#         - ["target", "link_name"]
#
# Any number of keys with nested mkdir, copy, and link are permitted
# Jinja is permitted in this yaml, as long as the keys are:
# - COMOUT_
# - DO_ATM, DO_OCN, DO_ICE, etc.
# For a full list see scripts/exglobal_stage_ic.py
###################################################################
{% if member == 0 %}
{% include "atmosphere_cold_RT.yaml.j2" %}
{% include "ocean_control_RT.yaml.j2" %}
{% include "ice_control_RT.yaml.j2" %}
{% else %}
{% include "atmosphere_warm_RT.yaml.j2" %}
{% include "ocean_RT.yaml.j2" %}
{% include "ice_RT.yaml.j2" %}
{% endif %}
