###################################################################
# This is the master yaml for the GEFS
#
# Cycle, member, and RUN settings are set before including each
# component yaml based on DO switches
#
# The included yamls are intended to be of the following structure:
# key1:
#     mkdir:
#         - "COM directory to create"
#     copy:
#         - ["source_file", "destination_file"]
#     link:
#         - ["target", "link_name"]
# key2:
#     mkdir:
#         - "COM directory to create"
#     copy:
#         - ["source_file", "destination_file"]
#     link:
#         - ["target", "link_name"]
#
# Any number of keys with nested mkdir, copy, and link are permitted
# Jinja is permitted in this yaml, as long as the keys are:
# - COMOUT_
# - DO_ATM, DO_OCN, DO_ICE, etc.
# For a full list see scripts/exglobal_stage_ic.py
###################################################################
# Initial condition to stage - include components based on switches
###################################################################
{% set m_index = (current_cycle_HH | int) // 6 %}

{% if ENSMEM != 0 %}
# GFS members (80)
{% set cyc_ranges = [(range(1, 31) | list), (range(21, 51) | list), (range(41, 71) | list), (range(61, 81) | list) + (range(1, 11) | list)] %}
# select the relevant member for each GEFS member from GFS outputs
{% set gfs_member = cyc_ranges[m_index][(ENSMEM - 1)] %}
{% endif %}

{% if ENSMEM == 0 %}
{% include "atmosphere_cold_RT.yaml.j2" %}
{% include "ocean_control_RT.yaml.j2" %}
{% include "ice_control_RT.yaml.j2" %}
{% else %}
{% include "atmosphere_warm_RT.yaml.j2" %}
{% include "ocean_RT.yaml.j2" %}
{% include "ice_RT.yaml.j2" %}
{% endif %}
