datasets:

{% if EXP_WARM_START %}
{% filter indent(width=4) %}
{% include "fv3_warm.yaml.j2" %}
{% endfilter %}
{% else %}
{% filter indent(width=4) %}
{% include "fv3_cold.yaml.j2" %}
{% endfilter %}
{% endif %}

{% if DO_NEST %}
{% filter indent(width=4) %}
{% include "fv3_nest.yaml.j2" %}
{% endfilter %}
{% endif %}

{% if DO_WAVE %}
{% filter indent(width=4) %}
{% include "wave.yaml.j2" %}
{% endfilter %}
{% endif %}

{% if DO_OCN %}
{% filter indent(width=4) %}
{% include "ocean.yaml.j2" %}
#TODO:#{% include "mediator.yaml.j2" %}
{% endfilter %}
{% endif %}

{% if DO_ICE %}
{% filter indent(width=4) %}
{% include "ice.yaml.j2" %}
{% endfilter %}
{% endif %}
