{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
datasets:

{% filter indent(width=4) %}
{% include "fv3.yaml.j2" %}
{% endfilter %}

{% if DO_NEST %}
{% filter indent(width=4) %}
{% include "fv3_nest.yaml.j2" %}
{% endfilter %}
{% endif %}

{% if DO_WAVE %}
{% if EXP_WARM_START %}
{% filter indent(width=4) %}
{% include "wave.yaml.j2" %}
{% endfilter %}
{% endif %}
{% endif %}

{% if DO_OCEAN %}
{% if EXP_WARM_START %}
{% filter indent(width=4) %}
{% include "ocean.yaml.j2" %}
{% include "mediator.yaml.j2" %}
{% endfilter %}
{% endif %}
{% endif %}

{% if DO_ICE %}
{% if EXP_WARM_START %}
{% filter indent(width=4) %}
{% include "ice.yaml.j2" %}
{% endfilter %}
{% endif %}
{% endif %}
