mediator:
    name: "MEDIATOR"
    target: "{{ COM_MED_RESTART_PREV }}"
    required:
        - "{{ BASE_CPLIC }}/{{ CPL_MEDIC }}/{{ cycle_YMD }}{{ cycle_HH }}/{{ MEMDIR }}/med/{{ cycle_YMD }}.{{ cycle_HH }}0000.ufs.cpld.cpl.r.nc"
