ocean_RT:
    mkdir:
        - "{{ COMOUT_OCEAN_RESTART_PREV_MEM }}"
        - "{{ COMOUT_OCEAN_ANALYSIS_MEM }}"
    link_req:
    # select restart members files (80) specific to the cycle
        {% set mid_cyc = ("%02d" | format(previous_cycle_HH | int + half_window)) ~ "0000" %}
        {% set restart_mem_path = ICSDIR ~ '/' ~ 'enkfgdas.' ~ previous_cycle_YMD ~ '/' ~ previous_cycle_HH ~ '/' ~ 'mem%03d' | format(gfs_member)  ~ '/model/ocean/restart/' ~ previous_cycle_YMD ~ '.' ~ mid_cyc ~ '.' %}
        {% set increment_mem_path = ICSDIR ~ '/' ~ 'enkfgfs.' ~ current_cycle_YMD ~ '/' ~ current_cycle_HH ~ '/' ~ 'mem%03d' | format(gfs_member)  ~ '/analysis/ocean/enkfgfs.t' ~ current_cycle_HH ~ 'z.ocninc.nc' %}
        {% set restart_destination_path = COMOUT_OCEAN_RESTART_PREV_MEM %}
        {% set increment_destination_path = COMOUT_OCEAN_ANALYSIS_MEM %}

    # Include increment files
        {% set file = increment_mem_path %}
        - ["{{ file }}", "{{ increment_destination_path }}"]

        {% if path_exists(ICSDIR) %}
            {% for ftype in ["MOM.res.nc", "MOM.res_1.nc", "MOM.res_2.nc", "MOM.res_3.nc"] %}
            # Include base file for restart files
            {% set file = restart_mem_path ~ ftype %}
        - ["{{ file }}", "{{ restart_destination_path }}"]
            {% endfor %}
        {% endif %}
