{% if path_exists(ICSDIR ~ "/" ~ COMOUT_MED_RESTART_PREV_MEM | relpath(ROTDIR) ~ "/" ~ m_prefix ~ ".ufs.cpld.cpl.r.nc") %}
ocean_mediator:
    mkdir:
        - "{{ COMOUT_MED_RESTART_PREV_MEM }}"
    link_req:
        - ["{{ ICSDIR }}/{{ COMOUT_MED_RESTART_PREV_MEM | relpath(ROTDIR) }}/{{ m_prefix }}.ufs.cpld.cpl.r.nc", "{{ COMOUT_MED_RESTART_PREV_MEM }}"]
{% endif %} # path exists
