ocean_rerun:
    mkdir:
        - "{{ COMOUT_OCEAN_ANALYSIS }}"
    link_req:
        - ["{{ ICSDIR }}/{{ COMOUT_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ RUN }}.t{{ current_cycle_HH }}z.mom6_increment.i006.nc", {{ COMOUT_OCEAN_ANALYSIS }}]

