ocean_RT:
    mkdir:
        {% for mem in range(first_mem, last_mem + 1) %}
        {% set COMOUT_OCEAN_RESTART_PREV_MEM = COMOUT_OCEAN_RESTART_PREV_MEM_list[mem] %}
        - "{{ COMOUT_OCEAN_RESTART_PREV_MEM }}"
        {% set COMOUT_OCEAN_ANALYSIS_MEM = COMOUT_OCEAN_ANALYSIS_MEM_list[mem] %}
        - "{{ COMOUT_OCEAN_ANALYSIS_MEM }}"
        {% endfor %} # mem loop
    copy:
        #select restart members files (80) specific to the cycle
        {% set cyc_ranges = ({ "00": [(range(1, 31), 0)],
                               "06": [(range(21, 51), 20)],
                               "12": [(range(41, 71), 40)],
                               "18": [(range(61, 81), 60), (range(1, 11), -20)]}) %}

        {% if current_cycle_HH in cyc_ranges %}
        {% for mem_data in cyc_ranges[current_cycle_HH] %}
        {% set offset = mem_data[1] %}
        {% set mem_range = mem_data[0] %}
        {% for mem in mem_range %}
        {% set imem = mem - offset %}
        {% set retro_path = '/lfs/h2/emc/global/noscrub/anton.fernando/'%}
        {% set restart_mem_path = retro_path ~ 'enkfgdas.' ~ previous_cycle_YMD ~ '/' ~ previous_cycle_HH ~ '/' ~ 'mem%03d' | format(mem)  ~ '/model/ocean/restart/' ~ previous_cycle_YMD ~ '.210000.MOM.' %}
        {% set increment_mem_path = retro_path ~ 'enkfgfs.' ~ current_cycle_YMD ~ '/' ~ current_cycle_HH ~ '/' ~ 'mem%03d' | format(mem)  ~ '/analysis/ocean/enkfgfs.t' ~ current_cycle_HH ~ 'z.ocninc.nc' %}
        {% set restart_destination_path = COMOUT_OCEAN_RESTART_PREV_MEM_list[imem] %}
        {% set increment_destination_path = COMOUT_OCEAN_ANALYSIS_MEM_list[imem] %}

        # Include increment files
        {% set file = increment_mem_path %}
        - ["{{ file }}", "{{ increment_destination_path }}"]

        {% if path_exists(retro_path) %}
        {% for ftype in ["res.nc", "res_1.nc", "res_2.nc", "res_3.nc"] %}
        # Include base file for restart files
        {% set file = restart_mem_path ~ ftype %}
        - ["{{ file }}", "{{ restart_destination_path }}"]
        {% endfor %}
        {% endif %}

        {% endfor %}
        {% endfor %}
        {% endif %}
