ocean_mediator:
    mkdir:
        - "{{ COMOUT_MED_RESTART_PREV }}"
    link_opt:
        - ["{{ ICSDIR }}/{{ COMOUT_MED_RESTART_PREV | relpath(ROTDIR) }}/{{ m_prefix }}.ufs.cpld.cpl.r.nc", "{{ COMOUT_MED_RESTART_PREV }}"]
