#############################################################
# This yaml is intended to be of the following structure:
# key1:
#     mkdir:
#         - "COM directory to create"
#     copy:
#         - ["source_file", "destination_file"]
# key2:
#     mkdir:
#         - "COM directory to create"
#     copy:
#         - ["source_file", "destination_file"]
#
# Any number of keys with nested mkdir and copy are permitted
# Jinja is permitted in this yaml, as long as the keys are:
# - COMOUT_
# - DO_ATM, DO_OCN, DO_ICE, etc.
# For a full list see scripts/exglobal_stage_ic.py
#############################################################

# Set variables used below
{% set cycle_HH = current_cycle | strftime("%H") %}
{% set m_prefix = model_start_date_current_cycle | to_YMD + "." + model_start_date_current_cycle | strftime("%H") + "0000" %}
{% set o_prefix = current_cycle_offset | to_YMD + "." + current_cycle_offset | strftime("%H") + "0000" %}

#############################################################
# Initial condition to stage

{% if MODE == "cycled" and RUN == "gdas" %}
analysis:
    mkdir:
        - "{{ COMOUT_ATMOS_ANALYSIS }}"
    copy:
        {% for ftype in ["abias", "abias_air", "abias_int", "abias_pc", "atminc.nc", "radstat"] %}
        {% if path_exists(ICSDIR ~ "/" ~ COMOUT_ATMOS_ANALYSIS | relpath(ROTDIR) ~ "/" ~ RUN ~ ".t" ~ cycle_HH ~ "z." ~ ftype) %}
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_ANALYSIS | relpath(ROTDIR) }}/{{ RUN }}.t{{ cycle_HH }}z.{{ ftype }}", "{{ COMOUT_ATMOS_ANALYSIS }}"]
        {% endif %}
        {% endfor %}
{% endif %}

{% if EXP_WARM_START == True %}
atmosphere_warm:
    mkdir:
        - "{{ COMOUT_ATMOS_RESTART_PREV }}"
    copy:
        {% for ftype in ["coupler.res", "fv_core.res.nc"] %}
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_RESTART_PREV | relpath(ROTDIR) }}/{{ m_prefix }}.{{ ftype }}", "{{ COMOUT_ATMOS_RESTART_PREV }}"]
        {% endfor %}
        {% for ftype in ["ca_data", "fv_core.res", "fv_srf_wnd.res", "fv_tracer.res", "phy_data", "sfc_data"] %}
            {% for ntile in range(1, ntiles + 1) %}
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_RESTART_PREV | relpath(ROTDIR) }}/{{ m_prefix }}.{{ ftype }}.tile{{ ntile }}.nc", "{{ COMOUT_ATMOS_RESTART_PREV }}"]
            {% endfor %} # ntile
        {% endfor %} # ftype
{% else %}
atmosphere_cold:
    mkdir:
        - "{{ COMOUT_ATMOS_INPUT }}"
    copy:
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_INPUT | relpath(ROTDIR) }}/gfs_ctrl.nc", "{{ COMOUT_ATMOS_INPUT }}"]
        {% for ftype in ["gfs_data", "sfc_data"] %}
            {% for ntile in range(1, ntiles + 1) %}
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_INPUT | relpath(ROTDIR) }}/{{ ftype }}.tile{{ ntile }}.nc", "{{ COMOUT_ATMOS_INPUT }}"]
            {% endfor %} # ntile
        {% endfor %} # ftype
{% endif %}

{% if REPLAY_ICS == "YES" %}
atmosphere_perturbation:
    mkdir:
        - "{{ COMOUT_ATMOS_ANALYSIS }}"
    copy:
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_ANALYSIS | relpath(ROTDIR) }}/{{ m_prefix }}.fv3_perturbation.nc", "{{ COMOUT_ATMOS_ANALYSIS }}/{{ RUN }}.t{{ cycle_HH }}z.atminc.nc"]
{% endif %}

{% if DO_NEST %}
atmosphere_nest:
    {% set ntile = 7 %}
    mkdir:
        - "{{ COMOUT_ATMOS_RESTART_PREV }}"
    copy:
        {% if EXP_WARM_START == True %}
            {% for ftype in ["ca_data", "fv_core.res", "fv_srf_wnd.res", "fv_tracer.res", "phy_data", "sfc_data"] %}
        - ["{{ ICSDIR }}/{{ COMOUT_ATMOS_RESTART_PREV | relpath(ROTDIR) }}/{{ m_prefix }}.{{ ftype }}.tile{{ ntile }}.nc", "{{ COMOUT_ATMOS_RESTART_PREV }}/{{ m_prefix }}.{{ ftype }}.nest0{{ ntile-5 }}.tile{{ ntile }}.nc"]
            {% endfor %} # ftype
        {% else %}
            {% for ftype in ["gfs_data", "sfc_data"] %}
        - ["{{ COMOUT_ATMOS_INPUT }}/{{ ftype }}.tile{{ ntile }}.nc", "{{ COMOUT_ATMOS_INPUT }}/{{ ftype }}.nest0{{ ntile-5 }}.tile{{ ntile }}.nc"]
            {% endfor %} # ftype
        {% endif %} # cold-start
{% endif %}

{% if DO_ICE %}
ice:
    mkdir:
        - "{{ COMOUT_ICE_RESTART_PREV }}"
    copy:
        - ["{{ ICSDIR }}/{{ COMOUT_ICE_RESTART_PREV | relpath(ROTDIR) }}/{{ o_prefix }}.cice_model.res.nc", "{{ COMOUT_ICE_RESTART_PREV }}"]
{% endif %}

{% if DO_OCN %}
ocean:
    mkdir:
        - "{{ COMOUT_OCEAN_RESTART_PREV }}"
    copy:
        - ["{{ ICSDIR }}/{{ COMOUT_OCEAN_RESTART_PREV | relpath(ROTDIR) }}/{{ o_prefix }}.MOM.res.nc", "{{ COMOUT_OCEAN_RESTART_PREV }}"]
        {% if OCNRES == "025" %}
            {% for nn in range(1, 3) %}
        - ["{{ ICSDIR }}/{{ COMOUT_OCEAN_RESTART_PREV | relpath(ROTDIR) }}/{{ o_prefix }}.MOM.res_{{ nn }}.nc", "{{ COMOUT_OCEAN_RESTART_PREV }}"]
            {% endfor %}
        {% endif %}

{% if REPLAY_ICS == "YES" %}
replay:
    mkdir:
        - "{{ COMOUT_OCEAN_ANALYSIS }}"
    copy:
        - ["{{ ICSDIR }}/{{ COMOUT_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ o_prefix }}.mom6_perturbation.nc", "{{ COMOUT_OCEAN_ANALYSIS }}/mom6_increment.nc"]
{% endif %}

{% if EXP_WARM_START == True %}
{% if path_exists(ICSDIR ~ "/" ~ COMOUT_MED_RESTART_PREV | relpath(ROTDIR) ~ "/" ~ m_prefix ~ ".ufs.cpld.cpl.r.nc") %}
mediator:
    mkdir:
        - "{{ COMOUT_MED_RESTART_PREV }}"
    copy:
        - ["{{ ICSDIR }}/{{ COMOUT_MED_RESTART_PREV | relpath(ROTDIR) }}/{{ m_prefix }}.ufs.cpld.cpl.r.nc", "{{ COMOUT_MED_RESTART_PREV }}"]
{% endif %} # path exists
{% endif %} # warm start true

{% endif %} # DO_OCN=YES

{% if DO_WAVE %}
wave:
    mkdir:
        - "{{ COMOUT_WAVE_RESTART_PREV }}"
    copy:
        - ["{{ ICSDIR }}/{{ COMOUT_WAVE_RESTART_PREV | relpath(ROTDIR) }}/{{ o_prefix }}.restart.{{ waveGRD }}", "{{ COMOUT_WAVE_RESTART_PREV }}"]
{% endif %}
