#TODO: these should be placed in $RUN.$gPDY/$gcyc)
wave:
    #TODO: check if BASE_CPLIC/CPL_WAVIC exists?
    name: "WAVE"
    source: "{{ BASE_CPLIC }}/{{ CPL_WAVIC }}/{{ cycle_YMD }}{{ cycle_HH }}/{{ MEMDIR }}/wave"
    required:
        {% for grdID in waveGRD %}
        - "{{ COM_WAVE_RESTART | relpath(ROTDIR) }}/{{ cycle_YMD }}.{{ cycle_HH }}0000.restart.{{ grdID }}"
        {% endfor %}
