$ -------------------------------------------------------------------- $
$ WAVEWATCH III Field preprocessor input file                          $
  'CUR' 'LL' T HDRFL
$
$ Name of spatial dimensions------------------------------------------ $
$ NB: time dimension is expected to be called 'time' and must respect 
$     Julian or Gregorian calendar with leap day.
$
 lon lat
$
$ Variables to use --------------------------------------------------- $
$
  u_velocity v_velocity
$
$ Additional time input ---------------------------------------------- $
$ If time flag is .FALSE., give time of field in yyyymmdd hhmmss format.
$
$   19680606 053000
$
$ Define data files -------------------------------------------------- $
$ The input line identifies the filename using for the forcing field.
$
  'cur.nc'
$
$ -------------------------------------------------------------------- $
$ End of input file                                                    $
$ -------------------------------------------------------------------- $
