USER=$LOGNAME
USER=$LOGNAME
ACCOUNT=GFS-MTN
EDATE=2525010100
EDUMP=gdas
ESTEP=dump
PSLOT=D1
DATATMP='/stmpp1/$LOGNAME/$PSLOT$CDATE$CDUMP$CSTEP'
COMDMP=/global/noscrub/$LOGNAME/dump/$CDATE/$CDUMP
COMROT=/ptmpp1/$LOGNAME/dump
COMCOP=''
COMDAY=/ptmpp1/$LOGNAME/dump
BASEDIR=/global/save/$LOGNAME/svn/gfs/branches/EXP-wcoss/para
DUMPDIR=$BASEDIR/exp/dump
RLIST=$DUMPDIR/dump.rlist
RUNLOG=$DUMPDIR/dump.runlog
RUN_ENVIR=para
NDATE=/nwprod/util/exec/ndate
SHDIR=$BASEDIR/bin
USHDIR=$BASEDIR/ush
JOBSDIR=$BASEDIR/jobs
SCRDIR=$BASEDIR/scripts

mkdir -p $COMROT

NCP=/bin/cp
SUB=$BASEDIR/bin/sub_wcoss
PSUB=$BASEDIR/bin/psub_wcoss

HRKTMP=270
##HRKROT=10560
##HRKROT=12960
HRKROT=22560
CDFNL=gdas
DGGDAS=NO
DSGDAS=YES
DCONFIGS=""

ARCHIVE=NO

# 
# NOTE:   Config files listed under PCONFIGS are submitted by the dump job
#  pryrls.config - sonde denial experiment
#  prf.config - Fall 2007 global data upgrade package
#PCONFIGS="$DUMPDIR/para_config"
#DCONFIGS="$DUMPDIR/dump5x.config"
#FCONFIGS=""

CUE2RUN=dev
CUE2RUN1=dev
CUE2RUNA=transfer
