upp:
  rundir: '{{ DATA }}/upp'
  exe_src: '{{ EXECgfs }}/upp.x'
  mpi_cmd: '{{ APRUN_AEROANLFINAL }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/aero/jcb-base.yaml.j2'
  config:
    grib_version: "grib2"
    ioform: "netcdfpara"
    po: [1000.,975.,950.,925.,900.,875.,850.,825.,800.,775.,750.,725.,700.,675.,650.,625.,600.,575.,550.,525.,500.,475.,450.,425.,400.,375.,350.,325.,300.,275.,250.,225.,200.,175.,150.,125.,100.,70.,50.,40.,30.,20.,15.,10.,7.,5.,3.,2.,1.,0.7,0.4,0.2,0.1,0.07,0.04,0.02,0.01]
    rdaod: False
    nasa_on: True
  fix_data:
    mkdir:
      - "{{ DATA }}/upp"
    copy:
      - ["{{ PARMgfs }}/post/gefs/postxconfig-NT-gefs-gcafs.txt", "{{ DATA }}/upp/postxconfig-NT.txt"]
      #- ["{{ PARMgfs }}/post/postxconfig-NT-gfs-chem.txt", "{{ DATA }}/upp/postxconfig-NT.txt"]
      - ["{{ PARMgfs }}/post/params_grib2_tbl_new", "{{ DATA }}/upp/params_grib2_tbl_new"]
      - ["{{ PARMgfs }}/post/nam_micro_lookup.dat", "{{ DATA }}/upp/eta_micro_lookup.dat"]
      - ["{{ EXECgfs }}/upp.x", "{{ DATA }}/upp/"]
      - ["{{ PARMgfs }}/post/itag.jinja", "{{ DATA }}/upp/"]
      - ["{{ HOMEgfs }}/sorc/upp.fd/fix/chem/optics_luts_DUST_nasa.dat", "{{ DATA }}/upp/optics_luts_DUST_nasa.dat"]
      - ["{{ HOMEgfs }}/sorc/upp.fd/fix/chem/optics_luts_NITR_nasa.dat", "{{ DATA }}/upp/optics_luts_NITR_nasa.dat"]
      - ["{{ HOMEgfs }}/sorc/upp.fd/fix/chem/optics_luts_SALT_nasa.dat", "{{ DATA }}/upp/optics_luts_SALT_nasa.dat"]
      - ["{{ HOMEgfs }}/sorc/upp.fd/fix/chem/optics_luts_SOOT_nasa.dat", "{{ DATA }}/upp/optics_luts_SOOT_nasa.dat"]
      - ["{{ HOMEgfs }}/sorc/upp.fd/fix/chem/optics_luts_SUSO_nasa.dat", "{{ DATA }}/upp/optics_luts_SUSO_nasa.dat"]
      - ["{{ HOMEgfs }}/sorc/upp.fd/fix/chem/optics_luts_WASO_nasa.dat", "{{ DATA }}/upp/optics_luts_WASO_nasa.dat"]

analysis:
  config:
    nasa_on: True
  data_in:
    none:

atmincvars: [
    ['ugrd', 'u_inc'],
    ['vgrd', 'v_inc'],
    ['dpres', 'delp_inc'],
    ['delz', 'delz_inc'],
    ['tmp', 'T_inc'],
    ['spfh', 'sphum_inc'],
    ['rwmr', 'liq_wat_inc'],
    ['o3mr', 'o3mr_inc'],
    ['icmr', 'icmr_inc']]

aeroincvars: [
    ['dust1', 'mass_fraction_of_dust001_in_air'],
    ['dust2', 'mass_fraction_of_dust002_in_air'],
    ['dust3', 'mass_fraction_of_dust003_in_air'],
    ['dust4', 'mass_fraction_of_dust004_in_air'],
    ['dust5', 'mass_fraction_of_dust005_in_air'],
    ['seas1', 'mass_fraction_of_sea_salt001_in_air'],
    ['seas2', 'mass_fraction_of_sea_salt002_in_air'],
    ['seas3', 'mass_fraction_of_sea_salt003_in_air'],
    ['seas4', 'mass_fraction_of_sea_salt004_in_air'],
    ['so4', 'mass_fraction_of_sulfate_in_air'],
    ['oc1', 'mass_fraction_of_hydrophobic_organic_carbon_in_air'],
    ['oc2', 'mass_fraction_of_hydrophilic_organic_carbon_in_air'],
    ['bc1', 'mass_fraction_of_hydrophobic_black_carbon_in_air'],
    ['bc2', 'mass_fraction_of_hydrophilic_black_carbon_in_air']]

