atm_add_increments:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/fv3jedi_add_increments.x'
  mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/atm/jcb-base.yaml.j2'
  jcb_algo: atm_add_increments
{% if DO_AERO_ANL %}
aero_add_increments:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/fv3jedi_add_increments.x'
  mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/aero/jcb-base.yaml.j2'
  jcb_algo: aero_add_increments
{% endif %}
{% if DO_JEDISNOWDA %}
snow_add_increments:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/fv3jedi_add_increments.x'
  mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/snow/jcb-base.yaml.j2'
  jcb_algo: snow_add_increments
{% endif %}
