aero:
  rundir: '{{ DATA }}'
  exe_src: '{{ JEDIEXE }}'
  mpi_cmd: '{{ APRUN_ANLSTAT }}'
  # jedi_args: None
  jcb_base_yaml: '{{ PARMgfs }}/gdas/stat/aero/jcb-base.yaml.j2'
  jcb_algo_yaml: '{{ JCB_ALGO_YAML }}'
  jcb_algo: 'anlstat'
atmos:
  rundir: '{{ DATA }}'
  exe_src: '{{ JEDIEXE }}'
  mpi_cmd: '{{ APRUN_ANLSTAT }}'
  # jedi_args: None
  jcb_base_yaml: '{{ PARMgfs }}/gdas/stat/atmos/jcb-base.yaml.j2'
  jcb_algo_yaml: '{{ JCB_ALGO_YAML }}'
  jcb_algo: 'anlstat'
snow:
  rundir: '{{ DATA }}'
  exe_src: '{{ JEDIEXE }}'
  mpi_cmd: '{{ APRUN_ANLSTAT }}'
  # jedi_args: None
  jcb_base_yaml: '{{ PARMgfs }}/gdas/stat/snow/jcb-base.yaml.j2'
  jcb_algo_yaml: '{{ JCB_ALGO_YAML }}'
  jcb_algo: 'anlstat'
