{% set src_dir = COM_ATMOS_RESTART_PREV %}
{% set dest_dir = DATA ~ '/bkg' %}
{% set ftype_list = ['fv_core.res', 'fv_srf_wnd.res', 'fv_tracer.res', 'phy_data', 'sfc_data'] %}
{% set prefix = current_cycle | to_fv3time %}

mkdir:
- '{{ dest_dir }}'
copy:
{% set fname = prefix ~ '.coupler.res' %}
- ['{{ src_dir }}/{{ fname }}', '{{ dest_dir }}/{{ fname }}']
{% for ftype in ftype_list %}
{% for itile in range(1,7) %}
{% set fname = prefix ~ '.' ~ ftype ~ '.tile' ~ itile ~ '.nc' %}
- ['{{ src_dir }}/{{ fname }}', '{{ dest_dir }}/{{ fname }}']
{% endfor %}
{% endfor %}