correction_increment:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/fv3jedi_correction_increment.x'
  mpi_cmd: '{{ APRUN_CORRECTION_INCREMENT }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/atm/jcb-base.yaml.j2'
  jcb_algo: fv3jedi_correction_increment
ensemble_recenter:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/fv3jedi_ensemble_add_increment.x'
  mpi_cmd: '{{ APRUN_ENSEMBLE_RECENTER }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/atm/jcb-base.yaml.j2'
  jcb_algo: fv3jedi_ensemble_recenter
