atmanlvar:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas.x'
  jcb_base_yaml: '{{ JCB_BASE_YAML }}'
  jcb_algo_yaml: '{{ JCB_ALGO_YAML_VAR }}'
  jedi_args: ['fv3jedi', 'variational']
atmanlfv3inc:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/fv3jedi_fv3inc.x'
  jcb_base_yaml: '{{ JCB_BASE_YAML }}'
  jcb_algo: fv3jedi_fv3inc_variational
