atmensanlobs:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas.x'
  jcb_base_yaml: '{{ JCB_BASE_YAML }}'
  jcb_algo_yaml: '{{ JCB_ALGO_YAML_OBS }}'
  jedi_args: ['fv3jedi', 'localensembleda']
atmensanlsol:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas.x'
  jcb_base_yaml: '{{ JCB_BASE_YAML }}'
  jcb_algo_yaml: '{{ JCB_ALGO_YAML_SOL }}'
  jedi_args: ['fv3jedi', 'localensembleda']
atmensanlfv3inc:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/fv3jedi_fv3inc.x'
  jcb_base_yaml: '{{ JCB_BASE_YAML }}'
  jcb_algo: fv3jedi_fv3inc_lgetkf
atmensanlletkf:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas.x'
  jcb_base_yaml: '{{ JCB_BASE_YAML }}'
  jcb_algo_yaml: '{{ JCB_ALGO_YAML_LETKF }}'
  jedi_args: ['fv3jedi', 'localensembleda']
