# create working directories
mkdir:
- "{{ DATA }}/bkg/det"
- "{{ DATA }}/bkg/det_ensres"
- "{{ DATA }}/inc/det"
- "{{ DATA }}/inc/det_ensres"
{% for mem in range(1, nmem_ens + 1) %}
- "{{ DATA }}/bkg/mem{{ '%03d' % mem }}"
{% endfor %}
copy:
# copy deterministic background files

# copy deterministic increment files
{% for tile in range(1, 7) %}
- ["", "{{ DATA }}/inc/det/snowinc.{{ current_cycle }}.sfc_data.tile{{ tile }}.nc"]
{% endfor %}
# copy ensemble background files