var:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas.x'
  mpi_cmd: '{{ APRUN_MARINEANLVAR }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/soca/marine-jcb-base.yaml'
  jcb_algo: 3dfgat
socaincr2mom6:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas.x'
  mpi_cmd: '{{ APRUN_MARINEANLCHKPT }}'
  jedi_args: ['soca', 'convertstate']
  jcb_base_yaml: '{{ PARMgfs }}/gdas/soca/marine-jcb-base.yaml'
  jcb_algo: socaincr2mom6
soca_2cice_global:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas_incr_handler.x'
  mpi_cmd: '{{ APRUN_MARINEANLCHKPT }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/soca/marine-jcb-base.yaml'
  jcb_algo: soca_2cice_global
gdassoca_obsstats:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdassoca_obsstats.x'
  mpi_cmd: 'launcher -n 1'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/soca/marine-jcb-base.yaml'
  jcb_algo: soca_2cice_global
