aero:
  stat_file_path: '{{ COMIN_AERO_ANALYSIS }}'
  stat_file_name: 'aerostat.tgz'
  obs spaces:
  - name: viirs_npp
    input file: "diag_viirs_npp_aod_{{ current_cycle | to_YMDH }}.nc"
    output file: "viirs_npp_{{ current_cycle | to_YMDH }}_output_aod.nc"
  - name: viirs_n20
    input file: "diag_viirs_n20_aod_{{ current_cycle | to_YMDH }}.nc"
    output file: "viirs_n20_{{ current_cycle | to_YMDH }}_output_aod.nc"

atmos:
  stat_file_path: '{{ COMIN_ATMOS_ANALYSIS }}'
  stat_file_name: 'atmstat'
  obs spaces:
  - name: conventional_ps
    input file: "diag_conventional_ps_{{ current_cycle | to_YMDH }}.nc"
    output file: "conventional_ps_{{ current_cycle | to_YMDH }}_output_atmos.nc"

snow:
  stat_file_path: '{{ COMIN_SNOW_ANALYSIS }}'
  stat_file_name: 'snowstat.tgz'
  obs spaces:
  - name: ims_snow
    input file: "diag_ims_snow_{{ current_cycle | to_YMDH }}.nc"
    output file: "ims_snow_{{ current_cycle | to_YMDH }}_output_snow.nc"
  - name: sfcsno
    input file: "diag_sfcsno_{{ current_cycle | to_YMDH }}.nc"
    output file: "sfcsno_{{ current_cycle | to_YMDH }}_output_snow.nc"
  - name: snocvr
    input file: "diag_snocvr_{{ current_cycle | to_YMDH }}.nc"
    output file: "snocvr_{{ current_cycle | to_YMDH }}_output_snow.nc"
  - name: madis_snow
    input file: "diag_madis_snow_{{ current_cycle | to_YMDH }}.nc"
    output file: "madis_snow_{{ current_cycle | to_YMDH }}_output_snow.nc"
