{# dev/parm/ufs/gocart/collections/inst_du_bin.j2 #}
{# Traces to: Requirement 3 AC5 #}
{# Per-collection field definition for inst_du_bin (Binned dust diagnostics). #}
{# All @[VAR] atparse patterns converted to Jinja2 {{ var }} syntax. #}
#
# Binned aerosols - Dust
#
  inst_du_bin.format:     'CFIO' ,
  inst_du_bin.descr:      '2d,Hourly,Instantaneous'
  inst_du_bin.template:   '%y4%m2%d2_%h2%n2z.nc4',
  inst_du_bin.mode:       'instantaneous'
  inst_du_bin.grid_label: {{ model.aerosol.grid_label }} ,
  inst_du_bin.splitField: 1,
  inst_du_bin.frequency:  {{ model.aerosol.frequencies.inst_du_bin | default('010000') }} ,
  inst_du_bin.duration:   010000 ,
  inst_du_bin.ref_time:   000000 ,
  inst_du_bin.nbits:      10,
  inst_du_bin.fields:     'DUEM' , 'DU' ,
                          'DUSD' , 'DU' ,
                          'DUDP' , 'DU' ,
                          'DUWT' , 'DU' ,
                          'DUSV' , 'DU' ,
                          ::
