{# dev/parm/ufs/gocart/collections/inst_2d.j2 #}
{# Traces to: Requirement 3 AC5 #}
{# Per-collection field definition for inst_2d (2D aerosol diagnostics). #}
{# All @[VAR] atparse patterns converted to Jinja2 {{ var }} syntax. #}
#
# Other 2d diagnostics
#
  inst_2d.format:     'CFIO' ,
  inst_2d.descr:      '3d,Hourly,Instantaneous'
  inst_2d.template:   '%y4%m2%d2_%h2%n2z.nc4',
  inst_2d.archive:    '%c/Y%y4',
  inst_2d.mode:       'instantaneous'
  inst_2d.frequency:  {{ model.aerosol.frequencies.inst_2d | default('030000') }},
  inst_2d.duration:   030000,
  inst_2d.ref_time:   000000,
  inst_2d.grid_label: {{ model.aerosol.grid_label }}
  inst_2d.fields:     'DUSMASS'       , 'DU' ,
                      'DUCMASS'       , 'DU' ,
                      'DUSMASS25'     , 'DU' ,
                      'DUCMASS25'     , 'DU' ,
                      'DUAERIDX'      , 'DU' ,
                      'DUFLUXU'       , 'DU' ,
                      'DUFLUXV'       , 'DU' ,
                      'DUANGSTR'      , 'DU' ,
                      'SSSMASS'       , 'SS' ,
                      'SSCMASS'       , 'SS' ,
                      'SSSMASS25'     , 'SS' ,
                      'SSCMASS25'     , 'SS' ,
                      'SSAERIDX'      , 'SS' ,
                      'SSANGSTR'      , 'SS' ,
                      'SSFLUXU'       , 'SS' ,
                      'SSFLUXV'       , 'SS' ,
                      'CAEMANCA.bc'   , 'CA.bc'  ,
                      'CAEMANCA.oc'   , 'CA.oc'  ,
                      'CAEMBBCA.bc'   , 'CA.bc'  ,
                      'CAEMBBCA.oc'   , 'CA.oc'  ,
                      'CAEMBFCA.bc'   , 'CA.bc'  ,
                      'CAEMBFCA.oc'   , 'CA.oc'  ,
                      'CAEMBGCA.bc'   , 'CA.bc'  ,
                      'CAEMBGCA.oc'   , 'CA.oc'  ,
                      'CAHYPHILCA.bc' , 'CA.bc'  ,
                      'CAHYPHILCA.oc' , 'CA.oc'  ,
                      'CAPSOACA.bc'   , 'CA.bc'  ,
                      'CAPSOACA.oc'   , 'CA.oc'  ,
                      'CASMASSCA.bc'  , 'CA.bc'  ,
                      'CASMASSCA.oc'  , 'CA.oc'  ,
                      'CACMASSCA.bc'  , 'CA.bc'  ,
                      'CACMASSCA.oc'  , 'CA.oc'  ,
                      'CAANGSTRCA.bc' , 'CA.bc'  ,
                      'CAANGSTRCA.oc' , 'CA.oc'  ,
                      'CAFLUXUCA.bc'  , 'CA.bc'  ,
                      'CAFLUXUCA.oc'  , 'CA.oc'  ,
                      'CAFLUXVCA.bc'  , 'CA.bc'  ,
                      'CAFLUXVCA.oc'  , 'CA.oc'  ,
                      'CAAERIDXCA.bc' , 'CA.bc'  ,
                      'CAAERIDXCA.oc' , 'CA.oc'  ,
                      'NIPNO3AQ'      , 'NI' ,
                      'NIPNH4AQ'      , 'NI' ,
                      'NIPNH3AQ'      , 'NI' ,
                      'NH3EM'         , 'NI' ,
                      'NH3DP'         , 'NI' ,
                      'NH3WT'         , 'NI' ,
                      'NH3SV'         , 'NI' ,
                      'NH4SD'         , 'NI' ,
                      'NH4DP'         , 'NI' ,
                      'NH4WT'         , 'NI' ,
                      'NH4SV'         , 'NI' ,
                      'HNO3SMASS'     , 'NI' ,
                      'NH3SMASS'      , 'NI' ,
                      'NH4SMASS'      , 'NI' ,
                      'NISMASS'       , 'NI' ,
                      'NISMASS25'     , 'NI' ,
                      'HNO3CMASS'     , 'NI' ,
                      'NH3CMASS'      , 'NI' ,
                      'NH4CMASS'      , 'NI' ,
                      'NICMASS'       , 'NI' ,
                      'NICMASS25'     , 'NI' ,
                      'NIANGSTR'      , 'NI' ,
                      'NIFLUXU'       , 'NI' ,
                      'NIFLUXV'       , 'NI' ,
                      'SUPSO2'        , 'SU' ,
                      'SUPSO4'        , 'SU' ,
                      'SUPSO4G'       , 'SU' ,
                      'SUPSO4AQ'      , 'SU' ,
                      'SUPSO4WT'      , 'SU' ,
                      'SUPMSA'        , 'SU' ,
                      'SO2SMASS'      , 'SU' ,
                      'SO2CMASS'      , 'SU' ,
                      'SO4SMASS'      , 'SU' ,
                      'SO4CMASS'      , 'SU' ,
                      'DMSSMASS'      , 'SU' ,
                      'DMSCMASS'      , 'SU' ,
                      'MSASMASS'      , 'SU' ,
                      'MSACMASS'      , 'SU' ,
                      'SUANGSTR'      , 'SU' ,
                      'SUFLUXU'       , 'SU' ,
                      'SUFLUXV'       , 'SU' ,
                      'SO4EMAN'       , 'SU' ,
                      'SO2EMAN'       , 'SU' ,
                      'SO2EMBB'       , 'SU' ,
                      'SO2EMVN'       , 'SU' ,
                      'SO2EMVE'       , 'SU' ,
                      ::
