#!/usr/bin/env bash
# This script runs on Niagara to interact with the Doorman service
# Redirect all output to a local file -- it cannot be sent back directly with tty/pty
script_relpath="$(dirname "${BASH_SOURCE[0]}")"
log_file="${script_relpath}/run_doorman.log"
cd "${script_relpath}"

run_doorman(){
set -eux

rm -f dm.conf
rm -f places.inc
rm -f FLIST
rm -rf "{{doorman_gendel}}"

# Tell the doorman where the general delivery space is on Niagara (unique for each RUN/cycle)
# This is where tarballs will be received and confirmations are written and sent.
echo 'export GENDEL="{{doorman_gendel}}"' > places.inc
# Tell the doorman what the sender's UUID is
echo 'export CLIENT_ENDPOINT="{{CLIENT_GLOBUS_UUID}}"' >> places.inc
# Tell the doorman where the sending client's dropbox is (why twice??)
echo 'export CLIENT_DROPBOX="{{sven_dropbox}}"' >> places.inc
# Tell the doorman what it's own UUID is
echo 'export NIAG_GLC="{{SERVER_GLOBUS_UUID}}"' >> places.inc

# Point to the doorman executable scripts
export PATH="${PATH}:{{DOORMAN_ROOT}}/bin"

# Create the general delivery space if it wasn't already
initialize.sh

# Transfer the data from the sender and execute the 'todo' script
receive.sh --go

# If receive didn't produce an FLIST file, then something went wrong
if [[ ! -f FLIST ]]; then
    echo "receive.sh failed!"
    return 2
fi

# Parse the FLIST file created by receive.sh to get the transfer IDs
IDs=""
while IFS= read -r line; do
    package_name=$(echo "${line}" | grep -o "package_location_.*\.tgz")
    tmp="${package_name#package_location_}"
    ID="${tmp%.tgz}"
    IDs="${IDs} ${ID}"
done < FLIST

# Sleep for a minute to allow time for all globus artifacts to resolve
sleep 1m

# Validate and generate the acknowledgement for each transfer ID
for ID in ${IDs}; do
    ack.sh "${ID}"
done

# Send the acknowledgement back to the sender
set +e
send.sh

stat=$?

if [[ ${stat} -ne 0 ]]; then
    echo "Failed to send status back to client!"
    exit 3
fi
set -e

# Remove the working directory
#shellcheck disable=SC2050
if [[ "{{KEEPDATA}}" == "NO" ]]; then
    cd "${HOME}" || echo "Failed to navigate to ${HOME}!" && exit 4
    rm -rf "${doorman_dir}"
fi
}

run_doorman >& "${log_file}"

exit 0
