#!/bin/bash
# Jinja-templated variables
hpss_target_dir="{{hpss_target_dir}}"
log_directory="{{server_home}}/doorman/{{jobid}}/logs/"

cwd=$(pwd)
file="${1}"
# In lieu of an actual ID, construct from the filename
# TODO when the doorman can provide an xfer ID, use that instead
globus_xfer_id="${file}"

file_full="${cwd}/${file}"
mkdir -p "${log_directory}"

log_file="${log_directory}/hpss_status_${globus_xfer_id}.log"
rm -f "${log_file}"

send_to_hpss() {
    # Write a command file to place the file on hpss and protect it
    local hpss_target="${hpss_target_dir}/${file}"
    local command_file="command_file_${globus_xfer_id}"
    echo "mkdir -p ${hpss_target_dir}" > "${command_file}"
    echo "put ${file_full} :  ${hpss_target}" >> "${command_file}"

    hsi in "${command_file}" >> "${log_file}" 2>&1
    # shellcheck disable=SC2181
    if [[ $? != 0 ]]; then
        echo "Failed to send ${file} to HPSS." >> "${log_file}"
        return 1
    fi

    rm -f "${command_file}"

    # Create an index file if the file is a tarball
    if [[ ${file} == *.tar ]]; then
        # For now, ignore errors coming from the index command.
        # Issue RDHPCS#2025020754000121 opened with RDHPCS.
        htar -Xvf "${hpss_target}" > /dev/null 2>&1 || true
        # TODO Reinstate error checking and logging when creating index files when HPSS's tar version is upgraded
        #if ! htar -Xvf "${hpss_target}" >> "${log_file}" 2>&1; then
            #echo "Failed to create an index file for ${hpss_target}.  Exiting." >> "${log_file}"
            #return 2
        #fi
    fi

    return 0
}

send_to_hpss
hpss_stat=$?

if [[ ${hpss_stat} -eq 0 ]]; then
    echo "SUCCESS" >> "${log_file}"
else
    echo "FAILURE" >> "${log_file}"
fi
