#!/bin/bash
# Jinja-templated variables
hpss_target_dir="{{target_dir}}"
globus_xfer_id="{{globus_xfer_id}}"
log_directory="{{niagara_log_directory}}"

cwd=$(pwd)
file="${1}"
file_full="${cwd}/${1}"
mkdir -p "${log_directory}"
log_file="${log_directory}/hpss_status_${globus_xfer_id}.log"
touch "${log_file}"
has_rstprod="{{has_rstprod}}"

send_to_hpss()
{
    if [[ "${has_rstprod}" == "true" ]]; then
        # Change the group of the file to rstprod
        if ! chgrp "rstprod" "${file_full}" > "${log_file}" 2>&1; then
            rm -f "${file_full}"
            echo "Failed to run chmod on ${file_full}.  Deleting and exiting." >> "${log_file}"
            return 1
        fi
    fi

    # Check that the MD5 checksum matches what was sent
    chk=$(md5sum "${file_full}")
    if [[ "${chk}" != "${globus_xfer_id}  ${file_full}" ]]; then
        echo "MD5 checksum of ${file} does not match.  Exiting." >> "${log_file}"
        return 2
    fi

    # Write a command file to place the file on hpss and protect it
    local hpss_target="${hpss_target_dir}/${file}"
    local command_file="command_file_${globus_xfer_id}"
    echo "mkdir -p ${hpss_dir}" >> "${command_file}"
    echo "put ${file_full} :  ${hpss_target}" >> "${command_file}"
    if [[ "${has_rstprod}" == "true" ]]; then
        echo "chgrp rstprod ${hpss_target}" >> "${command_file}"
        echo "chmod 640 ${hpss_target}" >> "${command_file}"
    fi
    hsi in "${command_file}" >> "${log_file}" 2>&1
    # shellcheck disable=SC2181
    if [[ $? != 0 ]]; then
        echo "Failed to send ${file} to HPSS and/or protect it." >> "${log_file}"
        if [[ "${has_rstprod}" == "true" ]]; then
            echo "Deleting from hpss" >> "${log_file}"
            hsi rm "${hpss_target}"
        fi
        return 3
    fi

    rm -f "${command_file}"

    # Create an index file if the file is a tarball
    if [[ ${file} == *.tar ]]; then
        if ! htar -Xvf "${hpss_target}" >> "${log_file}" 2>&1; then
            echo "Failed to create an index file for ${hpss_target}.  Exiting." >> "${log_file}"
            return 4
        fi
    fi

    return 0
}

send_to_hpss
hpss_stat=$?

if [[ ${hpss_stat} -eq 0 ]]; then
    echo "SUCCESS" >> "${log_file}"
else
    echo "FAILURE" >> "${log_file}"
fi
