#!/bin/bash
# Jinja-templated variables
log_directory="{{niagara_log_directory}}"
# In lieu of an actual globus xfer ID, use the filename
# TODO when the Doorman is capable of providing the xfer ID, use that instead
globus_xfer_id="{{target_filename}}"

log_file="${log_directory}/hpss_status_${globus_xfer_id}.log"

hpss_stat=$(tail -1 "${log_file}")

echo "${hpss_stat}"
