start_year:              @[SYEAR]
start_month:             @[SMONTH]
start_day:               @[SDAY]
start_hour:              @[SHOUR]
start_minute:            0
start_second:            0
nhours_fcst:             @[FHMAX]

dt_atmos:                @[DT_ATMOS]
output_1st_tstep_rst:    .false.

write_groups:            @[WRITE_GROUP]
write_tasks_per_group:   @[WRTTASK_PER_GROUP]
output_history:          @[OUTPUT_HISTORY]
write_dopost:            @[WRITE_DOPOST]
write_nsflip:            @[WRITE_NSFLIP]
num_files:               @[NUM_FILES]
filename_base:           @[FILENAME_BASE]
imo:                     @[IMO]
jmo:                     @[JMO]

