copy:
{% for fh in IAUFHRS %}
- ["{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}atmf{{ '%03d' % fh }}.nc", "{{ DATA }}"]
- ["{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}sfcf{{ '%03d' % fh }}.nc", "{{ DATA }}"]
- ["{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}cubed_sphere_grid_atmf{{ '%03d' % fh }}.nc", "{{ DATA }}"]
- ["{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}cubed_sphere_grid_sfcf{{ '%03d' % fh }}.nc", "{{ DATA }}"]
{% if fh == 6 %}
{% for itile in range(6) %}
- ["{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile{{ itile+1 }}.nc", "{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atmi006.tile{{ itile+1 }}.nc"]
{% if DO_AERO_ANL %}
- ["{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile{{ itile+1 }}.nc", "{{ DATA }}/{{ APREFIX }}aeroi006.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile{{ itile+1 }}.nc"]
{% endif %}
{% if DO_JEDISNOWDA %}
- ["{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile{{ itile+1 }}.nc", "{{ DATA }}/{{ APREFIX }}snowi006.{{ current_cycle | to_fv3time }}.sfc_data.tile{{ itile+1 }}.nc"]
{% endif %}
{% endfor %}
{% else %}
{% for itile in range(6) %}
- ["{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}cubed_sphere_grid_atmi{{ '%03d' % fh }}.tile{{ itile+1 }}.nc", "{{ DATA }}"]
{% endfor %}
{% endif %}
{% endfor %}
