{% set ftype_list = ['cor_rh', 'cor_rv', 'stddev'] %}
{% set nprocs = ntiles * layout_x * layout_y %}

mkdir:
- ''{{ DATA }}/berror''
copy:
{% for ftype in ftype_list %}
- ['{{ BERROR_DATA_DIR }}/{{ BERROR_DATE | to_fv3time }}.coupler.res', '{{ DATA }}/berror']
   {% for itile in range(1,7) %}
- ['{{ BERROR_DATA_DIR }}/{{ BERROR_DATE | to_fv3time }}.fv_tracer.res.tile{{ itile }}.nc', '{{ DATA }}/berror']
   {% endfor %}
{% endfor %}
{% for nn in range(1,nprocs+1) %}
- ['{{ BERROR_DATA_DIR }}/{{ 'nicas_aero_nicas_local_%06d-%06d.nc' | format(nprocs, nn) }}', '{{ DATA }}/berror']
{% endfor %}
