mkdir:
{% for imem in range(1,NMEM_ENS+1) %}
{% set memchar = 'mem%03d' | format(imem) %}
- '{{ DATA }}/{{ memchar }}'
{% endfor %}
copy:
{% for fh in IAUFHRS %}
- ["{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}cubed_sphere_grid_atmf{{ '%03d' % fh }}.nc", "{{ DATA }}"]
- ["{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}cubed_sphere_grid_sfcf{{ '%03d' % fh }}.nc", "{{ DATA }}"]
{% if fh == 6 %}
- ["{{ COMIN_ATMOS_ANALYSIS_ENSSTAT }}/{{ APREFIX_ENS }}cubed_sphere_grid_atmanl.ensmean.nc", "{{ DATA }}/{{ APREFIX_ENS }}cubed_sphere_grid_atma006.ensmean.nc"]
{% for itile in range(6) %}
- ["{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile{{ itile+1 }}.nc", "{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atmi006.tile{{ itile+1 }}.nc"]
{% endfor %}
{% else %}
- ["{{ COMIN_ATMOS_ANALYSIS_ENSSTAT }}/{{ APREFIX_ENS }}cubed_sphere_grid_atma{{ '%03d' % fh }}.ensmean.nc", "{{ DATA }}"]
{% for itile in range(6) %}
- ["{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}cubed_sphere_grid_atmi{{ '%03d' % fh }}.tile{{ itile+1 }}.nc", "{{ DATA }}"]
{% endfor %}
{% endif %}
{% endfor %}
{% for imem in range(1,NMEM_ENS+1) %}
   {% set memchar = 'mem%03d' | format(imem) %}
   {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                         '${RUN}': 'enkfgdas',
                         '${YMD}': current_cycle | to_YMD,
                         '${HH}': current_cycle | strftime('%H'),
                         '${MEMDIR}': memchar }) %}
{% for fh in IAUFHRS %}
{% if fh == 6 %}
- ['{{ COM_ATMOS_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ APREFIX_ENS }}cubed_sphere_grid_atminc.nc', '{{ DATA }}/{{ memchar }}/{{ APREFIX_ENS }}cubed_sphere_grid_atmi006.nc']
{% else %}
- ['{{ COM_ATMOS_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ APREFIX_ENS }}cubed_sphere_grid_atmi{{ '%03d' % fh }}.nc', '{{ DATA }}/{{ memchar }}/']
{% endif %}
{% endfor %}
{% endfor %}
