#! /usr/bin/env bash

cat "${HOMEglobal}/ush/jjob_header.sh"

source "${EXPDIR}/config.base"
source "${EXPDIR}/config.wave"
source "${EXPDIR}/config.wave_stat_pnt"



# Set COM Paths

export MEMDIR="ensstat"
export YMD=${PDY}
export HH=${cyc}
export COMOUT_WAVE_STATION_ENS="{{ COM_WAVE_STATION_TMPL }}"
if [[ ! -d "${COMOUT_WAVE_STATION_ENS}" ]]; then
    mkdir -m 775 -p "${COMOUT_WAVE_STATION_ENS}"
fi

# Execute the Script
#"${SCRgfs}/exgefs_wave_stat_pnt.sh"
export err=$?
err_chk
##########################################
## Remove the Temporary working directory
###########################################
cd "${DATAROOT}" || true
if [[ "${KEEPDATA}" != "YES" ]]; then
    rm -rf "${DATA}"
fi

exit 0
