#! /usr/bin/env bash

cat "${HOMEglobal}/ush/jjob_header.sh"

source "${EXPDIR}/config.base"
source "${EXPDIR}/config.prep_emissions"



##############################################
# Begin JOB SPECIFIC work
##############################################
export YMD=${PDY}
export HH=${cyc}
export COMOUT_CHEM_INPUT="{{ COM_CHEM_INPUT_TMPL }}"
export COMOUT_CHEM_RESTART="{{ COM_CHEM_RESTART_TMPL }}"

mkdir -p "${COMOUT_CHEM_INPUT}"

###############################################################
# Run relevant script
EXSCRIPT=${PREP_EMISSIONS_PY:-${SCRgfs}/exglobal_prep_emissions.py}
${EXSCRIPT} && true
export err=$?
if [[ ${err} -ne 0 ]]; then
    err_exit "Error executing ${EXSCRIPT}, ABORT!"
fi

##############################################
# End JOB SPECIFIC work
##############################################

##############################################
# Final processing
##############################################
if [[ -e "${pgmout}" ]]; then
    cat "${pgmout}"
fi

exit 0
