#! /usr/bin/env bash

cat ${HOMEglobal}/ush/jjob_header.sh

source "${EXPDIR}/config.base"
source "${EXPDIR}/config.anal"
source "${EXPDIR}/config.analdiag"



##############################################
# Begin JOB SPECIFIC work
##############################################
# shellcheck disable=SC2153

export YMD=${PDY}
export HH=${cyc}
export COMIN_ATMOS_ANALYSIS="{{ COM_ATMOS_ANALYSIS_TMPL }}"
export COMOUT_ATMOS_ANALYSIS="{{ COM_ATMOS_ANALYSIS_TMPL }}"
mkdir -m 775 -p "${COMOUT_ATMOS_ANALYSIS}"

###############################################################
# Run relevant script
${ANALDIAGSH:-${SCRgfs}/exglobal_diag.sh} && true
export err=$?
if [[ ${err} -ne 0 ]]; then
    err_exit
fi

##############################################
# End JOB SPECIFIC work
##############################################

##############################################
# Final processing
##############################################
if [[ -e "${pgmout}" ]]; then
    cat "${pgmout}"
fi

##########################################
# Remove the Temporary working directory
##########################################
cd "${DATAROOT}" || true
if [[ "${KEEPDATA}" == "NO" ]]; then
    rm -rf "${DATA}"
fi

exit 0
