#! /usr/bin/env bash

cat ${HOMEglobal}/ush/jjob_header.sh

source "${EXPDIR}/config.base"
source "${EXPDIR}/config.globus"



export YMD=${PDY}
export HH=${cyc}
export COMIN_CONF="{{ COM_CONF_TMPL }}"

export RUN=${RUN}
export YMD=${PDY}
export HH=${cyc}

###############################################################
# Run globus script
###############################################################

export -n SHELLOPTS
${GLOBALGLOBUSARCHSH:-${SCRgfs}/exglobal_globus_arch.py}
err=$?
[[ ${err} -ne 0 ]] && exit "${err}"

##############################################
# End JOB SPECIFIC work
##############################################

##############################################
# Final processing
##############################################
if [[ -e "${pgmout}" ]]; then
    cat "${pgmout}"
fi

##########################################
# Remove the Temporary working directory
##########################################
cd "${DATAROOT}" || true
[[ ${KEEPDATA} == "NO" ]] && rm -rf "${DATA}"

exit 0
