#! /usr/bin/env bash

cat ${HOMEglobal}/ush/jjob_header.sh

source "${EXPDIR}/config.base"
source "${EXPDIR}/config.anal"
source "${EXPDIR}/config.eupd"

##############################################
# Set variables used in the script
##############################################
export machine="{{ MACHINE }}"
export HOMEgfs="{{ HOMEgfs }}"
export EXPDIR="{{ EXPDIR }}/{{ PSLOT }}"
export ROTDIR="{{ COMROOT }}/{{ PSLOT }}"
export ICSDIR="{{ ICSDIR }}"
export PSLOT="{{ PSLOT }}"

##############################################
# Begin JOB SPECIFIC work
##############################################
# shellcheck disable=SC2155
export GDATE=$(date --utc +%Y%m%d%H -d "${PDY} ${cyc} - ${assim_freq} hours")
export GDUMP="enkfgdas" # EnKF ensemble always uses RUN=enkfgdas for prior members

export APREFIX="${RUN}.t${cyc}z."
export GPREFIX="${GDUMP}.t${GDATE:8:2}z."

export MEMDIR="ensstat"
export YMD=${PDY}
export HH=${cyc}
export COMIN_ATMOS_ANALYSIS_STAT="{{ COM_ATMOS_ANALYSIS_TMPL }}"
export COMOUT_ATMOS_ANALYSIS_STAT="{{ COM_ATMOS_ANALYSIS_TMPL }}"

export MEMDIR="ensstat"
export RUN="enkfgdas"
export YMD=${GDATE:0:8}
export HH=${GDATE:8:2}
export COMIN_ATMOS_HISTORY_STAT_PREV="{{ COM_ATMOS_HISTORY_TMPL }}"

export RUN=${RUN}
export YMD=${PDY}
export HH=${cyc}

###############################################################
# Run relevant script

${ENKFUPDSH:-${SCRgfs}/exglobal_enkf_update.sh} && true
export err=$?
if [[ ${err} -ne 0 ]]; then
    err_exit
fi

##############################################
# Send Alerts
##############################################
if [[ "${SENDDBN}" == "YES" ]]; then
    "${DBNROOT}/bin/dbn_alert" "MODEL" "ENKF1_MSC_enkfstat" "${job}" "${COMOUT_ATMOS_ANALYSIS_STAT}/${APREFIX}enkfstat.txt"
fi

##############################################
# End JOB SPECIFIC work
##############################################

##############################################
# Final processing
##############################################
if [[ -e "${pgmout}" ]]; then
    cat "${pgmout}"
fi

##########################################
# Remove the Temporary working directory
##########################################
cd "${DATAROOT}" || true
if [[ "${KEEPDATA}" == "NO" ]]; then
    rm -rf "${DATA}"
fi

exit 0
