#! /usr/bin/env bash

cat ${HOMEglobal}/ush/jjob_header.sh
source "${EXPDIR}/config.base"
source "${EXPDIR}/config.stage_ic"

##############################################
# Set variables used in the script
##############################################
export machine="{{ MACHINE }}"
export HOMEgfs="{{ HOMEgfs }}"
export EXPDIR="{{ EXPDIR }}/{{ PSLOT }}"
export ROTDIR="{{ COMROOT }}/{{ PSLOT }}"
export ICSDIR="{{ ICSDIR }}"
export PSLOT="{{ PSLOT }}"

# Execute staging
"${SCRgfs}/exglobal_stage_ic.py"
err=$?

###############################################################
# Check for errors and exit if any of the above failed
if [[ "${err}" -ne 0 ]]; then
    echo "Unable to stage ICs to ${ROTDIR}; ABORT!"
    exit "${err}"
fi

##########################################
# Remove the Temporary working directory
##########################################
cd "${DATAROOT}" || (
    echo "${DATAROOT} does not exist. ABORT!"
    exit 1
)
if [[ "${KEEPDATA}" == "NO" ]]; then
    rm -rf "${DATA}"
fi

exit 0
