#! /usr/bin/env bash

export DATA=${DATA:-${DATAROOT}/${RUN}aeroanl_${cyc}}
cat ${HOMEglobal}/ush/jjob_header.sh

source "${EXPDIR}/config.base"
source "${EXPDIR}/config.aeroanl"
source "${EXPDIR}/config.aeroanlinit"


# shellcheck disable=SC2153
GDATE=$(date --utc +%Y%m%d%H -d "${PDY} ${cyc} - ${assim_freq} hours")
gPDY=${GDATE:0:8}
gcyc=${GDATE:8:2}
GDUMP="gcdas"
# Restart conditions for GFS cycle come from GDAS
# Restart conditions for GCAFS cycle come from GCDAS
GDUMP="${RUN}"
GDUMP="${GDUMP/gfs/gdas}"
GDUMP="${GDUMP/gcafs/gcdas}"

##############################################
# Begin JOB SPECIFIC work
##############################################

# Generate COM variables from templates
export YMD=${PDY}
export HH=${cyc}
export COMIN_OBS="{{ COM_OBS_TMPL }}"
export COMOUT_CHEM_ANALYSIS="{{ COM_CHEM_ANALYSIS_TMPL }}"

RUN=${GDUMP} YMD=${gPDY} HH=${gcyc}
export COMIN_ATMOS_RESTART_PREV="{{ COM_ATMOS_RESTART_TMPL }}"
export COMIN_CHEM_BMAT_PREV="{{ COM_CHEM_BMAT_TMPL }}"
export COMIN_CHEM_ANALYSIS_PREV="{{ COM_CHEM_ANALYSIS_TMPL }}"
export RUN=${RUN} YMD=${PDY} HH=${cyc}

###############################################################
# Run relevant script

EXSCRIPT=${GDASAEROINITPY:-${SCRgfs}/exglobal_aero_analysis_initialize.py}
${EXSCRIPT} && true
export err=$?
if [[ ${err} -ne 0 ]]; then
    err_exit
fi

##############################################
# End JOB SPECIFIC work
##############################################

##############################################
# Final processing
##############################################
if [[ -e "${pgmout}" ]]; then
    cat "${pgmout}"
fi

exit 0
