#! /usr/bin/env bash

###########################################################
# Global Minimization Monitor (MinMon) job
###########################################################
cat ${HOMEglobal}/ush/jjob_header.sh

source "${EXPDIR}/config.base"
source "${EXPDIR}/config.vminmon"

##############################################
# Set variables used in the script
##############################################
export machine="{{ MACHINE }}"
export HOMEgfs="{{ HOMEgfs }}"
export EXPDIR="{{ EXPDIR }}/{{ PSLOT }}"
export ROTDIR="{{ COMROOT }}/{{ PSLOT }}"
export ICSDIR="{{ ICSDIR }}"
export PSLOT="{{ PSLOT }}"

#############################################
# Determine PDY and cyc for previous cycle
#############################################
# shellcheck disable=SC2153
GDATE=$(date --utc +%Y%m%d%H -d "${PDY} ${cyc} - ${assim_freq} hours")
export gPDY=${GDATE:0:8}
export gcyc=${GDATE:8:2}

#############################################
# TANKverf - WHERE OUTPUT DATA WILL RESIDE
#############################################
export YMD=${PDY}
export HH=${cyc}
export COMIN_ATMOS_ANALYSIS="{{ COM_ATMOS_ANALYSIS_TMPL }}"
export COMOUT_ATMOS_MINMON="{{ COM_ATMOS_MINMON_TMPL }}"

YMD=${gPDY} HH=${gcyc}
export COMIN_ATMOS_MINMON_PREV="{{ COM_ATMOS_MINMON_TMPL }}"
export YMD=${PDY} HH=${cyc}

export gsistat="${COMIN_ATMOS_ANALYSIS}/${RUN}.t${cyc}z.gsistat.txt"
export M_TANKverf=${M_TANKverf:-${COMOUT_ATMOS_MINMON}}
export M_TANKverfM1=${M_TANKverfM1:-${COMIN_ATMOS_MINMON_PREV}}

mkdir -p "${M_TANKverf}"

########################################################
# Execute the script.
"${SCRgfs}/exglobal_atmos_vminmon.sh" && true
export err=$?
if [[ ${err} -ne 0 ]]; then
    err_exit
fi

################################
# Remove the Working Directory
################################
if [[ "${KEEPDATA}" == "NO" ]]; then
    rm -rf "${DATA}"
fi

exit 0
