#!/bin/bash

########## config.marineanlecen ##########
# Ocn Analysis specific

echo "BEGIN: config.marineanlecen"

# Get task specific resources
source "${EXPDIR}/config.resources" marineanlecen

export INPUT_FIX_DIR="{{ SOCA_INPUT_FIX_DIR }}"
export ANL_GEOM="{{ SOCA_ANL_GEOM }}"

export TASK_CONFIG_YAML="${PARMglobal}/gdas/marine/marine_ecen_config.yaml.j2"

echo "END: config.marineanlecen"
