#! /usr/bin/env bash

########## config.snowanl ##########
# configuration common to snow analysis tasks

echo "BEGIN: config.snowanl"

# Get task specific resources
source "${EXPDIR}/config.resources" snowanl

# Name of the executable that applies increment to bkg and its namelist template
export APPLY_INCR_EXE="${EXECgfs}/gdas_apply_incr.x"
export APPLY_INCR_NML_TMPL="${PARMgfs}/gdas/snow/apply_incr_nml.j2"

export JEDI_CONFIG_YAML="${PARMgfs}/gdas/snow/snow_det_jedi_config.yaml.j2"
export STAGE_JEDI_FIX_YAML="${PARMgfs}/gdas/snow/snow_stage_jedi_fix.yaml.j2"
export STAGE_BKG_YAML="${PARMgfs}/gdas/snow/snow_det_stage_bkg.yaml.j2"
export STAGE_BERROR_YAML="${PARMgfs}/gdas/snow/snow_stage_berror.yaml.j2"
export STAGE_GTS_YAML="${PARMgfs}/gdas/snow/obs/config/bufr2ioda_mapping.yaml.j2"
export STAGE_IMS_SCF2IODA_YAML="${PARMgfs}/gdas/snow/snow_stage_ims_scf2ioda.yaml.j2"

export io_layout_x="{{ IO_LAYOUT_X }}"
export io_layout_y="{{ IO_LAYOUT_Y }}"

export ens_size=1
export noincr_threshold=9999999.9
export print_debug=".false."
export truncate_incr=".true."

echo "END: config.snowanl"
