#!/bin/bash

########## config.marineanl ##########
# configuration common to all ocean analysis tasks

echo "BEGIN: config.marineanl"

# TODO: This should be sourced in a config file specific to marine deterministic analysis
#       and renamed to remove _DET

export INPUT_FIX_DIR="{{ SOCA_INPUT_FIX_DIR }}"
export ANL_GEOM="{{ SOCA_ANL_GEOM }}"
export NINNER="{{ SOCA_NINNER }}"

export OBS_LIST_YAML="{{ SOCA_OBS_LIST }}"
export TASK_CONFIG_YAML="${PARMglobal}/gdas/marine/marine_det_config.yaml.j2"

echo "END: config.marineanl"
