#!/bin/bash -x

########## config.aeroanl ##########
# configuration common to all aero analysis tasks

echo "BEGIN: config.aeroanl"

# define analysis resolution based on deterministic res
case ${CASE} in
  "C1152" | "C768" | "C384")
    CASE_ANL="C384"
    ;;
  "C192" | "C96" | "C48")
    CASE_ANL=${CASE}
    ;;
  *)
    echo "FATAL ERROR: Aerosol DA not supported at ${CASE} resolution"
    exit 4
esac
export CASE_ANL
export JCB_ALGO_YAML_VAR=${PARMgfs}/gdas/aero/jcb-prototype_3dvar.yaml.j2
export STATICB_TYPE='diffusion'
export BERROR_YAML="aero_background_error_static_${STATICB_TYPE}"
export BERROR_DATA_DIR="${FIXgfs}/gdas/aero/clim_b"

export JEDI_CONFIG_YAML="${PARMgfs}/gdas/aero/aero_det_jedi_config.yaml.j2"
export STAGE_CRTM_COEFF_YAML="${PARMgfs}/gdas/aero/aero_stage_crtm_coeff.yaml.j2"
export STAGE_JEDI_FIX_YAML="${PARMgfs}/gdas/aero/aero_stage_jedi_fix.yaml.j2"
export STAGE_YAML="${PARMgfs}/gdas/aero/aero_det_stage.yaml.j2"
export SAVE_YAML="${PARMgfs}/gdas/aero/aero_det_save.yaml.j2"

export io_layout_x="{{ IO_LAYOUT_X }}"
export io_layout_y="{{ IO_LAYOUT_Y }}"

if [[ "${DOIAU}" == "YES" ]]; then
  export aero_bkg_times="3,6,9"
else
  export aero_bkg_times="6," # Trailing comma is necessary so this is treated as a list
fi

echo "END: config.aeroanl"
