#!/bin/bash

########## config.prepoceanobs ##########

echo "BEGIN: config.prepoceanobs"

# ocean analysis needs own dmpdir until standard dmpdir has full ocean obs
use_exp_obs="{{ use_exp_obs }}"
if [[ "${use_exp_obs}" == "YES" ]]; then
    dmpdir_exp="{{ dmpdir_exp }}"
fi

export DMPDIR="${dmpdir_exp:-${DMPDIR}}"

# Get task specific resources
. "${EXPDIR}/config.resources" prepoceanobs
echo "END: config.prepoceanobs"
