#! /usr/bin/env bash

########## config.atmanl ##########
# configuration common to all atm var analysis tasks

echo "BEGIN: config.atmanl"

export OBS_LIST_YAML="{{ OBS_LIST_YAML }}"
export JCB_ALGO_YAML_VAR="{{ JCB_ALGO_YAML_VAR }}"
export JCB_ALGO_YAML_FV3INC="{{ JCB_ALGO_YAML_FV3INC }}"
export STATICB_TYPE="{{ STATICB_TYPE }}"
export layout_x_atmanl="{{ LAYOUT_X_ATMANL }}"
export layout_y_atmanl="{{ LAYOUT_Y_ATMANL }}"
export io_layout_x="{{ IO_LAYOUT_X }}"
export io_layout_y="{{ IO_LAYOUT_Y }}"

export TASK_CONFIG_YAML="${PARMgfs}/gdas/atm/atm_det_config.yaml.j2"

echo "END: config.atmanl"
