#! /usr/bin/env bash

########## config.snowanl ##########
# configuration common to snow analysis tasks

echo "BEGIN: config.snowanl"

# Get task specific resources
source "${EXPDIR}/config.resources" snowanl

# Name of the executable that applies increment to bkg and its namelist template
export APPLY_INCR_EXE="${EXECgfs}/gdas_apply_incr.x"
export APPLY_INCR_NML_TMPL="${PARMgfs}/gdas/snow/apply_incr_nml.j2"

export TASK_CONFIG_YAML="${PARMgfs}/gdas/snow/snow_det_config.yaml.j2"
export OBS_LIST_YAML="${PARMgfs}/gdas/snow/snow_obs_list.yaml.j2"
export ims_scf_obs_suffix="asc" # asc-ascii; nc-netcdf
export fail_on_missing_snowobs=False    # False: just warn; True: fail & exit

export PREP_SNOCVR_SNOMAD_YAML="${PARMgfs}/gdas/snow/prep/prep_snocvr_snomad.yaml.j2"
export OBSBUILDER="${USHgfs}/bufr_snocvr_snomad.py"
export PREP_GHCN_YAML="${PARMgfs}/gdas/snow/prep/prep_ghcn.yaml.j2"
export GHCN2IODACONV="${USHgfs}/ghcn_snod2ioda.py"

export io_layout_x="{{ IO_LAYOUT_X }}"
export io_layout_y="{{ IO_LAYOUT_Y }}"

export ens_size=1
export noincr_threshold=9999999.9
export print_debug=".false."
export truncate_incr=".true."

echo "END: config.snowanl"
