{% set head = RUN + ".t" + cycle_HH + "z." %}
{% if RUN == "gdas" or RUN == "gfs" %}
deterministic:
    mkdir:
        - "{{ ARCDIR }}"
        {% if RUN == "gfs" %}
        - "{{ ARCDIR }}/tracker.{{ cycle_YYYYMMDDHH }}/{{ RUN }}"
        {% endif %}
        {% if FITSARC %}
        {% if not VFYARC is defined %}
        {% set VFYARC = ROTDIR + "/vrfyarch" %}
        {% endif %}
        - "{{ VFYARC }}/{{ RUN }}.{{ cycle_YYYYMMDD }}/{{ cycle_HH }}"
        {% endif %}
    copy:
        {% if not first_cycle and MODE == "cycled" %}
        - ["{{ atmos_analysis_dir }}/{{ head }}gsistat", "{{ ARCDIR }}/gsistat.{{ RUN }}.{{ cycle_YYYYMMDDHH }}"]
        {% if DO_JEDISNOWDA %}
        - ["{{ snow_analysis_dir }}/{{ head }}snowstat", "{{ ARCDIR }}/snowstat.{{ RUN }}.{{ cycle_YYYYMMDDHH }}"]
        {% endif %}
        {% if DO_AERO %}
        - ["{{ chem_analysis_dir }}/{{ head }}aerostat", "{{ ARCDIR }}/aerostat.{{ RUN }}.{{ cycle_YYYYMMDDHH }}"]
        {% endif %}
        - ["{{ atmos_grib_1p00_dir }}/{{ head }}pgrb2.1p00.anl", "{{ ARCDIR }}/pgbanl.{{ RUN }}.{{ cycle_YYYYMMDDHH }}.grib2"]
        {% endif %}  # Full cycle
        {% if RUN == "gfs" %}
        {% set fhmin, fhmax, fhout = FHMIN_GFS, FHMAX_GFS, FHOUT_GFS %}
        {% elif RUN == "gdas" %}
        {% set fhmin, fhmax, fhout = FHMIN, FHMAX, FHOUT %}
        {% endif %}
        {% for fhr in range(0, fhmax + fhout, fhout) %}
        - ["{{ atmos_grib_1p00_dir }}/{{ head }}pgrb2.1p00.f{{ '%03d' % fhr }}", "{{ ARCDIR }}/pgbf{{ '%02d' % fhr }}.{{ RUN }}.{{ cycle_YYYYMMDDHH }}.grib2"]
        {% endfor %}
        {% if RUN == "gfs" %}
        {% if FITSARC %}
        {% if FHMAX_FITS is defined %}
        {% set fhmax = FHMAX_FITS %}
        {% else %}
        {% set fhmax = FHMAX_GFS %}
        {% endif %}
        {% for fhr in range(0, fhmax + 6, 6) %}
        {% set sfcfile = atmos_history_dir + "/" + head + "sfcf" + '%03d'|format(fhr) + ".nc" %}
        {% set sigfile = atmos_history_dir + "/" + head + "atmf" + '%03d'|format(fhr) + ".nc" %}
        - ["{{ sfcfile }}", "{{ VRFYARC }}/{{ RUN }}.{{ cycle_YYYYMMDD }}/{{ cycle_HH }}/{{ sfcfile }}"]
        - ["{{ sigfile }}", "{{ VRFYARC }}/{{ RUN }}.{{ cycle_YYYYMMDD }}/{{ cycle_HH }}/{{ sigfile }}"]
        {% endfor %}
        {% endif %} ## FITSARC
        - ["{{ atmos_genesis_dir }}/storms.gfso.atcf_gen.{{ cycle_YYYYMMDDHH }}", "{{ ARCDIR }}/storms.gfso.atcf_gen.{{ cycle_YYYYMMDDHH }}"]
        - ["{{ atmos_genesis_dir }}/storms.gfso.atcf_gen.altg.{{ cycle_YYYYMMDDHH }}", "{{ ARCDIR }}/storms.gfso.atcf_gen.altg.{{ cycle_YYYYMMDDHH }}"]
        - ["{{ atmos_track_dir }}/trak.gfso.atcfunix.{{ cycle_YYYYMMDDHH }}", "{{ ARCDIR }}/trak.gfso.atcfunix.{{ cycle_YYYYMMDDHH }}"]
        - ["{{ atmos_track_dir }}/trak.gfso.atcfunix.altg.{{ cycle_YYYYMMDDHH }}", "{{ ARCDIR }}/trak.gfso.atcfunix.altg.{{ cycle_YYYYMMDDHH }}"]
        ## Only created if tracking is on and there were systems to track
        {% if path_exists(atmos_track_dir + "/epac") %}
        - ["{{ atmos_track_dir }}/epac", "{{ ARCDIR }}/epac"]
        {% endif %}
        {% if path_exists(atmos_track_dir + "/epac") %}
        - ["{{ atmos_track_dir }}/natl", "{{ ARCDIR }}/natl"]
        {% endif %}
        {% endif %} ## RUN == "gfs"
        {% if path_exists(atmos_track_dir ~ "/atcfunix." ~ RUN ~ "." ~ cycle_YYYYMMDDHH) %}
        - ["{{ atmos_track_dir }}/atcfunix.{{ RUN }}.{{ cycle_YYYYMMDDHH }}", "{{ ARCDIR }}/atcfunix.{{ RUN }}.{{ cycle_YYYYMMDDHH }}"]
        - ["{{ atmos_track_dir }}/atcfunixp.{{ RUN }}.{{ cycle_YYYYMMDDHH }}", "{{ ARCDIR }}/atcfunixp.{{ RUN }}.{{ cycle_YYYYMMDDHH }}"]
        {% endif %}
{% endif %} # gfs or gdas
