{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN ~ ".t" ~ cycle_HH ~ "z.*.0p50." %}
atmos_products_0p50:
    name: "ATMOS_PRODUCTS_0p50"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/atmos_products_0p50.tar"
    required:
        - "{{ COMIN_ATMOS_GRIB_0p50 | relpath(ROTDIR) }}/{{ head }}*"
        {% for mem in range(1, NMEM_ENS + 1) %}
        {% set mem_char = 'mem%03d' | format(mem) %}
        {% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${MEMDIR}': mem_char,
                              '${GRID}': '0p50' }) %}
        {% set COMIN_ATMOS_GRIB_0p50 = COM_ATMOS_GRIB_GRID_TMPL | replace_tmpl(tmpl_dict) %}
        - "{{ COMIN_ATMOS_GRIB_0p50 | relpath(ROTDIR) }}/{{ head }}*"
        {% endfor %}
        {% set mem_char = 'ensstat' %}
        {% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${MEMDIR}': mem_char,
                              '${GRID}': '0p50' }) %}
        {% set COMIN_ATMOS_GRIB_0p50 = COM_ATMOS_GRIB_GRID_TMPL | replace_tmpl(tmpl_dict) %}
        - "{{ COMIN_ATMOS_GRIB_0p50 | relpath(ROTDIR) }}/{{ head }}*"
       
