{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN ~ ".t" ~ cycle_HH ~ "z.master." %}
{% for mem in range(0, NMEM_ENS + 1) %}
{% set mem_char = 'mem%03d' | format(mem) %}
{% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${MEMDIR}': mem_char }) %}
atmos_master_grib_{{ mem_char }}:
    name: "ATMOS_MASTER_grib_{{ mem_char }}"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/atmos_master_grib_{{ mem_char }}.tar"
    required:
        {% set COMIN_ATMOS_MASTER = COM_ATMOS_MASTER_TMPL | replace_tmpl(tmpl_dict) %}
        - "{{ COMIN_ATMOS_MASTER | relpath(ROTDIR) }}/{{ head }}*"
{% endfor %}
       
