{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN ~ ".t" ~ cycle_HH ~ "z.master." %}
atmos_master_grib:
    name: "ATMOS_MASTER_grib"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/atmos_master_grib.tar"
    required:
        - "{{ COMIN_ATMOS_MASTER | relpath(ROTDIR) }}/{{ head }}*"
        {% for mem in range(1, NMEM_ENS + 1) %}
        {% set mem_char = 'mem%03d' | format(mem) %}
        {% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${MEMDIR}': mem_char }) %}
        {% set COMIN_ATMOS_MASTER = COM_ATMOS_MASTER_TMPL | replace_tmpl(tmpl_dict) %}
        - "{{ COMIN_ATMOS_MASTER | relpath(ROTDIR) }}/{{ head }}*"
        {% endfor %}
