chem:
    {% set head = "gocart" %}
    name: "CHEM"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/chem.tar"
    required:
        # TODO explicitize this set
        - "{{ COMIN_CHEM_HISTORY | relpath(ROTDIR) }}/{{ head }}*"
