enkf_marine_grp:
    name: "ENKF_MARINE_GRP"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/{{ RUN }}_marine_grp{{ ENSGRP }}.tar"
    required:
        {% for mem in range(first_group_mem, last_group_mem + 1) %}
        {% set imem = mem - first_group_mem %}
        # Construct member COM directories
        {% set COMIN_OCEAN_ANALYSIS_MEM = COMIN_OCEAN_ANALYSIS_MEM_list[imem] %}
        {% set COMIN_OCEAN_LETKF_MEM = COMIN_OCEAN_LETKF_MEM_list[imem] %}
        {% set COMIN_OCEAN_HISTORY_MEM = COMIN_OCEAN_HISTORY_MEM_list[imem] %}
        {% set COMIN_ICE_ANALYSIS_MEM = COMIN_ICE_ANALYSIS_MEM_list[imem] %}
        {% set COMIN_ICE_LETKF_MEM = COMIN_ICE_LETKF_MEM_list[imem] %}
        {% set COMIN_ICE_HISTORY_MEM = COMIN_ICE_HISTORY_MEM_list[imem] %}

        # Forecast data
        {% if is_gdas %}
        {% for fhr in range(3, 10, 3) %}
        - "{{ COMIN_OCEAN_HISTORY_MEM | relpath(ROTDIR) }}/{{ head_ocean }}inst.f{{ "%03d" % fhr }}.nc"
        {% endfor %}

        {% for body in ["ic", "inst.f006", "inst.f009"] %}
        - "{{ COMIN_ICE_HISTORY_MEM | relpath(ROTDIR) }}/{{ head_ice }}{{ body }}.nc"
        {% endfor %}
        {% endif %}

        # Store the individual member analysis data
        {% if DOIAU_ENKF %}
        {% set anl_delta = "-3H" | to_timedelta %}
        {% else %}
        {% set anl_delta = "0H" | to_timedelta %}
        {% endif %}
        {% set anl_time = current_cycle | add_to_datetime(anl_delta) %}
        - "{{ COMIN_OCEAN_ANALYSIS_MEM | relpath(ROTDIR) }}/{{ head }}ocninc.nc"
        - "{{ COMIN_ICE_ANALYSIS_MEM | relpath(ROTDIR) }}/{{ anl_time | to_YMD }}.{{ anl_time | strftime("%H") }}0000.cice_model_anl.res.nc"
        {% if DOLETKF_OCN %}
        - "{{ COMIN_OCEAN_LETKF_MEM | relpath(ROTDIR) }}/{{ head_ocean }}analysis.nc"
        - "{{ COMIN_ICE_LETKF_MEM | relpath(ROTDIR) }}/{{ head_ice }}analysis.nc"
        - "{{ COMIN_CONF | relpath(ROTDIR) }}/soca_letkf.yaml"
        {% endif %}
        {% endfor %}  # first_group_mem to last_group_mem
