enkf_restarta_grp:
    name: "ENKF_RESTARTA_GRP"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/{{ RUN }}_restarta_grp{{ ENSGRP }}.tar"
    required:
        # Store bias data
        {% if not lobsdiag_forenkf %}
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ head }}abias.txt"
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ head }}abias_air.txt"
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ head }}abias_int.txt"
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ head }}abias_pc.txt"
        {% endif %}

        # Member surface analysis data
        {% for itile in range(1, 7) %}
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ anl_YMD }}.{{ anl_HH }}0000.sfcanl_data.tile{{ itile }}.nc"
        {% endfor %}

        # Member atmospheric increments or analysis data
        {% if DO_JEDIATMENS %}
            {% for iaufhr in iaufhrs_str %}
                {% for itile in range(6) %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM }}/{{ head }}recentered_jedi_increment.atm.i{{ iaufhr }}.tile{{ itile+1 }}.nc"
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for iaufhr in iaufhrs_str %}
                {% if do_calc_increment %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM }}/{{ head }}analysis.atm.a{{ iaufhr }}.nc"
                {% else %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM }}/{{ head }}recentered_increment.atm.i{{ iaufhr }}.nc"
                {% endif %}
            {% endfor %}  # iaufhr in iaufhrs_str
        {% endif %}

        # soil DA increments
        {% if DO_GSISOILDA %}
            {% for iaufhr in iaufhrs_str %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM }}/{{ head }}increment.sfc.i{{ iaufhr }}.nc"
            {% endfor %}  # iaufhr in iaufhrs_str
            {% if DO_LAND_IAU %}   #sfc inc tiles needed for warm start
                {% for itile in range(1,7) %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM }}/increment.sfc.tile{{ itile }}.nc"
                {% endfor %}
            {% endif %}
        {% endif %}

        # Conventional data
        {% if not lobsdiag_forenkf and not DO_JEDIATMENS %}
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ head }}cnvstat"
        {% endif %}

        {% if DOHYBVAR_OCN %}
        - "{{ COMIN_MED_RESTART_MEM }}/{{ cycle_YMD }}.{{ rst_HH_restarta }}0000.ufs.cpld.cpl.r.nc"
        - "{{ COMIN_OCEAN_ANALYSIS_MEM }}/{{ head }}mom6_increment.i006.nc"
        - "{{ COMIN_ICE_ANALYSIS_MEM }}/{{ anl_YMD }}.{{ anl_HH }}0000.analysis.cice_model.res.nc"
        {% endif %} # DOHYBVAR_OCN
