enkf:
    name: "ENKF"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/{{ RUN }}.tar"
    required:
        # Logs
        {% for mem in range(1, nmem_ens + 1) %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_fcst_mem{{ '%03d' % mem }}.log"
        {% endfor %}
        {% for fhr in range(fhmin, fhmax + 1, fhout) %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_epos{{ '%03d' % (fhr - fhmin) }}.log"
        {% endfor %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_echgres.log"
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_esfc.log"
        {% for grp in range(IAUFHRS | length) %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_ecen{{ '%03d' % grp }}.log"
        {% endfor %}

        {% if lobsdiag_forenkf %}
           {% if DO_JEDIATMENS %}
              {% set steps = ["atmensanlinit", "atmensanlobs", "atmensanlsol", "atmensanlfv3inc", "atmensanlfinal"] %}
           {% else %}
              {% set steps = ["eobs", "ediag", "eupd"] %}
           {% endif %}
        {% else %}
           {% if DO_JEDIATMENS %}
              {% set steps = ["atmensanlinit", "atmensanlletkf", "atmensanlfv3inc", "atmensanlfinal"] %}
           {% else %}
              {% set steps = ["eobs", "eupd"] %}
              {% for mem in range(1, nmem_ens + 1) %}
                 {% do steps.append("eomg_mem" ~ '%03d' % mem) %}
              {% endfor %}
           {% endif %}
        {% endif %}

        {% for step in steps %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_{{ step }}.log"
        {% endfor %}

        # Ensemble mean and spread
        {% for fhr in range(3, fhmax + 1, 3) %}
        - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmf{{ '%03d' % fhr }}.ensmean.nc"
        - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}sfcf{{ '%03d' % fhr }}.ensmean.nc"
        {% if ENKF_SPREAD %}
        - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmf{{ '%03d' % fhr }}.ensspread.nc"
        {% endif %}
        {% endfor %}

        # Ensemble mean state
        {% if not DO_JEDIATMENS %}
        {% set da_files = ["enkfstat",
                           "gsistat.ensmean",
                           "cnvstat.ensmean",
                           "oznstat.ensmean",
                           "radstat.ensmean"] %}
        {% else %}
        {% if lobsdiag_forenkf %}
        {% set da_files = ["atmensanlobs.yaml",
                           "atmensanlsol.yaml",
                           "atmensanlfv3inc.yaml",
                           "atminc.ensmean.nc",
                           "atmensstat"] %}
        {% else %}
        {% set da_files = ["atmensanlletkf.yaml",
                           "atmensanlfv3inc.yaml",
                           "atminc.ensmean.nc",
                           "atmensstat"] %}
        {% endif %}
        {% endif %}
        {% for file in da_files %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}{{ file }}"
        {% endfor %}

        # Ensemble mean analyses/increments
        # 6-hr analysis/increment
        {% if do_calc_increment %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmanl.ensmean.nc"
        {% else %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atminc.ensmean.nc"
        {% endif %}

        {% if DOIAU %}
        # IAU increments/analyses

        {% for fhr in IAUFHRS if fhr != 6 %}
        {% if do_calc_increment %}
        # Store analyses instead of increments
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atma{{ '%03d' % fhr }}.ensmean.nc"
        {% else %}
        # Store increments
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmi{{ '%03d' % fhr }}.ensmean.nc"
        {% endif %}
        {% endfor %}

        {% endif %}  # End IAU
        # End of analysis mean increments/analyses
