enkf:
    name: "ENKF"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/{{ RUN }}.tar"
    required:
        # Logs
        {% if is_gdas %}
        {% for mem in range(1, nmem_ens + 1) %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_fcst_mem{{ '%03d' % mem }}.log"
        {% endfor %}
        {% for fhr in range(fhmin, fhmax + 1, fhout) %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_epos{{ '%03d' % (fhr - fhmin) }}.log"
        {% endfor %}
        {% if not DO_JEDIATMENS %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_echgres.log"
        {% endif %}
        {% endif %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_esfc.log"
        {% if not DO_JEDIATMENS %}
        {% for grp in range(IAUFHRS | length) %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_ecen{{ '%03d' % grp }}.log"
        {% endfor %}
        {% endif %}

        {% if lobsdiag_forenkf %}
           {% if DO_JEDIATMENS %}
              {% set steps = ["atmensanlinit", "atmensanlobs", "atmensanlsol", "atmensanlfv3inc", "atmensanlfinal", "ecen_fv3jedi"] %}
           {% else %}
              {% set steps = ["eobs", "ediag", "eupd"] %}
           {% endif %}
        {% else %}
           {% if DO_JEDIATMENS %}
              {% set steps = ["atmensanlinit", "atmensanlletkf", "atmensanlfv3inc", "atmensanlfinal", "ecen_fv3jedi"] %}
           {% else %}
              {% set steps = ["eobs", "eupd"] %}
           {% endif %}
        {% endif %}
        {% if DOHYBVAR_OCN %}
          {% set steps = steps + ["marineanlecen"] %}
        {% endif %}

        {% for step in steps %}
        - "logs/{{ cycle_YMDH }}/{{ RUN }}_{{ step }}.log"
        {% endfor %}

        # Ensemble resolution
        {% if is_gdas %}
        {% if DOHYBVAR %}
        {% if DOIAU %}
        {% for fhr in range(3, fhmax + 1, 3) %}
        - "{{ COMIN_ATMOS_HISTORY | relpath(ROTDIR) }}/{{ head |replace('enkf','')}}atmf{{ '%03d' % fhr }}.ensres.nc"
        {% endfor %}
        {% endif %}
        {% endif %}
        {% endif %}

        # Ensemble mean and spread
        {% if is_gdas %}
        {% for fhr in range(3, fhmax + 1, 3) %}
        - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmf{{ '%03d' % fhr }}.ensmean.nc"
        - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}sfcf{{ '%03d' % fhr }}.ensmean.nc"
        {% if ENKF_SPREAD %}
        - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmf{{ '%03d' % fhr }}.ensspread.nc"
        {% endif %}
        {% endfor %}
        {% endif %}

        # Ensemble mean state
        {% if not DO_JEDIATMENS %}
        {% set da_stat_files = ["enkfstat",
                                "gsistat.ensmean",
                                "cnvstat.ensmean",
                                "oznstat.ensmean",
                                "radstat.ensmean"] %}
        {% set da_conf_files = [] %}
        {% else %}
        {% if lobsdiag_forenkf %}
        {% set da_stat_files = [] %}
        {% set da_conf_files = ["atmensanlobs.yaml",
                                "atmensanlsol.yaml",
                                "atmensanlfv3inc.yaml",
                                "correction_increment.yaml",
                                "ensemble_recenter.yaml"] %}
        {% else %}
        {% set da_stat_files = ["atmensstat"]%}
        {% set da_conf_files = ["atmensanlletkf.yaml",
                                "atmensanlfv3inc.yaml",
                                "correction_increment.yaml",
                                "ensemble_recenter.yaml"] %}
        {% endif %}
        {% endif %}
        {% for file in da_stat_files %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}{{ file }}"
        {% endfor %}
        {% for file in da_conf_files %}
        - "{{ COMIN_CONF | relpath(ROTDIR) }}/{{ head }}{{ file }}"
        {% endfor %}

        {% if DO_JEDISNOWDA %}
        - "{{ COMIN_SNOW_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}snowstat.tgz"
        {% for itile in range(1,7) %}
        # Snow analysis is 3dvar
        - "{{ COMIN_SNOW_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/snowinc.{{ cycle_YMD }}.{{ cycle_HH }}0000.sfc_data.tile{{ itile }}.nc"
        {% endfor %}
        {% endif %}

        # Ensemble mean analyses/increments
        # 6-hr analysis/increment
        {% if not DO_JEDIATMENS %}
        {% if do_calc_increment %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmanl.ensmean.nc"
        {% else %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atminc.ensmean.nc"
        {% endif %}
        {% else %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}cubed_sphere_grid_atmanl.ensmean.nc"
        {% endif %}
        
        # soil DA increments  
        {% if DO_GSISOILDA %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}sfci006.nc"
        {% endif %}

        {% if DOIAU %}
        # IAU increments/analyses

        {% for fhr in IAUFHRS if fhr != 6 %}
        {% if not DO_JEDIATMENS %}
        {% if do_calc_increment %}
        # Store analyses instead of increments
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atma{{ '%03d' % fhr }}.ensmean.nc"
        {% else %}
        {% if not DO_JEDIATMENS %}
        # Store increments
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmi{{ '%03d' % fhr }}.ensmean.nc"
        {% endif %}
        {% endif %}
        {% else %}
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}cubed_sphere_grid_atma{{ '%03d' % fhr }}.ensmean.nc"
        {% endif %}

        # soil DA increments  
        {% if DO_GSISOILDA %} 
        - "{{ COMIN_ATMOS_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head }}sfci{{ '%03d' % fhr }}.nc"
        {% endif %}

        {% endfor %}

        {% endif %}  # End IAU
        # End of analysis mean increments/analyses

        {% if DOHYBVAR_OCN %}
        - "{{ COMIN_OCEAN_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head_ocean }}bg_ensvar.nc"
        - "{{ COMIN_ICE_ANALYSIS_ENSSTAT | relpath(ROTDIR) }}/{{ head_ice }}bg_ensvar.nc"
        {% endif %}
