enkf_marine_grp:
    name: "ENKF_MARINE_GRP"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/{{ RUN }}_marine_grp{{ ENSGRP }}.tar"
    required:
        # Forecast data
        {% if is_gdas %}
        - "{{ COMIN_OCEAN_HISTORY_MEM }}/{{ head }}inst.f009.nc"

        {% for body in ["ic", "inst.f009"] %}
        - "{{ COMIN_ICE_HISTORY_MEM }}/{{ head }}{{ body }}.nc"
        {% endfor %}
        {% endif %}

        # Store the individual member analysis data
        {% if DOLETKF_OCN %}
        - "{{ COMIN_OCEAN_LETKF_MEM }}/{{ head }}jedi_analysis.a006.nc"
        - "{{ COMIN_ICE_LETKF_MEM }}/{{ head }}jedi_analysis.a006.nc"
        - "{{ COMIN_CONF }}/soca_letkf.yaml"
        {% endif %}
