enkf_restartb_grp:
    name: "ENKF_RESTARTB_GRP"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/{{ RUN }}_restartb_grp{{ ENSGRP }}.tar"
    required:
        # Grab surface analysis data.
        # If IAU is on, grab the beginning of the window, otherwise grab the center.
        {% for itile in range(1, 7) %}
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ anl_YMD }}.{{ anl_HH }}0000.sfcanl_data.tile{{ itile }}.nc"
        {% endfor %}

        # Now get the restart files.
        {% if is_gdas %}
            {% for r_prefix in restart_prefixes %}
                {% for itile in range(1, 7) %}
                    {% for datatype in ["fv_core.res", "fv_srf_wnd.res", "fv_tracer.res", "phy_data", "sfc_data"] %}
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ r_prefix }}.{{datatype}}.tile{{ itile }}.nc"
                    {% if DO_CA %}
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ r_prefix }}.ca_data.tile{{ itile }}.nc"
                    {% endif %}
                    {% endfor %}
                {% endfor %}
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ r_prefix }}.coupler.res"
        - "{{ COMIN_ATMOS_RESTART_MEM }}/{{ r_prefix }}.fv_core.res.nc"
            {% endfor %}
        {% endif %}

        # Add ocean restarts
        {% if DOHYBVAR_OCN %}
        - "{{ COMIN_OCEAN_RESTART_MEM }}/{{ cycle_YMD }}.{{ rst_HH_restartb }}0000.MOM.r*.nc"
        - "{{ COMIN_MED_RESTART_MEM }}/{{ cycle_YMD }}.{{ rst_HH_restartb }}0000.ufs.cpld.cpl.r.nc"
        {% endif %}
