enkf_restarta_grp:
    name: "ENKF_RESTARTA_GRP"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/{{ RUN }}_restarta_grp{{ ENSGRP }}.tar"
    required:
        {% for mem in range(first_group_mem, last_group_mem + 1) %}
            {% set imem = mem - first_group_mem %}

        # Store bias data
            {% if not lobsdiag_forenkf %}
        - "{{ COMIN_ATMOS_RESTART_MEM_list[imem] }}/{{ head }}abias.txt"
        - "{{ COMIN_ATMOS_RESTART_MEM_list[imem] }}/{{ head }}abias_air.txt"
        - "{{ COMIN_ATMOS_RESTART_MEM_list[imem] }}/{{ head }}abias_int.txt"
        - "{{ COMIN_ATMOS_RESTART_MEM_list[imem] }}/{{ head }}abias_pc.txt"
            {% endif %}

        # Member surface analysis data
            {% for itile in range(1, 7) %}
        - "{{ COMIN_ATMOS_RESTART_MEM_list[imem] }}/{{ anl_YMD }}.{{ anl_HH }}0000.sfcanl_data.tile{{ itile }}.nc"
            {% endfor %}

        # Member atmospheric increments or analysis data
            {% if DO_JEDIATMENS %}
                {% for iaufhr in IAUFHRS %}
                    {% for itile in range(6) %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM_list[imem] }}/{{ head }}recentered_jedi_increment.atm.i{{ '%03d' % iaufhr }}.tile{{ itile+1 }}.nc"
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for iaufhr in IAUFHRS %}
                    {% if do_calc_increment %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM_list[imem] }}/{{ head }}analysis.atm.a{{ '%03d' % iaufhr }}.nc"
                    {% else %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM_list[imem] }}/{{ head }}recentered_increment.atm.i{{ '%03d' % iaufhr }}.nc"
                    {% endif %}
                {% endfor %}  # iaufhr in IAUFHRS
            {% endif %}

        # soil DA increments
            {% if DO_GSISOILDA %}
                {% for iaufhr in IAUFHRS %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM_list[imem] }}/{{ head }}increment.sfc.i{{ '%03d' % iaufhr }}.nc"
                {% endfor %}  # iaufhr in IAUFHRS
                {% if DO_LAND_IAU %}   #sfc inc tiles needed for warm start
                    {% for itile in range(1,7) %}
        - "{{ COMIN_ATMOS_ANALYSIS_MEM_list[imem] }}/increment.sfc.tile{{ itile }}.nc"
                    {% endfor %}
                {% endif %}
            {% endif %}

        # Conventional data
            {% if not lobsdiag_forenkf and not DO_JEDIATMENS %}
        - "{{ COMIN_ATMOS_RESTART_MEM_list[imem] }}/{{ head }}cnvstat"
            {% endif %}

            {% if DOHYBVAR_OCN %}
        - "{{ COMIN_MED_RESTART_MEM_list[imem] }}/{{ cycle_YMD }}.{{ rst_HH }}0000.ufs.cpld.cpl.r.nc"
        - "{{ COMIN_OCEAN_ANALYSIS_MEM_list[imem] }}/{{ head }}mom6_increment.i006.nc"
        - "{{ COMIN_ICE_ANALYSIS_MEM_list[imem] }}/{{ anl_YMD }}.{{ anl_HH }}0000.analysis.cice_model.res.nc"
            {% endif %} # DOHYBVAR_OCN

        {% endfor %}  # first_group_mem to last_group_mem
