{% set cycle_HH = current_cycle | strftime('%H') %}
{% set cycle_YYYYMMDDHH = current_cycle | strftime('%Y%m%d%H') %}
name: "GDAS_RESTARTA"
target: "{{ ATARDIR }}/{{ cycle_YYYYMMDDHH }}/gdas_restarta.tar"
mandatory:
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.atmi*nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile1.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile2.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile3.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile4.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile5.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile6.nc"
optional:
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.cnvstat"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.radstat"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.abias"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.abias_air"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.abias_int"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.abias_pc"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.dtfanl.nc"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.loginc.txt"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.amsua_n19.satbias.nc4"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.amsua_n19.satbias_cov.nc4"
    - "{{ atmos_analysis_dir }}/gdas.t{{ cycle_HH }}z.amsua_n19.tlapse.txt"
    - "{{ obs_dir }}/gdas.t{{ cycle_HH }}z.nsstbufr"
    - "{{ obs_dir }}/gdas.t{{ cycle_HH }}z.prepbur"
    - "{{ obs_dir }}/gdas.t{{ cycle_HH }}z.prepbufr.acft_profiles"
