gdasocean_analysis:
    {% set head = "gdas.t" + cycle_HH + "z." %}
    name: "GDASOCEAN_ANALYSIS"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasocean_analysis.tar"
    required:
        {% if DOIAU %}
        {% set anl_delta = "-3H" | to_timedelta %}
        {% else %}
        {% set anl_delta = "0H" | to_timedelta %}
        {% endif %}
        {% set anl_time = current_cycle | add_to_datetime(anl_delta) %}
        # analysis and analysis increments
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ head }}jedi_analysis.a006.nc'
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ head }}jedi_increment.i006.nc'
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ head }}mom6_increment.i006.nc'
        - '{{ COMIN_ICE_ANALYSIS | relpath(ROTDIR) }}/{{ anl_time | to_YMD }}.{{ anl_time | strftime("%H") }}0000.analysis.cice_model.res.nc'
        - '{{ COMIN_ICE_ANALYSIS | relpath(ROTDIR) }}/{{ head }}jedi_analysis.a006.nc'
        - '{{ COMIN_ICE_ANALYSIS | relpath(ROTDIR) }}/{{ head }}jedi_increment.i006.nc'
        - '{{ COMIN_ICE_ANALYSIS | relpath(ROTDIR) }}/{{ head }}pp_increment.i006.nc'

        # static background error
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}bkgerr_parametric_stddev.nc'
        - '{{ COMIN_ICE_BMATRIX | relpath(ROTDIR) }}/{{ head }}bkgerr_parametric_stddev.nc'

        # ensemble background error
        {% if NMEM_ENS > 2 %}
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}ens_weights.nc'
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}recentering_error.nc'
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}bkgerr_ens_stddev.nc'
        - '{{ COMIN_ICE_BMATRIX | relpath(ROTDIR) }}/{{ head }}ens_weights.nc'
        - '{{ COMIN_ICE_BMATRIX | relpath(ROTDIR) }}/{{ head }}recentering_error.nc'
        - '{{ COMIN_ICE_BMATRIX | relpath(ROTDIR) }}/{{ head }}bkgerr_ens_stddev.nc'
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}ssh_steric_stddev.nc'
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}ssh_unbal_stddev.nc'
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}ssh_total_stddev.nc'
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}ssh_explained_variance.nc'
        {% endif %}

        # runtime configs
        - '{{ COMIN_CONF | relpath(ROTDIR) }}/*.yaml'
    optional:
        # obs space diags
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/diags/{{ head }}ocn.*.stats.csv'
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/diags/*.nc'
