    gdasocean:
        {% set head = "gdas.ocean.t" + cycle_HH + "z." %}
        name: "GDASOCEAN"
        target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasocean.tar"
        mandatory:
            # TODO Explicitly name the history and input files to archive
            - '{{ COM_OCEAN_HISTORY | relpath(ROTDIR) }}/{{ head }}*'
            - '{{ COM_OCEAN_INPUT | relpath(ROTDIR) }}/.'
