gdasocean:
    {% set head = "gdas.ocean.t" + cycle_HH + "z." %}
    name: "GDASOCEAN"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasocean.tar"
    required:
        {% for fhr in range(FHMIN, FHMAX + 1, FHOUT_OCNICE) %}
        - "{{ COM_OCEAN_HISTORY | relpath(ROTDIR) }}/{{ head }}inst.f{{ '%03d' % fhr }}.nc"
        {% endfor %}
        - '{{ COM_CONF | relpath(ROTDIR) }}/ufs.MOM_input'
