gdas_restartb:
    {% set head = "gdas.t" + cycle_HH + "z." %}
    name: "GDAS_RESTARTB"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdas_restartb.tar"
    required:
        # Grab the surface analysis data.
        # If IAU is on, grab the beginning of the window.
        {% if DOIAU %}
        {% set offset_td = "-3H" | to_timedelta %}
        {% set offset_dt = current_cycle | add_to_datetime(offset_td) %}
        {% set offset_YMD = offset_dt | to_YMD %}
        {% set offset_HH = offset_dt | strftime("%H") %}
        {% set prefix = offset_YMD + "." + offset_HH + "0000" %}
        {% for itile in range(1, 7) %}
        - "{{ COMIN_ATMOS_RESTART | relpath(ROTDIR) }}/{{ prefix }}.sfcanl_data.tile{{ itile }}.nc"
        {% endfor %}
        {% endif %}

        # Regardless, always grab the center surface analysis data.
        {% set prefix = cycle_YMD + "." + cycle_HH + "0000" %}
        {% for itile in range(1, 7) %}
        - "{{ COMIN_ATMOS_RESTART | relpath(ROTDIR) }}/{{ prefix }}.sfcanl_data.tile{{ itile }}.nc"
        {% endfor %}

        # Now get the restart files.
        {% for r_time in range(restart_interval_gdas, FHMAX + 1, restart_interval_gdas) %}
        {% set r_timedelta = (r_time | string + "H") | to_timedelta %}
        {% set r_dt = current_cycle | add_to_datetime(r_timedelta) %}
        {% set r_YMD = r_dt | to_YMD %}
        {% set r_HH = r_dt | strftime("%H") %}
        {% set r_prefix = r_YMD + "." + r_HH + "0000" %}
        {% for itile in range(1, 7) %}
        {% for datatype in ["fv_core.res", "fv_srf_wnd.res", "fv_tracer.res", "phy_data", "sfc_data"] %}
        - "{{ COMIN_ATMOS_RESTART | relpath(ROTDIR) }}/{{ r_prefix }}.{{datatype}}.tile{{ itile }}.nc"
        {% if DO_CA %}
        - "{{ COMIN_ATMOS_RESTART | relpath(ROTDIR) }}/{{ r_prefix }}.ca_data.tile{{ itile }}.nc"
        {% endif %}
        {% endfor %}
        {% endfor %}
        - "{{ COMIN_ATMOS_RESTART | relpath(ROTDIR) }}/{{ r_prefix }}.coupler.res"
        - "{{ COMIN_ATMOS_RESTART | relpath(ROTDIR) }}/{{ r_prefix }}.fv_core.res.nc"
        {% endfor %}
