gdas:
   mandatory:
      - '{{ COM_ATMOS_GRIB_0P25 }}/gdas.t{{ cyc }}z.pgrb2.0p25.anl'
      - '{{ COM_ATMOS_GRIB_0P25 }}/gdas.t{{ cyc }}z.pgrb2.0p25.anl.idx'
      - '{{ COM_ATMOS_GRIB_0P25 }}/gdas.t{{ cyc }}z.pgrb2.0p25.f{{ fhr }}'
      - '{{ COM_ATMOS_GRIB_0P25 }}/gdas.t{{ cyc }}z.pgrb2.0p25.f{{ fhr }}.idx'
      - '{{ COM_ATMOS_GRIB_1P00 }}/gdas.t{{ cyc }}z.pgrb2.1p00.anl'
      - '{{ COM_ATMOS_GRIB_1P00 }}/gdas.t{{ cyc }}z.pgrb2.1p00.anl.idx'
      - '{{ COM_ATMOS_GRIB_1P00 }}/gdas.t{{ cyc }}z.pgrb2.1p00.f{{ fhr }}'
      - '{{ COM_ATMOS_GRIB_1P00 }}/gdas.t{{ cyc }}z.pgrb2.1p00.f{{ fhr }}.idx'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.atmanl.nc'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.sfcanl.nc'
      - '{{ COM_ATMOS_MASTER }}/gdas.t{{ cyc }}z.sfluxgrbf{{ fhr }}.grib2'
      - '{{ COM_ATMOS_MASTER }}/gdas.t{{ cyc }}z.sfluxgrbf{{ fhr }}.grib2.idx'
      - '{{ ROTDIR }}/logs/{{ PDY }}{{ cyc }}/gdas*prod*.log'
      - '{{ COM_ATMOS_HISTORY }}/gdas.t{{ cyc }}z.atm.logf{{ fhr }}.txt'
      - '{{ COM_ATMOS_HISTORY }}/gdas.t{{ cyc }}z.atmf{{ fhr }}.nc'
      - '{{ COM_ATMOS_HISTORY }}/gdas.t{{ cyc }}z.sfcf{{ fhr }}.nc'
      {% if DO_VERFOZN = "YES" %}
      - '{{ COM_ATMOS_OZNMON }}/bad_cnt.{{ PDY }}{{ cyc }}'
      - '{{ COM_ATMOS_OZNMON }}/bad_diag.{{ PDY }}{{ cyc }}'
      - '{{ COM_ATMOS_OZNMON }}/bad_pen.{{ PDY }}{{ cyc }}'
      {% set oznmon_types = [
         'gome_metop-b', 'omi_aura', 'ompslp_npp', 'ompsnp_n20',
         'ompsnp_npp', 'ompstc8_n20', 'ompstc8_npp', 'sbuv2_n19'
      ] %}
      {% for type in oznmon_types %}
      - '{{ COM_ATMOS_OZNMON }}/stdout.{{ type }}.tar.gz'
      {% endfor %}
      {% endif %}
   optional:
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.atmvar.yaml'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.atmstat'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.gsistat'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.atmanl.ensres.nc'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.atma003.ensres.nc'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.atma009.ensres.nc'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.cnvstat'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.oznstat'
      - '{{ COM_ATMOS_ANALYSIS }}/gdas.t{{ cyc }}z.radstat'
      - '{{ ROTDIR }}/logs/{{ PDY }}{{ cyc }}/gdasprep.log'
      - '{{ ROTDIR }}/logs/{{ PDY }}{{ cyc }}/gdasanal.log'
      - '{{ ROTDIR }}/logs/{{ PDY }}{{ cyc }}/gdasfcst.log'
      - '{{ ROTDIR }}/logs/{{ PDY }}{{ cyc }}/gdasverfozn.log'
      - '{{ ROTDIR }}/logs/{{ PDY }}{{ cyc }}/gdasverfrad.log'
      - '{{ ROTDIR }}/logs/{{ PDY }}{{ cyc }}/gdasvminmon.log'
      - '{{ COM_ATMOS_MASTER }}/gdas.t{{ cyc }}z.sfluxgrbf{{ fhr }}.grib2'
      - '{{ COM_ATMOS_MASTER }}/gdas.t{{ cyc }}z.sfluxgrbf{{ fhr }}.grib2.idx'
      {% if DO_AERO = "YES" %}
      - '{{ COM_CHEM_ANALYSIS }}/gdas.t{{ cyc }}z.aerostat'
      {% endif }
      {% if WRITE_DOPOST = ".true." %}
      - '{{ ROTDIR }}/{{ PDY }}{{ cyc }}/gdas*upp*.log'
      {% endif }
      {% if DO_VERFOZN = "YES" %}
      {% set oznmon_types = [
         'gome_metop-b', 'omi_aura', 'ompslp_npp', 'ompsnp_n20',
         'ompsnp_npp', 'ompstc8_n20', 'ompstc8_npp', 'sbuv2_n19'
      ] %}
      {% for type in oznmon_types %}
      - '{{ type }}.anl.ctl'
      - '{{ type }}.anl.{{ PDY }}{{ cyc }}.ieee_d'
      - '{{ type }}.anl.{{ PDY }}{{ cyc }}.ieee_d.gz'
      - '{{ type }}.ges.ctl'
      - '{{ type }}.ges.{{ PDY }}{{ cyc }}.ieee_d'
      - '{{ type }}.ges.{{ PDY }}{{ cyc }}.ieee_d.gz'
      {% endfor %}
