{% set head = "gdas.t" + cycle_HH + "z." %}
name: "GDAS_RESTARTA"
target: "{{ ATARDIR }}/{{ cycle_YYYYMMDDHH }}/gdas_restarta.tar"
mandatory:
    - "{{ atmos_analysis_dir }}/{{ head }}atmi*nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile1.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile2.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile3.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile4.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile5.nc"
    - "{{ atmos_restart_dir }}/*0000.sfcanl_data.tile6.nc"
    {% if DO_JEDISNOWDA %}
    - "{{ snow_analysis_dir }}/*0000.sfc_data.tile1.nc"
    - "{{ snow_analysis_dir }}/*0000.sfc_data.tile2.nc"
    - "{{ snow_analysis_dir }}/*0000.sfc_data.tile3.nc"
    - "{{ snow_analysis_dir }}/*0000.sfc_data.tile4.nc"
    - "{{ snow_analysis_dir }}/*0000.sfc_data.tile5.nc"
    - "{{ snow_analysis_dir }}/*0000.sfc_data.tile6.nc"
    {% endif %}
optional:
    - "{{ atmos_analysis_dir }}/{{ head }}cnvstat"
    - "{{ atmos_analysis_dir }}/{{ head }}radstat"
    - "{{ obs_dir }}/{{ head }}nsstbufr"
    - "{{ obs_dir }}/{{ head }}prepbur"
    - "{{ obs_dir }}/{{ head }}prepbufr.acft_profiles"
    - "{{ atmos_analysis_dir }}/{{ head }}abias"
    - "{{ atmos_analysis_dir }}/{{ head }}abias_air"
    - "{{ atmos_analysis_dir }}/{{ head }}abias_int"
    - "{{ atmos_analysis_dir }}/{{ head }}abias_pc"
    - "{{ atmos_analysis_dir }}/{{ head }}dtfanl.nc"
    - "{{ atmos_analysis_dir }}/{{ head }}loginc.txt"
    - "{{ atmos_analysis_dir }}/{{ head }}amsua_n19.satbias.nc4"
    - "{{ atmos_analysis_dir }}/{{ head }}amsua_n19.satbias_cov.nc4"
    - "{{ atmos_analysis_dir }}/{{ head }}amsua_n19.tlapse.txt"
    - "{{ conf_dir }}/{{ head }}letkfoi.yaml"
