    gdasice_restart:
        {% set head = "gdas.t" + cycle_HH + "z." %}
        name: "GDASICE_RESTART"
        target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasice_restart.tar"
        mandatory:
            # TODO explicitly name the restart files to archive
            - '{{ COM_ICE_RESTART | relpath(ROTDIR) }}/*'
