gdaswave_restart:
    name: "GDASWAVE_RESTART"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdaswave_restart.tar"
    required:
        # TODO explicitly name the wave restart files to archive
        # NOTE: there are 2 restart files, one is needed to be saved at the same time as restartb is saved
        #  The other which is +6 from the cycle date is needed every cycle for downstream jobs
        - "{{ COMIN_WAVE_RESTART | relpath(ROTDIR) }}/*"
        # If IAU is on, grab the beginning of the window.
        {% if DOIAU %}
        {% set offset_td = "+3H" | to_timedelta %}
        {% set offset_dt = current_cycle | add_to_datetime(offset_td) %}
        {% set offset_YMD = offset_dt | to_YMD %}
        {% set offset_HH = offset_dt | strftime("%H") %}
        {% set prefix = offset_YMD + "." + offset_HH + "0000" %}
        {% else %}
        {% set offset_td = "+6H" | to_timedelta %}
        {% set offset_dt = current_cycle | add_to_datetime(offset_td) %}
        {% set offset_YMD = offset_dt | to_YMD %}
        {% set offset_HH = offset_dt | strftime("%H") %}
        {% set prefix = offset_YMD + "." + offset_HH + "0000" %}
        {% endif %}
        - "{{ COMIN_WAVE_RESTART | relpath(ROTDIR) }}/{{ prefix }}.restart.ww3.nc"
