gdasice_restart:
    {% set head = "gdas.ice.t" + cycle_HH + "z." %}
    name: "GDASICE_RESTART"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasice_restart.tar"
    required:
        # TODO explicitly name the restart files to archive
        - '{{ COMOUT_ICE_RESTART | relpath(ROTDIR) }}/*'
