gdasocean_restart:
    {% set head = "gdas.ocean.t" + cycle_HH + "z." %}
    name: "GDASOCEAN_RESTART"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasocean_restart.tar"
    required:
        # TODO explicitly name the restart files to archive
        - '{{ COMIN_OCEAN_RESTART | relpath(ROTDIR) }}/*'
        - '{{ COMIN_MED_RESTART | relpath(ROTDIR) }}/*'
