name: "GDAS"
description: "Basic GDAS analysis and forecast produts and data"
{% set cycle_HH = current_cycle | strftime('%H') %}
{% set cycle_YYYYMMDDHH = current_cycle | strftime('%Y%m%d%H') %}
{% set first_cycle = cycle_YYYYMMDDHH == SDATE %}
{% set n_fhrs = (FHMAX - FHMIN + 1) / FHOUT %}
{% if n_fhrs % NFHRS_PER_GROUP == 0 %}
{% set n_post_groups = n_fhrs // NFHRS_PER_GROUP %}
{% else %}
{% set n_post_groups = n_fhrs // NFHRS_PER_GROUP + 1 %}
{% endif %}
target: "{{ ATARDIR }}/{{ cycle_YYYYMMDDHH }}/gdas.tar"
mandatory:
    - "{{ atmos_grib_0p25_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.0p25.anl"
    - "{{ atmos_grib_0p25_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.0p25.anl.idx"
    - "{{ atmos_grib_1p00_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.1p00.anl"
    - "{{ atmos_grib_1p00_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.1p00.anl.idx"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atmanl.nc"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.sfcanl.nc"
    {% if not first_cycle }
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}atmanlprod.log"
    {% endif %}
    {% for post_group in range(n_post_groups) %}
    {% set grp_st_fhr = post_group * NFHRS_PER_GROUP * FHOUT + FHMIN %}
    {% set grp_en_fhr = (post_group + 1) * NFHRS_PER_GROUP * FHOUT + FHMIN - 1 %}
    {% if grp_en_fhr > FHMAX %}
    {% set grp_en_fhr = FHMAX %}
    {% endif %}
    {% if grp_en_fhr != grp_st_fhr %}
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}atmos_prod_f{{ '%03d' % grp_st_fhr }}-f{{ '%03d' %grp_en_fhr}}.log"
    {% else %}
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}atmos_prod_f{{ '%03d' % grp_st_fhr }}.log"
    {% endif %}
    {% endfor %}
    {% for fhr in range(FHMIN, FHMAX + FHOUT, FHOUT) %}
    - "{{ atmos_grib_0p25_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.0p25.f{{ '%03d' % fhr }}"
    - "{{ atmos_grib_0p25_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.0p25.f{{ '%03d' % fhr }}.idx"
    - "{{ atmos_grib_1p00_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.1p00.f{{ '%03d' % fhr }}"
    - "{{ atmos_grib_1p00_dir }}/{{ RUN }}.t{{ cycle_HH }}z.pgrb2.1p00.f{{ '%03d' % fhr }}.idx"
    - "{{ atmos_master_dir }}/{{ RUN }}.t{{ cycle_HH }}z.sfluxgrbf{{ '%03d' % fhr }}.grib2"
    - "{{ atmos_master_dir }}/{{ RUN }}.t{{ cycle_HH }}z.sfluxgrbf{{ '%03d' % fhr }}.grib2.idx"
    - "{{ atmos_history_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atm.logf{{ '%03d' % fhr }}.txt"
    - "{{ atmos_history_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atmf{{ '%03d' % fhr }}.nc"
    - "{{ atmos_history_dir }}/{{ RUN }}.t{{ cycle_HH }}z.sfcf{{ '%03d' % fhr }}.nc"
    {% endfor %}
    {% if DO_VERFOZN %}
    - "{{ atmos_oznmon_dir }}/time/bad_cnt.{{ cycle_YYYYMMDDHH }}"
    - "{{ atmos_oznmon_dir }}/time/bad_diag.{{ cycle_YYYYMMDDHH }}"
    - "{{ atmos_oznmon_dir }}/time/bad_pen.{{ cycle_YYYYMMDDHH }}"
    {% set oznmon_types = [
       "gome_metop-b", "omi_aura", "ompslp_npp", "ompsnp_n20",
       "ompsnp_npp", "ompstc8_n20", "ompstc8_npp", "sbuv2_n19"
    ] %}
    {% for type in oznmon_types %}
    - "{{ atmos_oznmon_dir }}/time/stdout.time.tar.gz"
    - "{{ atmos_oznmon_dir }}/horiz/stdout.horiz.tar.gz"
    {% endfor %}
    {% endif %}
    {% if DO_VERFRAD %}
    - "{{ atmos_radmon_dir }}/bad_diag.{{ cycle_YYYYMMDDHH }}"
    - "{{ atmos_radmon_dir }}/bad_pen.{{ cycle_YYYYMMDDHH }}"
    - "{{ atmos_radmon_dir }}/low_count.{{ cycle_YYYYMMDDHH }}"
    - "{{ atmos_radmon_dir }}/radmon_angle.tar.gz"
    - "{{ atmos_radmon_dir }}/radmon_bcoef.tar.gz"
    - "{{ atmos_radmon_dir }}/radmon_bcor.tar.gz"
    - "{{ atmos_radmon_dir }}/radmon_time.tar.gz"
    - "{{ atmos_radmon_dir }}/warning.{{ cycle_YYYYMMDDHH }}"
    {% endif %}
    {% if DO_VMINMON %}
    - "{{ atmos_minmon_dir }}/{{ cycle_YYYYMMDDHH }}.costs.txt"
    - "{{ atmos_minmon_dir }}/{{ cycle_YYYYMMDDHH }}.cost_terms.txt"
    - "{{ atmos_minmon_dir }}/{{ cycle_YYYYMMDDHH }}.gnorms.ieee_d"
    - "{{ atmos_minmon_dir }}/{{ cycle_YYYYMMDDHH }}.reduction.ieee_d"
    - "{{ atmos_minmon_dir }}/gnorm_data.txt"
    {% endif %}
optional:
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atmvar.yaml"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atmstat"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.gsistat"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atmanl.ensres.nc"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atma003.ensres.nc"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.atma009.ensres.nc"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.cnvstat"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.oznstat"
    - "{{ atmos_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.radstat"
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}prep.log"
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}anal.log"
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}fcst.log"
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}verfozn.log"
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}verfrad.log"
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}vminmon.log"
    {% for fhr in range(FHMIN, FHMAX + FHOUT, FHOUT) %}
    - "{{ atmos_master_dir }}/{{ RUN }}.t{{ cycle_HH }}z.sfluxgrbf{{ '%03d' % fhr }}.grib2"
    - "{{ atmos_master_dir }}/{{ RUN }}.t{{ cycle_HH }}z.sfluxgrbf{{ '%03d' % fhr }}.grib2.idx"
    {% endfor %}
    {% if DO_AERO %}
    - "{{ chem_analysis_dir }}/{{ RUN }}.t{{ cycle_HH }}z.aerostat"
    {% endif %}
    - "{{ cycle_YYYYMMDDHH }}/{{ RUN }}atmanlupp.log"
    {% if WRITE_DOPOST %}
    {% for post_group in range(n_post_groups) %}
    {% set grp_st_fhr = post_group * NFHRS_PER_GROUP * FHOUT + FHMIN %}
    {% set grp_en_fhr = (post_group + 1) * NFHRS_PER_GROUP * FHOUT + FHMIN - 1 %}
    {% if grp_en_fhr > FHMAX %}
    {% set grp_en_fhr = FHMAX %}
    {% endif %}
    {% if grp_en_fhr != grp_st_fhr %}
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}atmos_upp_f{{ '%03d' % grp_st_fhr }}-f{{ '%03d' %grp_en_fhr}}.log"
    {% else %}
    - "logs/{{ cycle_YYYYMMDDHH }}/{{ RUN }}atmos_upp_f{{ '%03d' % grp_st_fhr }}.log"
    {% endif %}
    {% endfor %}
    {% endif %} # WRITE_DOPOST
    {% if DO_VERFOZN %}
    {% set oznmon_types = [
       "gome_metop-b", "omi_aura", "ompslp_npp", "ompsnp_n20",
       "ompsnp_npp", "ompstc8_n20", "ompstc8_npp", "sbuv2_n19"
    ] %}
    {% for group in [ "horiz", "time" ] %}
    {% for type in oznmon_types %}
    - "{{ atmos_oznmon_dir }}/{{ group }}/{{ type }}.anl.ctl"
    - "{{ atmos_oznmon_dir }}/{{ group }}/{{ type }}.anl.{{ cycle_YYYYMMDDHH }}.ieee_d"
    - "{{ atmos_oznmon_dir }}/{{ group }}/{{ type }}.anl.{{ cycle_YYYYMMDDHH }}.ieee_d.gz"
    - "{{ atmos_oznmon_dir }}/{{ group }}/{{ type }}.ges.ctl"
    - "{{ atmos_oznmon_dir }}/{{ group }}/{{ type }}.ges.{{ cycle_YYYYMMDDHH }}.ieee_d"
    - "{{ atmos_oznmon_dir }}/{{ group }}/{{ type }}.ges.{{ cycle_YYYYMMDDHH }}.ieee_d.gz"
    {% endfor %}
    {% endfor %}
    {% endif %}
