{% set cycle_HH = current_cycle | strftime('%H') %}
{% set cycle_YYYYMMDDHH = current_cycle | strftime('%Y%m%d%H') %}
name: "GDAS_OCEAN_GRIB2"
target: "{{ ATARDIR }}/{{ cycle_YYYYMMDDHH }}/ocean_grib2.tar"
optional:
    {% set grid_resolutions = ["5p00", "1p00", "0p25"] %}
    {% for grid_res in grid_resolutions %}
    - "{{ ocean_grib_dir }}{{ grid_res }}/gfs.ocean.t{{ cycle_HH }}z.{{ grid_res }}.f*.grib2"
    - "{{ ocean_grib_dir }}{{ grid_res }}/gfs.ocean.t{{ cycle_HH }}z.{{ grid_res }}.f*.grib2.idx"
    {% endfor %}
