{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = "gdas.t" + cycle_HH + "z." %}
name: "GDASOCEAN_RESTART"
target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasocean_restart.tar"
mandatory:
    # TODO explicitly name the restart files to archive
    - '{{ COM_OCEAN_RESTART | relpath(ROTDIR) }}/*'
    - '{{ COM_MED_RESTART | relpath(ROTDIR) }}/*'
