gdaswave:
    {% set head = "gdas.t" + cycle_HH + "z." %}
    name: "GDASWAVE"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdaswave.tar"
    required:
        #Save HAFS restart file: 
        {% set offset_dt = current_cycle | add_to_datetime("+6H" | to_timedelta) %}
        - "{{ COMIN_WAVE_RESTART | relpath(ROTDIR) }}/{{ offset_dt | to_fv3time }}.restart.ww3.nc"

        # TODO explicitly name the wave grid files to archive
        {% set WAVE_OUT_GRIDS_list = WAVE_OUT_GRIDS.split(' ') %}
        {% for grd in WAVE_OUT_GRIDS_list %}
        {% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${MEMDIR}':'',
                              '${GRDRESNAME}':grd}) %}
        {% set file_path = COM_WAVE_GRID_RES_TMPL | replace_tmpl(tmpl_dict) %}
        - "{{ file_path | relpath(ROTDIR) }}/{{ head }}*"
        {% endfor %}

        # Wave point output
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}bull.tar"
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}cbull.tar"
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}spec.tar.gz"
