gdasice_restart:
    name: "GDASICE_RESTART"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasice_restart.tar"
    required:
        # TODO: explicitly name the restart files to archive
        - '{{ COMIN_ICE_RESTART | relpath(ROTDIR) }}/*'
