gdasocean_restart:
    name: "GDASOCEAN_RESTART"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gdasocean_restart.tar"
    required:
        # TODO: explicitly name the restart files to archive
        - '{{ COMIN_OCEAN_RESTART | relpath(ROTDIR) }}/*'
        - '{{ COMIN_MED_RESTART | relpath(ROTDIR) }}/*'
