{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN + ".t" + cycle_HH + "z." %}

gefs_atmos:
    name: "GEFS_ATMOS"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gefs_atmos.tar"
    required:
#select mem%03d and ensstat files required
{% set membr = ["ensstat"] %}
{% for mem_nm in range(0, NMEM_ENS + 1) %}
    {% do membr.append("mem" ~ '%03d' % mem_nm ) %}
{% endfor %}

{% if FHOUT_HF_GFS == FHOUT_HF_GFS %}#need some logic here to select FHOUT_HF_GFS or FHOUT_GFS
    {% set fcst_freq = FHOUT_HF_GFS %}
    {% set max_hr = FHMAX_HF_GF %}
{% elif FHOUT_GFS == FHOUT_GFS %}#need some logic here to select FHOUT_HF_GFS or FHOUT_GFS
    {% set fcst_freq = FHOUT_GFS %}
    {% set max_hr = FHMAX_GFS %}
{% endif %}
{% if REPLAY_ICS == "YES" %}
    {% set ofst_hr = OFFSET_START_HOUR %}
{% elif REPLAY_ICS == "NO" %}
    {% set ofst_hr = FHMIN_GFS %}
{% endif %}

{% for mem in membr %}
    {% for res in ['0p25', '0p50', '1p00'] %}
        {% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${GRID}':res,
                              '${MEMDIR}':mem }) %}

        {% set COMIN_ATMOS_GRIB = COM_ATMOS_GRIB_GRID_TMPL | replace_tmpl(tmpl_dict) %}

        # Select pgrb and grib files to copy to the atardir
        {% if RUN == "gefs" %}
            {% if path_exists(COMIN_ATMOS_GRIB) %}
                {% for fhr in range(ofst_hr, max_hr + fcst_freq, fcst_freq) %}
                    {% if mem=="ensstat" %}
                        {% set file_name = head ~ "mean.pres_." ~ res ~ ".f" ~ '%03d'|format(fhr) ~ ".grib2" %}
                        {% set file_path = COMIN_ATMOS_GRIB ~ "/" ~ file_name %}
                        - "{{ file_path | relpath(ROTDIR)}}"
                    {% else %}
                        {% set file_name = head ~ "pgrb2." ~ res ~ ".f" ~ '%03d'|format(fhr) %}
                        {% set file_path = COMIN_ATMOS_GRIB ~ "/" ~ file_name %}
                        - "{{ file_path | relpath(ROTDIR)}}"
                        {% set file_name = head ~ "pgrb2b." ~ res ~ ".f" ~ '%03d'|format(fhr) %}
                        {% set file_path = COMIN_ATMOS_GRIB ~ "/" ~ file_name %}
                        - "{{ file_path | relpath(ROTDIR)}}"
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}
