{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN + ".t" + cycle_HH + "z." %}

gefs:
    name: "GEFS"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gefs_atmos.tar"
    required:
#select mem%03d and ensstat files required
{% set file_set = [] %}
{% set membr = ["ensstat"] %}
{% for mem_nm in range(0, NMEM_ENS + 1) %}
    {% do membr.append("mem" ~ '%03d' % mem_nm ) %}
{% endfor %}

{% for mem in membr %}
    {% for res in ['0p25', '0p50', '1p00'] %}
        {% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${GRID}':res,
                              '${MEMDIR}':mem }) %}

        {% set COMIN_ATMOS_GRIB = COM_ATMOS_GRIB_GRID_TMPL | replace_tmpl(tmpl_dict) %}

        # Select pgrb and grib files to copy to the atardir
        {% if RUN == "gefs" %}
            {% if path_exists(COMIN_ATMOS_GRIB) %}
                {% for fhr in range(FHMIN_GFS, FHMAX_GFS + FHOUT_GFS, FHOUT_GFS) %}
                    {% if mem=="ensstat" %}
                        {% set file_name = head ~ "mean.pres_." ~ res ~ ".f" ~ '%03d'|format(fhr) ~ ".grib2" %}
                        {% set file_set = COMIN_ATMOS_GRIB ~ "/" ~ file_name %}
                        - "{{ file_set | relpath(ROTDIR)}}"
                    {% else %}
                        {% set file_name = head ~ "pgrb2." ~ res ~ ".f" ~ '%03d'|format(fhr) %}
                        {% set file_set = COMIN_ATMOS_GRIB ~ "/" ~ file_name %}
                        - "{{ file_set | relpath(ROTDIR)}}"
                        {% set file_name = head ~ "pgrb2b." ~ res ~ ".f" ~ '%03d'|format(fhr) %}
                        {% set file_set = COMIN_ATMOS_GRIB ~ "/" ~ file_name %}
                        - "{{ file_set | relpath(ROTDIR)}}"
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}
