{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN + "wave.t" + cycle_HH + "z." %}

gefs_wave:
    name: "GEFS_WAVE"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gefs_wave.tar"
    required:
{% if REPLAY_ICS %}
    {% set ofst_hr = OFFSET_START_HOUR %}
{% else %}
    {% set ofst_hr = FHMIN_GFS %}
{% endif %}

{% set grid_mapping = {
    'glo_10m': 'global.0p16',
    'glo_15mxt': 'global.0p25',
    'glo_30mxt': 'global.0p50',
    'glo_30m': 'global.0p50',
    'glo_025': 'global.0p25',
    'glo_100': 'global.1p00',
    'glo_200': 'global.2p00',
    'glo_500': 'global.5p00',
    'at_10m': 'atlocn.0p16',
    'ep_10m': 'epacif.0p16',
    'wc_10m': 'wcoast.0p16',
    'ak_10m': 'alaska.0p16',
    'aoc_9km': 'arctic.9km',
    'ant_9km': 'antarc.9km',
    'gnh_10m': 'global.0p16',
    'gsh_15m': 'gsouth.0p25',
    'ao_20m': 'arctic.0p33',
    'so_20m': 'antarc.0p33',
    'reg025': 'global.0p25',
    'gwes_30m': 'global.0p50'
} %}

{% set res = grid_mapping.get(waveGRD, 'unknown') %}
{% if res == 'unknown' %}
    {{ "FATAL ERROR: No grid specific wave config values exist. Aborting." }}
{% endif %}

#select mem%03d and ensstat files required
{% set members = [] %}
{% for mem_nm in range(0, NMEM_ENS + 1) %}
    {% do members.append("mem" ~ '%03d' % mem_nm ) %}
{% endfor %}

{% for mem in members %}
    {% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                          '${RUN}':RUN,
                          '${YMD}':cycle_YMD,
                          '${HH}':cycle_HH,
                          '${MEMDIR}':mem }) %}
    {% set COMIN_WAVE_STATION = COM_WAVE_STATION_TMPL | replace_tmpl(tmpl_dict) %}
    # Select station files to copy to the atardir
    {% if path_exists(COMIN_WAVE_STATION) %}
        {% set file_path = COMIN_WAVE_STATION ~ "/" ~ RUN ~ "wave.t" ~ cycle_HH ~ "z.spec_tar.gz" %}
        - "{{ file_path | relpath(ROTDIR)}}"
        {% set file_path = COMIN_WAVE_STATION ~ "/" ~ RUN ~ "wave.t" ~ cycle_HH ~ "z.cbull_tar" %}
        - "{{ file_path | relpath(ROTDIR)}}"
        {% set file_path = COMIN_WAVE_STATION ~ "/" ~ RUN ~ "wave.t" ~ cycle_HH ~ "z.bull_tar" %}
        - "{{ file_path | relpath(ROTDIR)}}"
    {% endif %}


    {% set COMIN_WAVE_GRID = COM_WAVE_GRID_TMPL | replace_tmpl(tmpl_dict) %}
        # Select grib2 files to copy to the atardir
    {% if path_exists(COMIN_WAVE_GRID) %}
        {% for fhr in range(ofst_hr, FHMAX_GFS + FHOUT_WAV, FHOUT_WAV) %}
            {% set file_name = head ~ res ~ ".f" ~ '%03d'|format(fhr) ~ ".grib2" %}
            {% set file_path = COMIN_WAVE_GRID ~ "/" ~ res ~ "/" ~ file_name %}
        - "{{ file_path | relpath(ROTDIR)}}"
        {% endfor %}
    {% endif %}
{% endfor %}
