{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set head = RUN + ".t" + cycle_HH + "z." %}

# Declare the GEFS_ARCH where atmos data will be sent
{% set GEFS_ARCH = ROTDIR ~ "/gefsarch" %}

{% set file_set = [] %}

{% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                      '${RUN}':RUN,
                      '${YMD}':cycle_YMD,
                      '${HH}':cycle_HH,
                      '${GRID}': '1p00',
                      '${MEMDIR}': 'ensstat' }) %}

{% set COMIN_ATMOS_ENSSTAT_1p00 = COM_ATMOS_GRIB_GRID_TMPL | replace_tmpl(tmpl_dict) %}

{% if REPLAY_ICS %}
    {% set ofst_hr = FHOUT_GFS %}
{% else %}
    {% set ofst_hr = FHMIN_GFS %}
{% endif %}

# Select ensstat files to copy to the arcdir
{% if RUN == "gefs" %}
    {% set ensstat_files = [] %}
    {% if path_exists(COMIN_ATMOS_ENSSTAT_1p00) %}
        {% for fhr in range(ofst_hr, FHMAX_GFS + FHOUT_GFS, FHOUT_GFS) %}
            {% do ensstat_files.append([COMIN_ATMOS_ENSSTAT_1p00 ~ "/" ~ head ~ "mean.pres_." ~
                                        "1p00" ~ ".f" ~ '%03d'|format(fhr) ~ ".grib2",
                                        GEFS_ARCH]) %}
        {% endfor %}
    {% endif %}
{% endif %}
{% set file_set = ensstat_files %}
# Actually write the yaml
mkdir:
    - "{{ GEFS_ARCH }}"
copy:
   {% for source_dest_pair in file_set %}
   - {{ source_dest_pair }}
   {% endfor %}
