gfs_flux:
    {% set head = "gfs.t" + cycle_HH + "z." %}
    name: "GFS_FLUX"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfs_flux.tar"
    required:
        {% for fhr in range(FHMIN_GFS, FHMAX_GFS + FHOUT_GFS, FHOUT_GFS) %}
        - "{{ COMOUT_ATMOS_MASTER | relpath(ROTDIR) }}/{{ head }}sfluxgrbf{{ '%03d' % fhr }}.grib2"
        - "{{ COMOUT_ATMOS_MASTER | relpath(ROTDIR) }}/{{ head }}sfluxgrbf{{ '%03d' % fhr }}.grib2.idx"
        {% endfor %}
