    gfs_restarta:
        {% set head = "gfs.t" + cycle_HH + "z." %}
        name: "GFS_RESTARTA"
        target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfs_restarta.tar"
        mandatory:
            {% if MODE == "cycled" %}
            {% if DOHYBVAR %}
            {% set anl_offset = "-3H" %}
            {% else %}
            {% set anl_offset = "0H" %}
            {% endif %}
            {% set anl_timedelta = anl_offset | to_timedelta %}
            {% set anl_time = current_cycle | add_to_datetime(anl_timedelta) %}
            {% for i_tile in range(1, 7) %}
            - "{{ COM_ATMOS_RESTART | relpath(ROTDIR) }}/{{ anl_time | to_YMD }}.{{ anl_time | strftime("%H") }}0000.sfcanl_data.tile{{ i_tile }}.nc"
            {% endfor %}
            {% elif MODE == "forecast-only" %}
            - "{{ COM_ATMOS_INPUT | relpath(ROTDIR) }}/gfs_ctrl.nc"
            {% for i_tile in range(1, 7) %}
            - "{{ COM_ATMOS_INPUT | relpath(ROTDIR) }}/gfs_data.tile{{ i_tile }}.nc"
            - "{{ COM_ATMOS_INPUT | relpath(ROTDIR) }}/sfc_data.tile{{ i_tile }}.nc"
            {% endfor %}
            {% endif %}
