{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = "gfs.t" + cycle_HH + "z." %}
name: "GFS_RESTARTB"
target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfs_restartb.tar"
mandatory:
    {% set tiled_types = ["ca_data", "fv_core.res", "fv_srf_wnd.res", "fv_tracer.res", "phy_data", "sfc_data"] %}
    {% for itile in range(1, 7) %}
    {% for datatype in tiled_types %}
    - "{{ COM_ATMOS_RESTART | relpath(ROTDIR) }}/{{datatype}}.tile{{ itile }}.nc"
    {% endfor %}
    {% endfor %}
    - "{{ COM_ATMOS_RESTART | relpath(ROTDIR) }}/coupler"
    - "{{ COM_ATMOS_RESTART | relpath(ROTDIR) }}/fv_core.res.nc"
    {% for r_time in range(restart_interval_gfs, FHMAX_GFS + 1, restart_inverval_gfs) %}
    {% set r_timedelta = (r_time | string + "H") | to_timedelta %}
    {% set r_dt = current_cycle | add_to_datetime(r_timedelta) %}
    {% set r_YMD = r_dt | to_YMD %}
    {% set r_HH = r_dt | strftime("%H") %}
    {% set r_prefix = r_YMD + "." + r_HH + "0000" %}
    {% for itile in range(1, 7) %}
    {% for datatype in tiled_types %}
    - "{{ COM_ATMOS_RESTART | relpath(ROTDIR) }}/{{ r_prefix }}.{{datatype}}.tile{{ itile }}.nc"
    {% endfor %}
    {% endfor %}
    - "{{ COM_ATMOS_RESTART | relpath(ROTDIR) }}/{{ r_prefix }}.coupler"
    - "{{ COM_ATMOS_RESTART | relpath(ROTDIR) }}/{{ r_prefix }}.fv_core.res.nc"
    {% endfor %}
