gfs_netcdfb:
    {% set head = "gfs.t" + cycle_HH + "z." %}
    name: "GFS_NETCDFB"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfs_netcdfb.tar"
    required:
        {% for fhr in range(0, ARCH_GAUSSIAN_FHMAX + ARCH_GAUSSIAN_FHINC, ARCH_GAUSSIAN_FHINC) %}
        - "{{ COMIN_ATMOS_HISTORY | relpath(ROTDIR) }}/{{ head }}atmf{{ '%03d' % fhr }}.nc"
        - "{{ COMIN_ATMOS_HISTORY | relpath(ROTDIR) }}/{{ head }}sfcf{{ '%03d' % fhr }}.nc"
        {% endfor %}
