gfs_downstream:
    {% set head = "gfs.t" + cycle_HH + "z." %}
    name: "GFS_DOWNSTREAM"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfs_downstream.tar"
    required:
        - "{{ COMIN_ATMOS_GEMPAK | relpath(ROTDIR) }}/gfs_{{ cycle_YMDH }}.sfc"
        - "{{ COMIN_ATMOS_GEMPAK | relpath(ROTDIR) }}/gfs_{{ cycle_YMDH }}.snd"
        {% for i in range(1, NUM_SND_COLLECTIVES) %}
        - "{{ COMIN_ATMOS_BUFR | relpath(ROTDIR) }}/gfs_collective{{ i }}.fil"
        {% endfor %}
        - "{{ COMIN_ATMOS_BUFR | relpath(ROTDIR) }}/bufr.??????.{{ cycle_YMDH }}"
        - "{{ COMIN_ATMOS_BUFR | relpath(ROTDIR) }}/gfs.t{{ cycle_HH }}z.bufrsnd.tar.gz"
