# Variables provided by archive_vars.py:
# - cycle_HH, cycle_YMDH, cycle_YMD, head
# - VFYARC, GEFS_ARCH
# - All COMIN_* paths

# Deterministic GFS/GDAS archiving template
# Used for: gfs, gdas

# Build head string (e.g., 'gfs.t00z.')
{% set head = RUN + ".t" + cycle_HH + "z." %}

mkdir:
    - "{{ ARCDIR }}"
{% if DO_FIT2OBS == True %}
    - "{{ VFYARC }}/{{ RUN }}.{{ cycle_YMD }}/{{ cycle_HH }}"
{% endif %}

copy_opt:
# Cyclone tracking files (optional - only exist when storms are tracked)
    - ["{{ COMIN_ATMOS_TRACK }}/atcfunix.{{ RUN }}.{{ cycle_YMDH }}",
       "{{ ARCDIR }}/atcfunix.{{ RUN }}.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_TRACK }}/atcfunixp.{{ RUN }}.{{ cycle_YMDH }}",
       "{{ ARCDIR }}/atcfunixp.{{ RUN }}.{{ cycle_YMDH }}"]

# Cyclone tracking data by basin
{% for basin in ["epac", "natl"] %}
    - ["{{ COMIN_ATMOS_TRACK }}/{{ basin }}",
       "{{ ARCDIR }}/{{ basin }}"]
{% endfor %}

{% if MODE == "cycled" %}
    # Deterministic analysis files (cycled mode only)
    - ["{{ COMIN_ATMOS_GRIB_1p00 }}/{{ head }}pres_a.1p00.analysis.grib2",
       "{{ ARCDIR }}/pgbanl.{{ RUN }}.{{ cycle_YMDH }}.grib2"]

    {% if DO_JEDIATMVAR == True %}
    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ head }}atmos_analysis.ioda_hofx.tar.gz",
       "{{ ARCDIR }}/atmstat.{{ RUN }}.{{ cycle_YMDH }}"]
    {% else %}
    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ head }}gsistat.txt",
       "{{ ARCDIR }}/gsistat.{{ RUN }}.{{ cycle_YMDH }}"]
    {% endif %}

    {% if DO_JEDISNOWDA == True %}
    - ["{{ COMIN_SNOW_ANALYSIS }}/{{ head }}snow_analysis.ioda_hofx.tar",
       "{{ ARCDIR }}/snowstat.{{ RUN }}.{{ cycle_YMDH }}.tar"]
    {% endif %}

    {% if DO_AERO_ANL %}
    - ["{{ COMIN_CHEM_ANALYSIS }}/{{ head }}aero_analysis.ioda_hofx.tar.gz",
       "{{ ARCDIR }}/aerostat.{{ RUN }}.{{ cycle_YMDH }}.tgz"]
    {% endif %}

    {% if DO_JEDIOCNVAR %}
    - ["{{ COMIN_OCEAN_ANALYSIS }}/{{ head }}marine_analysis.ioda_hofx.tar.gz",
       "{{ ARCDIR }}/marinestat.{{ RUN }}.{{ cycle_YMDH }}.tgz"]
    {% endif %}

    {% if DO_PREP_OBS_AERO == True %}
    - ["{{ COMIN_OBS }}/{{ head }}aeroobs",
       "{{ ARCDIR }}/aeroobs.{{ RUN }}.{{ cycle_YMDH }}"]
    - ["{{ COMIN_OBS }}/{{ head }}aeroawobs",
       "{{ ARCDIR }}/aeroawobs.{{ RUN }}.{{ cycle_YMDH }}"]
    {% endif %}
{% endif %}

{% if RUN == "gfs" %}
    # GFS forecast files
    {% for fhr in range(0, FHMAX_GFS + 1, FHOUT_GFS) %}
    - ["{{ COMIN_ATMOS_GRIB_1p00 }}/{{ head }}pres_a.1p00.f{{ '%03d'|format(fhr) }}.grib2",
       "{{ ARCDIR }}/pgbf{{ '%02d'|format(fhr) }}.{{ RUN }}.{{ cycle_YMDH }}.grib2"]
    {% endfor %}

    - ["{{ COMIN_ATMOS_GENESIS }}/storms.gfso.atcf_gen.{{ cycle_YMDH }}",
       "{{ ARCDIR }}/storms.gfso.atcf_gen.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_GENESIS }}/storms.gfso.atcf_gen.altg.{{ cycle_YMDH }}",
       "{{ ARCDIR }}/storms.gfso.atcf_gen.altg.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_GENESIS }}/trak.gfso.atcfunix.{{ cycle_YMDH }}",
       "{{ ARCDIR }}/trak.gfso.atcfunix.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_GENESIS }}/trak.gfso.atcfunix.altg.{{ cycle_YMDH }}",
       "{{ ARCDIR }}/trak.gfso.atcfunix.altg.{{ cycle_YMDH }}"]

    {% if DO_FIT2OBS == True %}
    # GFS Fit2Obs data
        {% for fhr in range(0, FHMAX_FITS + 1, 6) %}
            {% set sfcfile = head + "sfc.f" + '%03d'|format(fhr) + ".nc" %}
            {% set sigfile = head + "atm.f" + '%03d'|format(fhr) + ".nc" %}
    - ["{{ COMIN_ATMOS_HISTORY }}/{{ sfcfile }}",
       "{{ VFYARC }}/{{ RUN }}.{{ cycle_YMD }}/{{ cycle_HH }}/{{ sfcfile }}"]
    - ["{{ COMIN_ATMOS_HISTORY }}/{{ sigfile }}",
       "{{ VFYARC }}/{{ RUN }}.{{ cycle_YMD }}/{{ cycle_HH }}/{{ sigfile }}"]
        {% endfor %}
    {% endif %}

{% elif RUN == "gdas" %}
    # GDAS forecast files
    {% for fhr in range(0, FHMAX + 1, FHOUT) %}
    - ["{{ COMIN_ATMOS_GRIB_1p00 }}/{{ head }}pres_a.1p00.f{{ '%03d'|format(fhr) }}.grib2",
       "{{ ARCDIR }}/pgbf{{ '%02d'|format(fhr) }}.{{ RUN }}.{{ cycle_YMDH }}.grib2"]
    {% endfor %}

    # GDAS bias correction files
    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ head }}abias.txt",
       "{{ ARCDIR }}/abias.{{ RUN }}.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ head }}abias_pc.txt",
       "{{ ARCDIR }}/abias_pc.{{ RUN }}.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ head }}abias_air.txt",
       "{{ ARCDIR }}/abias_air.{{ RUN }}.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ head }}abias_int.txt",
       "{{ ARCDIR }}/abias_int.{{ RUN }}.{{ cycle_YMDH }}"]
    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ head }}increment.dtf.i006.nc",
       "{{ ARCDIR }}/dtfanl.{{ RUN }}.{{ cycle_YMDH }}.nc"]
{% endif %}
