gfsocean_analysis:
    {% set head = "gfs.t" + cycle_HH + "z." %}
    name: "GFSOCEAN_ANALYSIS"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfsocean_analysis.tar"
    required:
        {% if DOIAU %}
        {% set anl_delta = "-3H" | to_timedelta %}
        {% else %}
        {% set anl_delta = "0H" | to_timedelta %}
        {% endif %}
        {% set anl_time = current_cycle | add_to_datetime(anl_delta) %}
        # analysis and analysis increments
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ head }}ocninc.nc'
        - '{{ COMIN_ICE_ANALYSIS | relpath(ROTDIR) }}/{{ anl_time | to_YMD }}.{{ anl_time | strftime("%H") }}0000.cice_model_anl.res.nc'
        {% for domain in ["ocn", "ice"] %}
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ head }}{{domain}}.incr.nc'
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ head }}ice.incr.postproc.nc'
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/{{ head }}{{domain}}.ana.nc'
        {% endfor %}

        # static background error
        - '{{ COMIN_OCEAN_BMATRIX | relpath(ROTDIR) }}/{{ head }}ocean.bkgerr_ens_stddev.nc'
        - '{{ COMIN_ICE_BMATRIX | relpath(ROTDIR) }}/{{ head }}ice.bkgerr_ens_stddev.nc'

        # runtime configs
        - '{{ COMIN_CONF | relpath(ROTDIR) }}/*.yaml'
    optional:        
        # obs space diags
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/diags/{{ head }}ocn.*.stats.csv'
        - '{{ COMIN_OCEAN_ANALYSIS | relpath(ROTDIR) }}/diags/*.nc'
