gfsocean_analysis:
    {% set head = "gfs.t" + cycle_HH + "z." %}
    name: "GFSOCEAN_ANALYSIS"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfsocean_analysis.tar"
    required:
        {# anl_time_YMD and anl_time_HH are pre-calculated in Python: -3H if DOIAU, 0H otherwise #}
        # analysis and analysis increments
        - '{{ COMIN_OCEAN_ANALYSIS }}/{{ head }}jedi_analysis.a006.nc'
        - '{{ COMIN_OCEAN_ANALYSIS }}/{{ head }}jedi_increment.i006.nc'
        - '{{ COMIN_OCEAN_ANALYSIS }}/{{ head }}mom6_increment.i006.nc'
        - '{{ COMIN_ICE_ANALYSIS }}/{{ anl_time_YMD }}.{{ anl_time_HH }}0000.analysis.cice_model.res.nc'
        - '{{ COMIN_ICE_ANALYSIS }}/{{ head }}jedi_analysis.a006.nc'
        - '{{ COMIN_ICE_ANALYSIS }}/{{ head }}jedi_increment.i006.nc'
        - '{{ COMIN_ICE_ANALYSIS }}/{{ head }}pp_increment.i006.nc'

        # static background error
        - '{{ COMIN_OCEAN_BMATRIX }}/{{ head }}bkgerr_parametric_stddev.nc'
        - '{{ COMIN_ICE_BMATRIX }}/{{ head }}bkgerr_parametric_stddev.nc'

        # runtime configs
        - '{{ COMIN_CONF }}/{{ head }}soca_setcorscales.yaml'
        - '{{ COMIN_CONF }}/{{ head }}soca_chgres.yaml'
        - '{{ COMIN_CONF }}/{{ head }}soca_diagb.yaml'
        - '{{ COMIN_CONF }}/{{ head }}gridgen.yaml'
        - '{{ COMIN_CONF }}/{{ head }}soca_vtscales.yaml'
        - '{{ COMIN_CONF }}/{{ head }}bmat_fields_metadata.yaml'
        - '{{ COMIN_CONF }}/var.yaml'
        # soca_parameters_diffusion_vt, and soca_parameters_diffusion_hz when present
        - '{{ COMIN_CONF }}/{{ head }}soca_parameters_diffusion_??.yaml'
        - '{{ COMIN_CONF }}/soca_incpostproc.yaml'
    optional:
        # obs space diags
        - '{{ COMIN_OCEAN_ANALYSIS }}/diags/{{ head }}ocn.*.stats.csv'
        - '{{ COMIN_OCEAN_ANALYSIS }}/diags/*.nc'
