gfswave:
    {% set head = "gfswave.t" + cycle_HH + "z." %}
    name: "GFSWAVE"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfswave.tar"
    required:
    {% set RESOLUTION = [] %}
    {% set GridID = [] %}
    {% for grdID in wavepostGRD + waveinterpGRD %}
        {% if grdID == 'glo_10m' %}
            {% set GRDNAME = 'global.0p16' %}
        {% elif grdID == 'glo_15mxt' %}
            {% set GRDNAME = 'global.0p25' %}
        {% elif grdID == 'glo_30mxt' %}
            {% set GRDNAME = 'global.0p50' %}
        {% elif grdID == 'glo_30m' %}
            {% set GRDNAME = 'global.0p50' %}
        {% elif grdID == 'glo_025' %}
            {% set GRDNAME = 'global.0p25' %}
        {% elif grdID == 'glo_100' %}
            {% set GRDNAME = 'global.1p00' %}
        {% elif grdID == 'glo_200' %}
            {% set GRDNAME = 'global.2p00' %}
        {% elif grdID == 'glo_500' %}
            {% set GRDNAME = 'global.5p00' %}
        {% elif grdID == 'at_10m' %}
            {% set GRDNAME = 'atlocn.0p16' %}
        {% elif grdID == 'ep_10m' %}
            {% set GRDNAME = 'epacif.0p16' %}
        {% elif grdID == 'wc_10m' %}
            {% set GRDNAME = 'wcoast.0p16' %}
        {% elif grdID == 'ak_10m' %}
            {% set GRDNAME = 'alaska.0p16' %}
        {% elif grdID == 'aoc_9km' %}
            {% set GRDNAME = 'arctic.9km' %}
        {% elif grdID == 'ant_9km' %}
            {% set GRDNAME = 'antarc.9km' %}
        {% elif grdID == 'gnh_10m' %}
            {% set GRDNAME = 'global.0p16' %}
        {% elif grdID == 'gsh_15m' %}
            {% set GRDNAME = 'gsouth.0p25' %}
        {% elif grdID == 'ao_20m' %}
            {% set GRDNAME = 'arctic.0p33' %}
        {% elif grdID == 'so_20m' %}
            {% set GRDNAME = 'antarc.0p33' %}
        {% elif grdID == 'reg025' %}
            {% set GRDNAME = 'global.0p25' %}
        {% elif grdID == 'gwes_30m' %}
            {% set GRDNAME = 'global.0p50' %}
        {% else %}
            {{ "FATAL ERROR: No grid specific wave config values exist for " ~ grdID ~ ". Aborting." }}
        {% endif %}
        {% do RESOLUTION.append(GRDNAME) %}  
    {% endfor %}

        # Wave GRIB2 regional forecast products
        {% for res in RESOLUTION %}
        {% set file_path = COMIN_WAVE_GRID ~ "/" ~ res %}

        {% for fh in range(0, FHMAX_HF_WAV + FHOUT_HF_WAV, FHOUT_HF_WAV) %}
        # NOTE This is as explicit as possible without major logic to parse wavepostGRD.
        #      Matches files of the form "gfswave.tCCz.<region>.<res>.fHHH.grib2".
        - "{{ file_path | relpath(ROTDIR) }}/{{ head }}*.*.f{{ '%03d' % fh }}.grib2"
        - "{{ file_path | relpath(ROTDIR) }}/{{ head }}*.*.f{{ '%03d' % fh }}.grib2.idx"
        {% endfor %}

        # Global wave GRIB2 forecast products
        {% for fh in range(FHMAX_HF_WAV + FHOUT_WAV, FHMAX_WAV_GFS + FHOUT_WAV, FHOUT_WAV) %}
        - "{{ file_path | relpath(ROTDIR) }}/{{ head }}*.*.f{{ '%03d' % fh }}.grib2"
        - "{{ file_path | relpath(ROTDIR) }}/{{ head }}*.*.f{{ '%03d' % fh }}.grib2.idx"
        {% endfor %}

        {% endfor %}

        # Wave bulletins
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}bull_tar"
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}cbull_tar"
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}spec_tar.gz"

        # Wave IBP bulletins
        {% if DOIBP_WAV %}
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}ibpbull_tar"
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}ibpcbull_tar"
        - "{{ COMIN_WAVE_STATION | relpath(ROTDIR) }}/{{ head }}ibp_tar"
        {% endif %}
