{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMDH = to_YMDH %}
{% set head = "gfs.ice.t" + cycle_HH + "z." %}
name: "ICE_6HRAVG"
target: "{{ ATARDIR }}/{{ cycle_YMDH }}/ice_6hravg.tar"
mandatory:
    - "{{ COM_ICE_HISTORY | relpath(ROTDIR) }}/{{ head }}ic.nc"
    {% for fhr in range(6, FHMAX_GFS + 6, 6) %}
    - "{{ COM_ICE_HISTORY | relpath(ROTDIR) }}/{{ head }}6hr_avg.f{{ '%03d' % fhr }}.nc"
    {% endfor %}
