{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN ~ ".t" ~ cycle_HH ~ "z.native.f*" %}
{% for mem in range(0, NMEM_ENS + 1) %}
{% set mem_char = 'mem%03d' | format(mem) %}
{% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${MEMDIR}': mem_char }) %}
ice_product_daily_{{ mem_char }}:
    name: "ICE_PRODUCT_DAILY_{{ mem_char }}"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/ice_product_daily_{{ mem_char }}.tar"
    required:
        {% set COMIN_ICE_NETCDF = COM_ICE_NETCDF_TMPL | replace_tmpl(tmpl_dict) %}
        - "{{ COMIN_ICE_NETCDF | relpath(ROTDIR) }}/native/{{ head }}.*"
{% endfor %}
       
