ice_6hravg:
    {% set head = "gfs.ice.t" + cycle_HH + "z." %}
    name: "ICE_6HRAVG"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/ice_6hravg.tar"
    required:
        - "{{ COMOUT_ICE_HISTORY | relpath(ROTDIR) }}/{{ head }}ic.nc"
        {% for fhr in range(6, FHMAX_GFS + 6, 6) %}
        - "{{ COMOUT_ICE_HISTORY | relpath(ROTDIR) }}/{{ head }}6hr_avg.f{{ '%03d' % fhr }}.nc"
        {% endfor %}
