ice_grib2:
    {% set head = "gfs.ice.t" + cycle_HH + "z." %}
    name: "ICE_GRIB2"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/ice_grib2.tar"
    required:
        {% for fhr in range(FHOUT_OCNICE_GFS, FHMAX_GFS + FHOUT_OCNICE_GFS, FHOUT_OCNICE_GFS) %}
        {% set fhr3 = '%03d' % fhr %}
        {% if ICERES == 500 %}
        - "{{ COM_ICE_GRIB | relpath(ROTDIR) }}/5p00/{{ head }}5p00.f{{ fhr3 }}.grib2"
        - "{{ COM_ICE_GRIB | relpath(ROTDIR) }}/5p00/{{ head }}5p00.f{{ fhr3 }}.grib2.idx"
        {% elif ICERES == 100 %}
        - "{{ COM_ICE_GRIB | relpath(ROTDIR) }}/1p00/{{ head }}1p00.f{{ fhr3 }}.grib2"
        - "{{ COM_ICE_GRIB | relpath(ROTDIR) }}/1p00/{{ head }}1p00.f{{ fhr3 }}.grib2.idx"
        {% elif ICERES == 25 or ICERES == "025" %}
        - "{{ COM_ICE_GRIB | relpath(ROTDIR) }}/0p25/{{ head }}0p25.f{{ fhr3 }}.grib2"
        - "{{ COM_ICE_GRIB | relpath(ROTDIR) }}/0p25/{{ head }}0p25.f{{ fhr3 }}.grib2.idx"
        {% endif %}
        {% endfor %}
