# Set variables/lists needed to parse the gefs templates
{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}

datasets:
# Archive the EXPDIR if requested
{% if archive_expdir %}
{% filter indent(width=4) %}
{% include "expdir.yaml.j2" %}
{% endfilter %}
{% endif %}

{% filter indent(width=4) %}
{% include "atmos_master_grib_mem.yaml.j2" %}
{% endfilter %}

{% if FHMAX_GFS > 720 %}
{% filter indent(width=4) %}
{% include "ocean_product_mem_monthly.yaml.j2" %}
{% endfilter %}
{% endif %}

{% filter indent(width=4) %}
{% include "ocean_product_mem_daily.yaml.j2" %}
{% endfilter %}

# Archive 6-hr ocean history files (currently include temp at 5m depth only)
{% filter indent(width=4) %}
{% include "ocean_product_mem_6hravg.yaml.j2" %}
{% endfilter %}

{% if FHMAX_GFS > 720 %}
{% filter indent(width=4) %}
{% include "ice_product_mem_monthly.yaml.j2" %}
{% endfilter %}
{% endif %}

{% filter indent(width=4) %}
{% include "ice_product_mem_daily.yaml.j2" %}
{% endfilter %}

{% filter indent(width=4) %}
{% include "namelists.yaml.j2" %}
{% endfilter %}
