{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = "gdas.t" + cycle_HH + "z." %}
datasets:
{% include "gdas.yaml.j2" %}

{% if DO_ICE %}
{% include "gdasice.yaml.j2" %}
{% endif %}

{% if DO_OCEAN %}
{% include "gdasocean.yaml.j2" %}
{% include "gdasocean_analysis.yaml.j2" %}
{% endif %}

{% if DO_WAVE %}
{% include "gdaswave.yaml.j2" %}
{% endif %}

# Determine if we will save restart ICs or not
{% set save_warm_start_forecast, save_warm_start_cycled = ( False, False ) %}

{% if ARCH_CYC == cycle_HH | int and current_cycle != SDATE%}
# Save the warm and forecast-only cycle ICs every ARCH_WARMICFREQ days
{% if (current_cycle - SDATE).days % ARCH_WARMICFREQ == 0 %}
{% set save_warm_start_forecast = True %}
{% set save_warm_start_cycled = True %}
# Save the forecast-only restarts every ARCH_FCSTICFREQ days
{% elif (current_cycle - SDATE).days % ARCH_FCSTICFREQ == 0 %}
{% set save_warm_start_forecast = True %}
{% endif %}
{% endif %}

{% if save_warm_start_forecast %}
{% include "gdas_restarta.yaml.j2" %}

{% if DO_WAVE %}
{% include "gdaswave_restart.yaml.j2" %}
{% endif %}

{% if DO_OCN %}
{% include "gdasocean_restart.yaml.j2" %}
{% endif %}

{% if DO_ICE %}
{% include "gdasice_restart.yaml.j2" %}
{% endif %}

{% endif %}  # Save forecast-only restarts

# Save cycled restarts
{% if save_warm_start_cycled %}
{% include "gdas_restartb.yaml.j2" %}
{% endif %}
