{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = "gdas.t" + cycle_HH + "z." %}

# Archive specific tarball type based on TARBALL_TYPE variable
datasets:
{% filter indent(width=4) %}
{% include TARBALL_TYPE ~ '.yaml.j2' %}
{% endfilter %}

# If EXPDIR archiving is requested, only pair it with the gdas archive
{% if TARBALL_TYPE is defined and TARBALL_TYPE == 'gdas' and archive_expdir %}
{% filter indent(width=4) %}
{% include "expdir.yaml.j2" %}
{% endfilter %}
{% endif %}
