# Set variables/lists needed to parse the gefs templates
{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}

datasets:
{% set file_list = ["gefs_atmos.yaml.j2", "gefs_ocean.yaml.j2", "gefs_ice.yaml.j2", "gefs_wave.yaml.j2"] %}

{% for file_name in file_list %}
    {% filter indent(width=4) %}
{% include file_name %}
    {% endfilter %}
{% endfor %}
