{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}
datasets:
{% include "gfsa.yaml.j2" %}
{% include "gfsb.yaml.j2" %}

{% if ARCH_GAUSSIAN %}
{% include "gfs_flux.yaml.j2" %}
{% include "gfs_netcdfb.yaml.j2" %}
{% include "gfs_pgrb2b.yaml.j2" %}
{% if MODE == "cycled" %}
{% include "gfs_netcdfa.yaml.j2" %}
{% endif %}
{% endif %}

{% if DO_WAVE %}
{% include "gfswave.yaml.j2" %}
{% endif %}

{% if DO_AERO %}
{% include "chem.yaml.j2" %}
{% endif %}

{% if DO_BUFRSND %}
{% include "gfs_downstream.yaml.j2" %}
{% endif %}

{% if DO_OCEAN %}
{% include "ocean_6hravg.yaml.j2" %}
{% include "ocean_daily.yaml.j2" %}
{% include "ocean_grib2.yaml.j2" %}
{% include "gfs_flux_1p00.yaml.j2" %}
{% endif %}

{% if DO_ICE %}
{% include "ice_6hravg.yaml.j2" %}
{% include "ice_grib2.yaml.j2" %}
{% endif %}

# Determine whether to save the MOS tarball
{% if DO_MOS and cycle_HH == "18" %}
{% if not REALTIME %}
{% include "gfsmos.yaml.j2" %}
{% else %}
{% set td_from_sdate = current_cycle - SDATE %}
{% set td_one_day = "+1D" | to_timedelta %}
{% if td_from_sdate > td_one_day %}
{% include "gfsmos.yaml.j2" %}
{% endif %}
{% endif %}
{% endif %}

# Determine if we will save restart ICs or not
{% if ARCH_CYC == cycle_HH | int and current_cycle != SDATE %}
# Save the forecast-only cycle ICs every ARCH_WARMICFREQ or ARCH_FCSTICFREQ days
{% if (current_cycle - SDATE).days % ARCH_WARMICFREQ == 0 %}
{% include "gfs_restarta.yaml.j2" %}
{% elif (current_cycle - SDATE).days % ARCH_FCSTICFREQ == 0 %}
{% include "gfs_restarta.yaml.j2" %}
{% endif %}
{% endif %}
