# Set variables/lists needed to parse the gefs templates
{% set cycle_HH = current_cycle | strftime("%H") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_YMDH = current_cycle | to_YMDH %}

datasets:
{% filter indent(width=4) %}
    {% include "gefs_extracted_atmos.yaml.j2" %}
    {% include "gefs_extracted_ocean.yaml.j2" %}
    {% include "gefs_extracted_ice.yaml.j2" %}
    {% include "gefs_extracted_wave.yaml.j2" %}
{% endfilter %}
