{% set head = "gcdas.t" + cycle_HH + "z." %}

datasets:
    gcdas:
        {% set head = "gcdas.t" + cycle_HH + "z." %}
        name: "GCDAS"
        target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gcdas.tar"
        required:
            {% if DO_AERO_ANL %}
            - "logs/{{ cycle_YMDH }}/{{ RUN }}_aeroanlgenb.log"
            - "logs/{{ cycle_YMDH }}/{{ RUN }}_aeroanlinit.log"
            - "logs/{{ cycle_YMDH }}/{{ RUN }}_aeroanlvar.log"
            - "logs/{{ cycle_YMDH }}/{{ RUN }}_aeroanlfinal.log"
            - "{{ COMIN_CHEM_ANALYSIS }}/{{ head }}aero_analysis.ioda_hofx.tar.gz"
            - "{{ COMIN_CONF }}/{{ head }}aerovar.yaml"
                {% for itile in range(1,7) %}
            - "{{ COMIN_CHEM_ANALYSIS }}/aeroinc.{{ cycle_YMD }}.{{ cycle_HH }}0000.fv_tracer.res.tile{{ itile }}.nc"
                {% endfor %}
            # Analysis Master GRIB2 data
            - "{{ COMIN_ATMOS_MASTER | relpath(ROTDIR) }}/{{ head }}master.analysis.grib2"
            - "{{ COMIN_ATMOS_MASTER | relpath(ROTDIR) }}/{{ head }}master.analysis.grib2.idx"
            
            # Analysis GRIB2 (sub-sampled) data
            - "{{ COMIN_ATMOS_GRIB_0p25 | relpath(ROTDIR) }}/{{ head }}pres_a.0p25.analysis.grib2"
            - "{{ COMIN_ATMOS_GRIB_0p25 | relpath(ROTDIR) }}/{{ head }}pres_a.0p25.analysis.grib2.idx"
            - "{{ COMIN_ATMOS_GRIB_0p50 | relpath(ROTDIR) }}/{{ head }}pres_a.0p50.analysis.grib2"
            - "{{ COMIN_ATMOS_GRIB_0p50 | relpath(ROTDIR) }}/{{ head }}pres_a.0p50.analysis.grib2.idx"
            - "{{ COMIN_ATMOS_GRIB_1p00 | relpath(ROTDIR) }}/{{ head }}pres_a.1p00.analysis.grib2"
            - "{{ COMIN_ATMOS_GRIB_1p00 | relpath(ROTDIR) }}/{{ head }}pres_a.1p00.analysis.grib2.idx"
            # temporarily disable pres_b products archiving.
            #- "{{ COMIN_ATMOS_GRIB_0p25 | relpath(ROTDIR) }}/{{ head }}pres_b.0p25.analysis.grib2"
            #- "{{ COMIN_ATMOS_GRIB_0p25 | relpath(ROTDIR) }}/{{ head }}pres_b.0p25.analysis.grib2.idx"
            #- "{{ COMIN_ATMOS_GRIB_0p25 | relpath(ROTDIR) }}/{{ head }}pres_b.0p50.analysis.grib2"
            #- "{{ COMIN_ATMOS_GRIB_0p25 | relpath(ROTDIR) }}/{{ head }}pres_b.0p50.analysis.grib2.idx"
            #- "{{ COMIN_ATMOS_GRIB_1p00 | relpath(ROTDIR) }}/{{ head }}pres_b.1p00.analysis.grib2"
            #- "{{ COMIN_ATMOS_GRIB_1p00 | relpath(ROTDIR) }}/{{ head }}pres_b.1p00.analysis.grib2.idx"

            # Analysis netCDF (raw) data
            - "{{ COMIN_ATMOS_ANALYSIS | relpath(ROTDIR) }}/{{ head }}analysis.atm.a006.nc"
            - "{{ COMIN_ATMOS_ANALYSIS | relpath(ROTDIR) }}/{{ head }}analysis.sfc.a006.nc"
            {% endif %}
            {% if DO_PREP_OBS_AERO %}
            - "{{ COMIN_OBS }}/{{ head }}aeroobs"
            - "{{ COMIN_OBS }}/{{ head }}aerorawobs"
            {% endif %}
            # Forecast and post logs
            - "logs/{{ cycle_YMDH }}/{{ RUN }}_fcst_seg0.log"

            {% for fhr in range(0, FHMAX + 1, 3) %}
                {% set fhr3 = '%03d' % fhr %}
            - "logs/{{ cycle_YMDH }}/{{ RUN }}_atmos_prod_f{{ fhr3 }}.log"
                {% if not WRITE_DOPOST %}
            - "logs/{{ cycle_YMDH }}/{{ RUN }}_atmos_upp_f{{ fhr3 }}.log"
                {% endif %}  ## not WRITE_DOPOST
            # Forecast GRIB2 data
            - "{{ COMIN_ATMOS_GRIB_0p25 }}/{{ head }}pres_a.0p25.f{{ fhr3 }}.grib2"
            - "{{ COMIN_ATMOS_GRIB_0p25 }}/{{ head }}pres_a.0p25.f{{ fhr3 }}.grib2.idx"
            - "{{ COMIN_ATMOS_GRIB_1p00 }}/{{ head }}pres_a.1p00.f{{ fhr3 }}.grib2"
            - "{{ COMIN_ATMOS_GRIB_1p00 }}/{{ head }}pres_a.1p00.f{{ fhr3 }}.grib2.idx"
            # Forecast GRIB2 fluxes
            - "{{ COMIN_ATMOS_MASTER }}/{{ head }}sflux.f{{ fhr3 }}.grib2"
            - "{{ COMIN_ATMOS_MASTER }}/{{ head }}sflux.f{{ fhr3 }}.grib2.idx"
            # FV3 log
            - "{{ COMIN_ATMOS_HISTORY }}/{{ head }}log.f{{ fhr3 }}.txt"
            # Raw netCDF forecasts
            - "{{ COMIN_ATMOS_HISTORY }}/{{ head }}atm.f{{ fhr3 }}.nc"
            - "{{ COMIN_ATMOS_HISTORY }}/{{ head }}sfc.f{{ fhr3 }}.nc"
            {% endfor %}
            {# restart_prefixes are pre-calculated in Python #}
            # Now get the restart files.
            {% for r_prefix in restart_prefixes %}
            {% for itile in range(1, 7) %}
            {% for datatype in ["fv_core.res", "fv_srf_wnd.res", "fv_tracer.res", "phy_data", "sfc_data"] %}
            - "{{ COMIN_ATMOS_RESTART }}/{{ r_prefix }}.{{datatype}}.tile{{ itile }}.nc"
            {% if DO_CA %}
            - "{{ COMIN_ATMOS_RESTART }}/{{ r_prefix }}.ca_data.tile{{ itile }}.nc"
            {% endif %}
            {% endfor %}
            {% endfor %}
            - "{{ COMIN_ATMOS_RESTART }}/{{ r_prefix }}.coupler.res"
            - "{{ COMIN_ATMOS_RESTART }}/{{ r_prefix }}.fv_core.res.nc"
            {% endfor %}

# Archive the EXPDIR if requested
{% if archive_expdir %}
{% filter indent(width=4) %}
{% include "expdir.yaml.j2" %}
{% endfilter %}
{% endif %}
