{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set head = RUN ~ ".t" ~ cycle_HH ~ "z.6hr_avg.f*." %}
{% for mem in range(0, NMEM_ENS + 1) %}
{% set mem_char = 'mem%03d' | format(mem) %}
{% set tmpl_dict = ({ '${ROTDIR}':ROTDIR,
                              '${RUN}':RUN,
                              '${YMD}':cycle_YMD,
                              '${HH}':cycle_HH,
                              '${MEMDIR}': mem_char }) %}
ocean_product_6hravg_{{ mem_char }}:
    name: "OCEAN_PRODUCT_6HRAVG_{{ mem_char }}"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/ocean_product_6hravg_{{ mem_char }}.tar"
    required:
        {% set COMIN_OCEAN_NETCDF = COM_OCEAN_NETCDF_TMPL | replace_tmpl(tmpl_dict) %}
        - "{{ COMIN_OCEAN_NETCDF | relpath(ROTDIR) }}/native/{{ head }}nc"
{% endfor %}
