ocean_6hravg:
    {% set head = "gfs.ocean.t" + cycle_HH + "z." %}
    name: "OCEAN_6HRAVG"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/ocean_6hravg.tar"
    required:
        {% for fhr in range(6, FHMAX_GFS + 6, 6) %}
        - "{{ COM_OCEAN_HISTORY | relpath(ROTDIR) }}/{{ head }}6hr_avg.f{{ '%03d' % fhr }}.nc"
        {% endfor %}
