ocean_daily:
    {% set head = "gfs.ocean.t" + cycle_HH + "z." %}
    name: "OCEAN_DAILY"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/ocean_daily.tar"
    required:
        {% for fhr in range(24, FHMAX_GFS + 24, 24) %}
        - "{{ COM_OCEAN_HISTORY | relpath(ROTDIR) }}/{{ head }}daily.f{{ '%03d' % fhr }}.nc"
        {% endfor %}
