{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set cycle_Y = current_cycle | strftime("%Y") %}
{% set cycle_YM = current_cycle | strftime("%Y%m") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_HH = current_cycle | strftime("%H") %}
target:
    tarball: "/work2/noaa/global/role-global/data/GCAFS_ExtData/com_gfs_{{ gdas_version }}_gdas.{{ cycle_YMD }}_{{ cycle_HH }}.gdas_nc.tar"
    on_hpss: False
    contents:
        # Atmospheric analysis
        - ./gdas.{{ cycle_YMD }}/{{ cycle_HH }}/atmos/gdas.t{{ cycle_HH }}z.atmanl.nc
        # Surface analysis
        - ./gdas.{{ cycle_YMD }}/{{ cycle_HH }}/atmos/gdas.t{{ cycle_HH }}z.sfcanl.nc
    destination: "{{ ROTDIR }}"
