{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set cycle_Y = current_cycle | strftime("%Y") %}
{% set cycle_YM = current_cycle | strftime("%Y%m") %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_HH = current_cycle | strftime("%H") %}
target:
    tarball: "/work/noaa/da/cmartin/june2025/gcafs/gcafs-tars/com_gfs_{{ gdas_version }}_gdas.{{ cycle_YMD }}_{{ cycle_HH }}.gdas_restart.tar.gz"
    on_hpss: False
    contents:
        # NSST analysis
        - ./gdas.{{ cycle_YMD }}/{{ cycle_HH }}/atmos/gdas.t{{ cycle_HH }}z.dtfanl.nc
    destination: "{{ ROTDIR }}"
