$ Input file for interpolation of GLO30m_ext Grid
$------------------------------------------------
$ Start Time DT NSteps
 TIME DT NSTEPS
$ Total number of grids 
 3
$ Grid extensions 
  'gnh_10m'
  'aoc_9km'
  'ak_10m'
$
 0
$
