$ Input file for interpolation of GLO30m_ext Grid
$------------------------------------------------
$ Start Time DT NSteps
 TIME DT NSTEPS
$ Total number of grids 
 2
$ Grid extensions 
  'uglo_15km'
  'glo_30m'
$
 0
$
