$ Input file for interpolation of Global Core 10min Grid
$------------------------------------------------
$ Start Time DT NSteps
 TIME DT NSTEPS
$ Total number of grids 
 2
$ Grid extensions 
  'uglo_15km'
  'gnh_10m'
$
 0
$
