$ Input file for interpolation of Southern Hemisphere 10m Grid
$------------------------------------------------
$ Start Time DT NSteps
 TIME DT NSTEPS
$ Total number of grids 
 2
$ Grid extensions 
  'uglo_15km'
  'gsh_15m'
$
 0
$
