$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'ICE' 'LL' T T
$
 longitude latitude
$
$ Variables to use --------------------------------------------------- $
$
 ICEC_meansealevel
$
  'icean_5m.nc'
$ end of input file
