$ -------------------------------------------------------------------- $
$ WAVEWATCH III shel input file                                        $
$ -------------------------------------------------------------------- $
$ Include ice and mud parameters only if IC1/2/3/4 used :
   F F     Water levels
   CURRLINE
   WINDLINE
   ICELINE
   F F     Atmospheric momentum
   F F     Air density
   F       Assimilation data : Mean parameters
   F       Assimilation data : 1-D spectra
   F       Assimilation data : 2-D spectra
$
   RUN_BEG
   RUN_END
$
$ IOSTYP
   IOSRV
$
   OUT_BEG  DTFLD  OUT_END GOFILETYPE
   N
   OUTPARS
$
   OUT_BEG  DTPNT  OUT_END POFILETYPE
BUOY_FILE
$
   OUT_BEG      0  OUT_END
$
$ Keep next two lines formatting as is to allow proper parsing
   RST_BEG   DTRST  RST_END RSTTYPE
RST_2_BEG   DT_2_RST  RST_2_END
$
   OUT_BEG      0  OUT_END
$
   OUT_BEG      0  OUT_END
$
  'the_end'  0
$
  'STP'
$
$ End of input file
