$ Input file for interpolation of GRIDIN to GRIDOUT
$------------------------------------------------
$ Start Time DT NSteps
 TIME DT NSTEPS
$ Total number of grids 
 2
$ Grid extensions 
  'GRIDIN'
  'GRIDOUT'
$
 0
$
