$ WAVEWATCH-III gridded output input file 
$ ----------------------------------------
@[time] @[dt] @[nt]
N
@[grib_flags]
$
@[time]  7 @[modnr] @[gridnr] 0 20
$
 -60 0 8.64919046313 8.64919046313 64
$ end of input file
