{# dev/parm/ufs/gocart/AGCM.rc.j2 #}
{# Atmospheric Model Configuration Parameters — must be present but empty for UFS Aerosols #}
# ------------------------------------------
# Atmospheric Model Configuration Parameters
# ------------------------------------------
#
# This file must be present but empty for UFS Aerosols
