# This file is used to generate config.fcst, which is one of two files
# used to control the forecast job.  The other file is config.fv3.
# This file sets physics, dynamics, and I/O options.

config_fcst:
  filename: config.fcst
  FCSTEXEC: !FirstTrue
    - when: !calc doc.settings.cplflx==".true."
      do: "nems_fv3_ccpp_mom6_cice5_ww3.x"
    - otherwise: "global_fv3gfs.x"
  more_exports_for_microphys: !FirstTrue
    - when: !calc ( doc.fv3_gfs_settings.imp_physics=="11" )
      do: !expand |
        export hord_mt_nh_nonmono={doc.fv3_gfs_settings.phy_dependent_var.hord_mt_nh_nonmono}
        export hord_xx_nh_nonmono={doc.fv3_gfs_settings.phy_dependent_var.hord_xx_nh_nonmono}
        export vtdm4_nh_nonmono={doc.fv3_gfs_settings.phy_dependent_var.vtdm4_nh_nonmono}
        export nord={doc.fv3_gfs_settings.phy_dependent_var.nord}
        export dddmp={doc.fv3_gfs_settings.phy_dependent_var.dddmp}
        export d4_bg={doc.fv3_gfs_settings.phy_dependent_var.d4_bg}
    - otherwise: ""

  level_127: !FirstTrue
    - when: !calc doc.fv3_gfs_settings.LEVS==128
      do: !expand |
         export  tau=5.0
         export  rf_cutoff=1.0e3
         export  d2_bg_k1=0.20
         export  d2_bg_k2=0.0
    - otherwise: ""

  resource_a: !FirstTrue
    - when: !calc doc.settings.cplflx==".true."
      do: !calc doc.partition_common.resources.run_coupled_fcst
    - otherwise: !calc doc.partition_common.resources.run_gdasfcst

  resource_b: !FirstTrue
    - when: !calc doc.settings.cplflx==".true."
      do: !calc doc.partition_common.resources.run_coupled_fcst
    - otherwise: !calc doc.partition_common.resources.run_gfsfcst

  content: !expand |
    #!/bin/ksh -x
    
    # This file is automatically generated from the YAML-based system
    # in ecf/ecfutils/.  Any changes will be overwritten if
    # setup_case.sh is rerun.
    
    ########## config.fcst ##########
    # Forecast specific
    
    echo "BEGIN: config.fcst"
    
    # Source model specific information that is resolution dependent
    . $EXPDIR/config.fv3 $CDUMP
    
    if [ $DONST = "YES" ]; then
        . $EXPDIR/config.nsst
    fi

    export npe_fcst="{resource_a[0].mpi_ranks}"
    export npe_fcst_gfs="{resource_b[0].mpi_ranks}"
    export npe_node_fcst="{resource_a[0].max_ppn}"
    export nth_fcst="{doc.fv3_gfs_settings.layout.nth}"
    export NTHREADS_FV3="{doc.fv3_gfs_settings.layout.nth}"
    export memory_fcst="1024M"

    #######################################################################
    # PE Mapping
    export ATMPETS="{doc.fv3_gfs_settings.ATMPETS}"
    export OCNPETS="{doc.ocn_settings.OCNPETS}"
    export ICEPETS="{doc.ice_settings.ICEPETS}"
    export WAVPETS="{doc.wave_settings.WAVPETS}"
    #
    #######################################################################    

    if [[ "$machine" == "WCOSS_C" ]]; then
        export memory_fcst="1024M"
    elif [[ "$machine" == "GAEA" ]]; then
        export memory_fcst="1024M"
    fi
    
    export FORECASTSH="$HOMEgfs/scripts/exglobal_fcst_nemsfv3gfs.sh"
    export FCSTEXECDIR="$HOMEgfs/exec"
    export FCSTEXEC="{FCSTEXEC}"
   
    # Model configuration
    export TYPE="{doc.fv3_gfs_settings.nh_type}"
    export MONO="{doc.fv3_gfs_settings.MONO}"
    export launch_level=27

    # Options of stratosphere O3 physics reaction coefficients
    export new_o3forc="{tools.YES_NO(doc.fv3_gfs_settings.new_o3force)}"

    # fv3_core_nml section
    export dnats={doc.fv3_gfs_settings.phy_dependent_var.dnats}
    export do_sat_adj="{tools.fort(doc.fv3_gfs_settings.phy_dependent_var.do_sat_adjust)}"
    export nwat={doc.fv3_gfs_settings.phy_dependent_var.nwat}

    # gfs_physics_nml section
    export h2o_phys="{tools.fort(doc.fv3_gfs_settings.h2o_phys)}"

    export ncld={doc.fv3_gfs_settings.phy_dependent_var.ncld}

    export IALB=1
    export IEMS=1
    export ISOL=2
    export IAER=111
    export ICO2=2

    export icliq_sw=1
    export iovr_lw=1
    export iovr_sw=1
    export isubc_sw=2
    export isubc_lw=2
    
    export cal_pre="{tools.fort(doc.fv3_gfs_settings.phy_dependent_var.cal_pre)}"
    export hybedmf=.true.
    export satmedmf=.false.
    export isatmedmf=0
    tbf=""
    if [ $satmedmf = ".true." ]; then tbf="_satmedmf" ; fi

    export lheatstrg=.false.

    export random_clds="{tools.fort(doc.fv3_gfs_settings.phy_dependent_var.random_clds)}"
    #export cnvcld="{tools.fort(doc.fv3_gfs_settings.cnvcld)}"

    export FIELD_TABLE="{doc.fv3_gfs_settings.phy_dependent_var.FIELD_TABLE}"
    {more_exports_for_microphys}
    {level_127}

    # Stochastic physics parameters
    # nam_stochy section
    export SEEDLET="{doc.fv3_gfs_settings.SEEDLET}"
    export DO_SKEB="{tools.fort(doc.fv3_gfs_settings.DO_SKEB)}"
    export DO_SHUM="{tools.fort(doc.fv3_gfs_settings.DO_SHUM)}"
    export DO_SPPT="{tools.fort(doc.fv3_gfs_settings.DO_SPPT)}"

    export SKEB=0.6,-999,-999,-999,-999
    export iseed_skeb=$ISEED_SKEB
    export SKEB_TAU=2.16E4,1.728E5,2.592E6,7.776E6,3.1536E7
    export SKEB_LSCALE=500.E3,1000.E3,2000.E3,2000.E3,2000.E3
    export SKEBNORM=1
    
    export SPPT=0.8,0.4,0.2,0.08,0.04
    export iseed_sppt=$ISEED_SPPT
    export SPPT_TAU=2.16E4,2.592E5,2.592E6,7.776E6,3.1536E7
    export SPPT_LSCALE=500.E3,1000.E3,2000.E3,2000.E3,2000.E3
    export sppt_logit=.TRUE.
    export sppt_sfclimit=.true.
    export use_zmtnblck=.true.

    #---------------------------------------------------------------------
    # Disable the use of coupler.res; get model start time from model_configure
    export USE_COUPLER_RES="NO"
    
    if [[ "$CDUMP" == "gdas" ]] ; then # GDAS cycle specific parameters
    
        # Variables used in DA cycling
        if [ $QUILTING = ".true." -a $OUTPUT_GRID = "gaussian_grid" ]; then
            export DIAG_TABLE="$HOMEgfs/parm/parm_fv3diag/diag_table_da"
        else
            export DIAG_TABLE="$HOMEgfs/parm/parm_fv3diag/diag_table_da_orig"
        fi
    
        # Write restart files at next assimilation time
        export restart_interval=6
        export npe_remap={doc.partition_common.resources.fallback_run_gfsremap[0].mpi_ranks}
        export nth_remap={doc.partition_common.resources.fallback_run_gfsremap[0].OMP_NUM_THREADS}

    elif [[ "$CDUMP" == "gfs" ]] ; then # GFS cycle specific parameters
    
        # Write more variables to output
        if [ $QUILTING = ".true." -a $OUTPUT_GRID = "gaussian_grid" ]; then
            export DIAG_TABLE="$HOMEgfs/parm/parm_fv3diag/diag_table"
        else
            export DIAG_TABLE="$HOMEgfs/parm/parm_fv3diag/diag_table_orig"
        fi
        export npe_remap={doc.partition_common.resources.fallback_run_gfsremap[0].mpi_ranks}
        export nth_remap={doc.partition_common.resources.fallback_run_gfsremap[0].OMP_NUM_THREADS}

    fi

    if [[ $cpl == .true. ]] ; then # coupled model
        export DIAG_TABLE="$HOMEgfs/parm/parm_fv3diag/diag_table_cpl"
    fi
    
    # Regrid tiles to global Gaussian grid in NEMSIO
    export REGRID_NEMSIO_SH="$HOMEgfs/ush/fv3gfs_regrid_nemsio.sh"
    if [ $DONST = YES ]; then
        export REGRID_NEMSIO_TBL="$HOMEgfs/parm/parm_fv3diag/variable_table_da.txt"
    else
        export REGRID_NEMSIO_TBL="$HOMEgfs/parm/parm_fv3diag/variable_table_da_nonsst.txt"
    fi
    
    # Remap tiles to global latlon grid in NetCDF
    export REMAPSH="$HOMEgfs/ush/fv3gfs_remap.sh"
    export master_grid="{doc.post.master_grid}"                   # 1deg 0p5deg 0p25deg 0p125deg etc
    
    # Global latlon NetCDF to nemsio utility parameters
    export NC2NEMSIOSH="$HOMEgfs/ush/fv3gfs_nc2nemsio.sh"
    
    # Remember config.efcs will over-ride these values for ensemble forecasts
    # if these variables are re-defined there.
    # Otherwise, the ensemble forecast will inherit from config.fcst
    
    echo "END: config.fcst"
    
