@import "default.css";

div.admonition-todo {
border-top: 2px solid red;
border-bottom: 2px solid red;
border-left: 2px solid red;
border-right: 2px solid red;
background-color: #ff6347
}

p.admonition-title {
    display: offline;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.add-space {
    margin-bottom: 30px;
}

.border-figure {
    border: 2px solid grey;
    padding: 4px;
    border-radius: 4px;
}

/*p.first.admonition-title {
background-color: #aa6347;
width: 100%;
}
*/
