nexus_emission:
  data_in:
    link:
      - ["{{ NEXUS_INPUT_DIR }}", "{{ LOCAL_INPUT_DIR }}"]
    copy:
      - ["{{ NEXUS_EXECUTABLE }}", "{{ DATA }}/"]
  data_out:
    mkdir:
      - "{{ COMOUT_CHEM_INPUT }}"
      - "{{ COMOUT_CHEM_RESTART }}"
    copy:
      {% for fileout in FINAL_OUTPUT %}
      - ["{{ DATA }}/{{ fileout }}", "{{ COMOUT_CHEM_INPUT }}/"]
      {% endfor %}
      - ["{{ DATA }}/Restarts/{{ RestartFile }}", "{{ COMOUT_CHEM_RESTART }}/"]
